﻿@model SystemOfProductionControl.JournalOfReturned

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Подтвердите удаление</h3>
<div>
    <h4>Удаление записи</h4>
    <hr />
    <dl class="dl-horizontal">
    
        <dt>
            Продукт
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductType.Name)
        </dd>

        <dt>
            Номер
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            Дата Продажи
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfSale)
        </dd>

        <dt>
           Дата добавления
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>

        <dt>
            Дата возврата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateWriteOff)
        </dd> 

        <dt>
          Комментарий
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairComments.Text)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" />   
        </div>
    }
</div>
