﻿@model SystemOfProductionControl.JournalOfReturned

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JournalOfReturned</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateWriteOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateWriteOff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JournalOfRepair.NumberBlock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalOfRepair.NumberBlock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepairComments.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairComments.Text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
