﻿@model SystemOfProductionControl.JournalOfReturned

@{
    ViewBag.Title = "Edit";
}

 
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
    
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Comment)
        @Html.HiddenFor(model => model.TypeProduct)
        <div class="form-group" style="width: 80vw;margin: auto">
            
            @Html.Label("Продукт: "+@Model.ProductType.Name, htmlAttributes: new { @class = "fcontrol-label col-md-2" })
            @*<div class="col-md-10">
                @Html.DropDownList("TypeProduct", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TypeProduct, "", new { @class = "text-danger" })
            </div>*@
        </div>

        
            <input type="hidden" name="IDOfRepair" value="@Model.IDOfRepair"/>
    

        <div class="form-group" style="width: 80vw;margin: auto">
            @Html.Label("Номер", htmlAttributes: new { @class = "fcontrol-label col-md-2" })
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.Number, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Number, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group" style="width: 80vw;margin: auto">
            @Html.Label("Дата продажи", htmlAttributes: new { @class = "fcontrol-label col-md-2" })
            
            <div class="col-md-10">
              @{
                  String DateOfSaleValue = "";

                  if (Model.DateOfSale != null)
                  {
                      DateOfSaleValue = Model.DateOfSale.Value.ToString("yyyy-MM-dd");
                  }
              }
                <input type="date" class="form-control" name="DateOfSale" value="@DateOfSaleValue" />
              
                @Html.ValidationMessageFor(model => model.DateOfSale, "", new { @class = "text-danger" })
            </div>
        </div>
        
        
        <div class="form-group" style="width: 80vw;margin: auto">
            @Html.Label("Цена", htmlAttributes: new { @class = "fcontrol-label col-md-2" })
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new {htmlAttributes = new {@class = "form-control"}}) 
            </div>
        </div>

        <div class="form-group" style="width: 80vw;margin: auto">
            @Html.Label("Дата создания", htmlAttributes: new { @class = "fcontrol-label col-md-2" })
            
            <div class="col-md-10"> 
                <input type="date" class="form-control" name="DateCreate" value="@Model.DateCreate.ToString("yyyy-MM-dd")"/>
                @Html.ValidationMessageFor(model => model.DateCreate, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group" style="width: 80vw;margin: auto">
            
            

            @Html.Label(" Дата возврата", htmlAttributes: new {@class = "fcontrol-label col-md-2"})
            <div class="col-md-10">
                @{
        String DateWriteOffValue = "";

        if (Model.DateWriteOff != null)
        {
            DateWriteOffValue = Model.DateWriteOff.Value.ToString("yyyy-MM-dd");
        }
                }

                <input type="date" class="form-control" name="DateWriteOff" value="@DateWriteOffValue" />
                @Html.ValidationMessageFor(model => model.DateWriteOff, "", new { @class = "text-danger" })
            </div>
        </div>

     
             
            
          
          
     

        <div class="form-group" style="width: 80vw;margin: auto">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}
 