﻿@model IEnumerable<SystemOfProductionControl.JournalOfReturned>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfSale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateWriteOff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JournalOfRepair.NumberBlock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepairComments.Text)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfSale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateWriteOff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JournalOfRepair.NumberBlock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepairComments.Text)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
