﻿@model IEnumerable<SystemOfProductionControl.Models.ActOfTransfer_namespace.ActOfTransferIndexVmModel>
@using SystemOfProductionControl.Models



@if (Model?.Count() > 0)
{

    //String act = @Model.FirstOrDefault().ActId.ToString();


    <table width="100%" class="table">

        <tr>

            <th>
                <input name="CheckAllSelector" id="CheckBoxJournal" type="checkbox" onclick="selectAllByName(this,'JournalCheckBox');" value="0">
            </th>
            <th>
                Номер
            </th>
            <th>
                Дата создания
            </th>
            <th>
                Распорядительная
            </th>
            <th>
                Сопроводительный документ
            </th>
            <th>
                Оборудование
            </th>

            <th>

            </th>
        </tr>


        @foreach (var item in Model)
        {
            String d = "";

            foreach (var VARIABLE in item.JournalOfReturnedGroupProduct)
            {
                if (d != "")
                {
                    d += ", ";
                }
                d += VARIABLE;
            }

            <tr>

                <th>
                    <input class="checkboxSelected" name="JournalCheckBox" id="JournalCheckBox" type="checkbox" value="@item.ID">
                </th>

                <td>
                    @item.NomerInAct
                </td>
                <td>
                    @item.DateCreate.ToString("dd-MM-yy")
                </td>
                <td>
                    @item.Administrative
                </td>


                <td>
                    @item.TransferMail
                </td>

                <td>
                    @d
                </td>

                <td width="120px">
                    <a href="/ActOfTransfers/Edit?id=@item.ID" class="btn btn-primary" role="button" style="margin-right: 5px">
                        <span class="fa fa-pencil"></span>
                    </a>

                    <a href="/ActOfTransfers/Delete?id=@item.ID" class="btn btn-danger" role="button" style="margin-right: 5px">
                        <span class="fa fa-remove"></span>
                    </a>
                </td>
            </tr>

        }





    </table>


}
else

{


    <div style="margin-left: auto; margin-right: auto; float: initial;">Нет записей</div>


}

