﻿@model SystemOfProductionControl.Models.ApplicationReturned
@using SystemOfProductionControl.Models
@{
    ViewBag.Title = "Create";
    SelectList City = ViewBag.City;
    SelectList Companies = ViewBag.Companies;
}

 

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal" style="width: 200px">

 

 
        <div id="City" class="form-group">
            <table style="width: 100%;">
                <tr>
                    <td>
                        @Html.DropDownList("CityID", City, htmlAttributes: new { @class = "form-control", @id = "CityID", @style = "width:240px;font-size:12px;" })
                    </td>
                    <td>
                        <button type="button" onclick='document.getElementById("City").style.display = "none";document.getElementById("CityCreate").style.display = "block";' id="CityCreateButton" class="btn btn-success btn-sm" style="margin-left: 2px;">
                            <span class="fa fa-pencil"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div> 

        <div style="display: none;" id="CityCreate" class="form-group">
            <table style="width: 100%;">
                <tr>
                    <td>
                        @Html.TextBox("CityNew", "", htmlAttributes: new { @class = "form-control" })
                    </td>
                    <td>
                        <button type="button" id="CityIdButton" onclick='document.getElementById("City").style.display = "block";document.getElementById("CityCreate").style.display = "none";' class="btn btn-danger btn-sm" style="margin-left: 2px;">
                            <span class="fa fa-remove"></span>
                        </button>

                </tr>
            </table>
        </div> 

        <div id="Company" class="form-group">
            <table style="width: 100%;">
                <tr>
                    <td id="CompanyIDtd">
                        @Html.DropDownList("CompanyID", Companies, htmlAttributes: new { @class = "form-control", @style = "width:240px;font-size:12px;", @id = "CompanyID" })

                    </td>
                    <td>
                        <button type="button" onclick='document.getElementById("CompanyCreate").style.display = "block";document.getElementById("Company").style.display = "none";' class="btn btn-success btn-sm" style="margin-left: 2px;">
                            <span class="fa fa-pencil"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>


        <div style="display: none;" id="CompanyCreate" class="form-group">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <div>
                            <div> Название </div>
                            <div>
                                @Html.TextBox("CompanyName", "", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>

                        <div>
                            <div> Телефон </div>
                            <div>
                                @Html.TextBox("CompanyPhone", "", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align: top;">
                        <button type="button" onclick='document.getElementById("Company").style.display = "block";document.getElementById("CompanyCreate").style.display = "none";' class="btn btn-danger btn-sm" style="margin-top: 20px; margin-left: 2px;">
                            <span class="fa fa-remove"></span>
                        </button>
                </tr>
            </table>
        </div>
    
    <div class="form-group" style="width: 80vw;margin: auto">
        <table style="width: 100%;">
            <tr>
                <td>
                    @Html.Label("Договор номер", htmlAttributes: new {@class = "control-label col-md-2", @style = "width: 150px;" })
                    
                </td>
                <td>
                    @Html.TextBox("DocNumber", "", htmlAttributes: new { @class = "form-control", @style = "width: 150px;" })
                </td>
            </tr>
        </table>
    </div> 
    
    
    <div class="form-group" style="width: 80vw;margin: auto">
        <table style="width: 100%;">
            <tr>
                <td>
                    @Html.Label("Дата Создания", htmlAttributes: new {@class = "control-label col-md-2", @style = "width: 150px;" })
                </td>
                <td>
                    <input type="date" name="DateCreate" style="width: 150px;" value="@DateTime.Now.AddHours(4).ToString("yyyy-MM-dd")" class="form-control" />
                </td>
            </tr>
        </table>
    </div> 

    
    <div class="form-group" style="width: 80vw;margin: auto">
        <table style="width: 100%;">
            <tr>
                <td>
                    @Html.Label("Дата возврата", htmlAttributes: new { @class = "control-label col-md-2", @style = "width: 150px;" })
                </td>
                <td>
                    <input type="date" name="DateCompletion" style="width: 150px;" value="@DateTime.Now.AddHours(4).ToString("yyyy-MM-dd")" class="form-control" />
                </td>
            </tr>
        </table>
    </div> 

     

    <div class="form-group" style="width: 80vw;margin: auto">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Создать" class="btn btn-default" />
        </div>
    </div>
</div>
}

@section scripts{
    <script>


        $(function() {
            $("#CityID")
                .change(function() {
                    getCompany();
                });
        });

        function getCompany() {
            var data = {
                ID: $("#CityID").val()
            };

            $.getJSON("/JournalOfRepairs/AjaxGetCompany", data, setCompany);
        }

        function setCompany(company) {
            $('#CompanyIDtd').empty();
            $("#CompanyIDtd")
                .append('<select name="CompanyID" id="CompanyID" class = "form-control" style = "width:240px;font-size:12px; "> </select>'); 
            $.each(company,
                function(i) {
                    $("#CompanyID")
                        .append('<option value="' + company[i].Value + '">' + company[i].Text + '</option>');
                });
        
            if (companyCurrent !== -1) {

                $("#CompanyID").val(companyCurrent);
                companyCurrent = -1;
            }
        
        };


    </script>


}