﻿@model SystemOfProductionControl.Models.ApplicationReturned
@using SystemOfProductionControl.Models
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Удалить документ и все входяшие в него элементы?</h3>
<div>
    <h4>Документ тестдрайва @Model.ID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Дата создания
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>

        <dt>
            Компания
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company1.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" />

        </div>
    }
</div>
