﻿@model SystemOfProductionControl.Models.ApplicationReturned
    @using SystemOfProductionControl.Models
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApplicationReturned</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationStatus.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationStatus.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company1.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
