﻿@using SystemOfProductionControl.other
@using SystemOfProductionControl.Models
@model SystemOfProductionControl.Models.ApplicationReturned_namespace.ApplicationReturnedEditVmModel

@{
    ViewBag.Title = "Edit";

    SelectList TypeProductID = ViewBag.TypeProductID;

    DateTime? CompletionDate = ViewBag.CompletionDate;
}




<div>

    <div class="row" style="width: 80vw;margin: auto" ">

        <div class="card" style="width: 80vw;margin: auto">



            <div class="card-header">


                <table width="100%">

                    <tr style="width: 80vw;margin: auto">
                        <td></td>
                        <td style="text-align: center;">
                            <div style="text-align: center;">
                                <b>Документ тестдрайв № </b>
                                @Model.ID
                            </div>


                        </td>

                        <td style="width: 600px;">

                            <div style="float: right; margin: 10px;">


                                @*<div style="margin-top: 5px;">*@
                                @*<div>*@
                                @*<a href="/Applications/Report4/?id=@Model.ID" target="_blank" class="btn btn-success" role="button" style="margin: 2px; width: 130px;">
                                        <span class="fa fa-print"></span> Заявка
                                    </a>*@
                                @*</div>*@


                                <dl class="dl-horizontal">
                                    <dt>
                                        Дата создания:
                                    </dt>
                                    <dd>
                                        @Model.DateCreate.ToString("dd:MM:yyyy")
                                    </dd>

                                    <dt>
                                        Дата завершения:
                                    </dt>
                                    <dd>
                                        @Model.CompletionDate.ToString("dd:MM:yyyy")
                                    </dd>

                                    @if (CompletionDate != null)
                                    {
                                        <dt>
                                            Дата завершения по Доп.Соглашению:
                                        </dt>
                                        <dd>
                                            @CompletionDate.Value.ToString("dd:MM:yyyy")
                                        </dd>
                                    }
                                </dl>

                                @*</div>*@

                            </div>

                        </td>
                    </tr>

                    <tr style="margin-top: 5px;">
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                </table>



                <table width="100%">
                    <tr>
                        <td>
                            <div>
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayName("Заказчик")
                                    </dt>
                                    <dd>
                                        <a href="/Companies/edit?id=@Model.CompanyID">
                                            @Html.DisplayName("Город:")
                                            @Html.DisplayName(@Model.CompanyCity)
                                            @Html.DisplayName(" Организация: ")
                                            @Html.DisplayName(@Model.Company)
                                        </a>
                                    </dd>

                                    <dt>
                                        @Html.DisplayName("ИНН")
                                    </dt>
                                    <dd>
                                        <input type="text" id="inn" maxlength="10" value="@Model.CompanyINN" style="width: 300px;" />
                                    </dd>
                                    <dt>
                                        @Html.DisplayName("КПП")
                                    </dt>
                                    <dd>

                                        <input type="text" id="kpp" maxlength="9" value="@Model.CompanyKPP" style="width: 300px;" />
                                    </dd>

                                    <dt>
                                        @Html.DisplayName("Телефон")
                                    </dt>

                                    <dd>
                                        <input type="text" id="phone" value="@Model.CompanyPhone" style="width: 300px;" />
                                    </dd>


                                </dl>
                            </div>
                        </td>



                        <td>


                            <div style="margin-top: 20px; margin-left: auto; margin-right: 10px; height: 40px;">

                                <a href="/AdditionalAgreements/Index?IDApplication=@Model.ID" class="btn btn-info" role="button" style="margin-right: 10px; width: 180px; float: right;">
                                    Доп соглашения
                                </a>

                            </div>


                        </td>

                    </tr>


                </table>




            </div>



            <div class="card-body" id="Body" style="margin-bottom: 210px">






                <div>

                    <table width="100%">
                        <tr>

                            <td>

                                <a href="/ActOfTransfers/Create?IDAppRet=@Model.ID" class="btn btn-info" role="button" style="margin-right: 10px; width: 180px; float: left;">
                                    <span class="fa fa-plus"></span> Добавить акт
                                </a>


                            </td>
                            <td>
                                @*<div>
                                        <button type="submit" class="btn btn-info" style="margin-right: 12px; float: left;">Списать на тестдрайв </button>
                                    </div>*@
                            </td>
                            <td>
                                <div style="float: right;">





                                    <button type="submit" class="btn btn-danger" style="margin-right: 12px;" onclick="DeleteAllCheckbox()"> Удалить выбранное </button>

                                    @*<a href="/JournalOfRepairs/DeleteAll" class="btn btn-danger" role="button" style="margin-right: 5px">
                                            Удалить выбранное
                                        </a>*@
                                </div>
                            </td>
                        </tr>

                    </table>






                </div>

                <br />


                <div style="margin-top:20px;">


                    <div class="JournalsOfActContainer" id="JournalsOfActContainer">




                        @Html.Partial("~/Views/ApplicationReturned/ActsOfReturnedPartialView.cshtml", Model.ActOfTransferIndexVmModels)


                    </div>


                </div>







            </div>




        </div>


    </div>



</div>











@section scripts{

    <script>


        function DeleteAllCheckbox() {
            var checkbox = $(".checkboxSelected");

            var arr = "";
            var count = 0;
            for (var i = 0; i < checkbox.length; i++) {


                var val = $(checkbox[i]).val();
                var checked = checkbox[i].checked;

                if (checked) {
                    if (count != 0) {
                        arr += "&";
                    }
                    arr += "idArray["+count+"]=" + val; //+ "&";

                    count++;
                }


            }

            if (count == 0) return;
            window.location.href = "/JournalOfRepairs/DeleteAll?" + arr;
        }



        $('#RepairMail').blur(function() {

            SetRepairMail(this);
        });






        $('#inn').blur(function() {

            SetINN(this);
        });

        function SetINN(dateValue) {
            var Data = {
                companyId: @Model.Company,
                text: $(dateValue).val()

            };
            $.getJSON("/Companies/SetINN", Data, null);
        };


        $('#kpp').blur(function() {

            SetKPP(this);
        });

        function SetKPP(dateValue) {
            var Data = {
                companyId: @Model.Company,
                text: $(dateValue).val()

            };
            $.getJSON("/Companies/SetKPP", Data, null);
        };

        $('#phone').blur(function() {

            SetPhone(this);
        });

        function SetPhone(dateValue) {


            var Data = {
                companyId: @Model.Company,
                text: $(dateValue).val()

            };
            $.getJSON("/Companies/SetPhone", Data, null);
        };


        $(function() {

            $('#ButtonGone')
                .click(function() {
                    var button = $(this);
                    // if (name != "Нет") {
                    //if (document.getElementById("Body").style.display == "none") {
                    //    document.getElementById("Body").style.display = "block";

                    // }
                    // else {
                    document.getElementById("Body").style.display = "none";
                    document.getElementById("ButtonVisible").style.display = "block";
                    document.getElementById("ButtonGone").style.display = "none";
                    //  }
                    // document.getElementById("text1").style.display = "block";
                    //}
                });
        });

        $(function() {

            $('#ButtonVisible')
                .click(function() {
                    var button = $(this);
                    // if (name != "Нет") {
                    document.getElementById("Body").style.display = "block";
                    document.getElementById("ButtonGone").style.display = "block";
                    document.getElementById("ButtonVisible").style.display = "none";
                    // document.getElementById("text1").style.display = "block";
                    //}
                });
        });


        $(function() {

            $('#Count')
                .change(function() {
                    var count = $(this).val();


                    $('#NumberBlockDiv').empty();
                    $('#DateOfSaleDiv').empty();
                    var heightSize = 35;

                    if (count > 5) {
                        heightSize = 30;
                    }

                    for (var i = 0; i < count; i++) {


                        $('#NumberBlockDiv')
                            .append('<input type="text" name="NumberBlock[' +
                                i +
                                ']" class="form-control" style="width: 70px; height: ' +
                                heightSize +
                                'px;">');
                        //    $('#DateOfSaleDiv')
                        //        .append('<input type="date" name="DateOfSale[' +
                        //            i +
                        //            ']" class="form-control" style="width: 120px; font-size: 10px; height: ' +
                        //            heightSize +
                        //            'px;">');
                    }

                    var time = @DateTime.Now.Year;

                    var data = '';

                    for (var i = 0; i < count; i++) {


                        data += '<select name="DateOfSaleMM[' +
                            i +
                            ']" class="form-control" style="width: 70px;  float: left;  height: ' +
                            heightSize +
                            'px;">';

                        data += '  <option value="" selected="selected">Нет</option>';
                        for (var j = 1; j <= 12; j++) {

                            data += '<option value="' + j + '">' + j + ' </option>';

                        }

                        data += '</select>';


                        data += '<select name="DateOfSaleYY[' +
                            i +
                            ']" class="form-control" style="width: 80px; float: left; height: ' +
                            heightSize +
                            'px;">';

                        data += '  <option value="" selected="selected">Нет</option>';
                        for (var j = 1990; j < time + 3; j++) {


                            data += '<option value="' + j + '">' + j + ' </option>';

                        }

                        data += '</select>';


                    }


                    $('#DateOfSaleDiv')
                        .append(data);

                });
        });

        $(function() {
            $("#TypeProductID")
                .change(function() {

                    var person = { name: $("#TypeProductID").val() };

                    $.getJSON("/JournalOfRepairs/AjaxTest", person, getWarning);
                });

        });


    </script>


}

