﻿@model IEnumerable<SystemOfProductionControl.Models.ApplicationReturned>

    @using SystemOfProductionControl.Models

    @{
        ViewBag.Title = "Index";
    }


    <form>
        <div class="form-group" style="width: 80vw;margin: auto">
            <div class="btn-group" role="group" text-align="center" margin="auto">
                <button type="submit" formaction="/ApplicationReturned/Create" class="btn btn-primary" text-align="center" margin="auto">
                    <span class="fa fa-file"></span> Новый Документ
                </button>
            </div>
        </div>

        <table class="table table-hover" style="width: 80vw;margin: auto">


            <tr>
                <th>
                    Документ №
                </th>
                <th>
                    Создан
                </th>
                <th>
                    Компания
                </th>
                <th>
                    Город
                </th>

                <th>
                    Дата окончания
                </th>

                <th>

                </th>
            </tr>

            @foreach (var item in Model)
            {
                String link = "/ApplicationReturned/Edit?id=" + @item.ID.ToString();

                String a = "#ffffff";


                <tr class="bg-success">

                    <td width="130px" onclick="GoToLink('@link');">
                        @item.ID
                    </td>
                    <td width="120px" onclick="GoToLink('@link');">
                        @item.DateCreate.ToString("dd-MM-yyyy")
                    </td>
                    <td onclick="GoToLink('@link');" width="200px">
                        @Html.DisplayFor(modelItem => item.Company1.Name)
                    </td>
                    <td onclick="GoToLink('@link');" width="200px">
                        @Html.DisplayFor(modelItem => item.Company1.Cities.Name)
                    </td>

                    <td width="120px" onclick="GoToLink('@link');">
                        @item.CompletionDate.ToString("dd-MM-yyyy")
                    </td>

                    <td width="160px">

                        @*<a href="/ApplicationReturned/Edit?id=@item.ID" class="btn btn-primary" role="button" style="margin-right: 5px">
                                <span class="fa fa-pencil"></span>
                            </a>

                            <a href="/Acts/ApplicationReturned?id=@item.ID" class="btn btn-success" role="button" style="margin-right: 5px;">
                                <span class="fa fa-info-circle"></span>
                            </a>*@

                        <a href="/ApplicationReturned/Delete?id=@item.ID" class="btn btn-danger" role="button" style="margin-right: 5px">
                            <span class="fa fa-remove"></span>
                        </a>

                    </td>
                </tr>
            }

        </table>
    </form>
