﻿@using SystemOfProductionControl.other
@model IEnumerable<SystemOfProductionControl.Models.CompProductModel>
<Table width="100%" class="table"> 

    
    <tr class="bg-success">
        <th></th>
        <th>Название</th>
        <th>Код/АБРМ</th>
        <th>Количество</th>
        <th>Склад</th>
        <th></th>


    </tr>
    

    @foreach (var component in  Model)
    {
        String idTr = "compTr" + component.ID.ToString();

        <tr id="@idTr" class="bg-success" style="height: 60px;">
            <td style="width: 40px;">               
                
                @{

                    String name = component.Name;

                    if (component.Type == BaseEnums.JournalToComponentTypeEnum.Component)
                    {

                        name = "Код:" + component.CodeOrABRM.TrimEnd(' ') + " "+ name.TrimEnd(' ');
                    }
                    else if (component.Type == BaseEnums.JournalToComponentTypeEnum.Product)
                    {
                        name =component.CodeOrABRM.TrimEnd(' ') + " "+ name.TrimEnd(' ');
                    }
                }
                
          
                </td>
            <td>@component.Name</td>
            <td>@component.CodeOrABRM</td>
            <td>@component.Size</td>
            <td>@component.Storage</td>5
            <td>
                <button type="button" onclick="ElementGone('@idTr');removeComponent('@component.Idjournal', '@component.ID', '@((int) component.Type)');" class="btn btn-danger btn-sm" style="margin: 2px; margin-right: 10px;">
                    <span class="fa fa-remove"></span>
                </button>
            </td>
        </tr>
    }
                                 
</Table>