﻿@using SystemOfProductionControl.other
@model IEnumerable<SystemOfProductionControl.Models.CompProductModel>

    <Table width="100%" class="table">
        <tr style="color: black; background-color:#6da698;">
            <th></th>
            <th>Название</th>
            <th>Код/АБРМ</th>
            <th>Количество</th>
            <th>Склад</th>
            <th></th>
        </tr>

        @foreach (var comp in Model)
        {
            String idTr = "compTr" + comp.ID.ToString();
            <tr id="@idTr" style="color: black; background-color:#6da698; height: 60px;">
                <td style="color: black; background-color:#6da698; width: 40px;">
                    @{
                        string name = comp.Name;
                        if (comp.Type == 0)
                        {
                            name = "Код:" + comp.CodeOrABRM.TrimEnd(' ') + " " + name.TrimEnd(' ');
                        }
                        else if (comp.Type == 1)
                        {
                            if (comp.CodeOrABRM != null)
                            {
                                name = comp.CodeOrABRM.TrimEnd(' ') + " " + name.TrimEnd(' ');
                            }
                            else
                            {
                                 name = name.TrimEnd(' ');

                            }

                        }
                    }
               
                </td>
                <td>@comp.Name</td>
                <td>@comp.CodeOrABRM</td>
                <td>@comp.Size</td>
                <td>@comp.Storage</td>
                <td>
                    <button type="button" onclick="ElementGone('@idTr');
    removeComponent('@comp.Idjournal', '@comp.ID', '@((int) comp.Type)');
    "class="btn btn-danger btn-sm" style="margin: 2px; margin-right: 10px;">
                        <span class="fa fa-remove"></span>
                    </button>
                </td>
            </tr>
            }
        </Table>