﻿@using SystemOfProductionControl.Models

@model Application
@{
    ViewBag.Title = "Details";
    List<JournalOfRepairModel> journalOfRepair = ViewBag.journalOfRepair;
    List<CompProductModel> Component = ViewBag.Component;
}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>

<input id="idText" type="hidden" value="@Model.ID.ToString()" />
<div class="row" style="width: 80vw; margin: auto">
    <div class="card" style="width: 80vw;margin: auto">
        <div class="card-header">
            <table width="100%">
                <tr style="width: 80vw;margin: auto">
                    <td>
                    </td>
                    <td style="text-align: center;">
                        <div style="text-align: center;">
                            <b>Заявка №@Model.ID  </b>
                        </div>
                    </td>
                    <td style="width: 80vw;margin: auto">
                        <a href="/Applications/Report5/?id=@Model.ID" target="_blank" class="btn btn-success" role="button" style="margin: 2px; width: 130px; float: right;">
                            <span class="fa fa-print"></span>Компоненты
                        </a>
                    </td>
                </tr>
                <tr style="margin-top: 5px;">
                    <td></td>
                    <td></td>
                    <td>
                        <div style="float: right; margin: 10px;">
                            <div style="margin-top: 5px;">
                                Дата создания: @Model.Data.ToString("yyyy-MM-dd")"
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <br />
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayName("Заказчик")
                    </dt>
                    <dd>
                        @Html.DisplayName("Город:")
                        @Html.DisplayFor(model => model.Act.FirstOrDefault().Company1.Cities.Name)
                        @Html.DisplayName(" Организация: ")
                        @Html.DisplayFor(model => model.Act.FirstOrDefault().Company1.Name)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="card-body" id="Body" style="padding-bottom: 0px;">
            <h3>Проведена замена элементов</h3>
        </div>
        <div class="form-group" style="margin-bottom: 0px;">
            <table width="100%" class="table" id="TableComponent">
                <tr>
                    <th>
                        Код/АБРМ
                    </th>
                    <th>
                        Название
                    </th>
                    <th>
                        Количество
                    </th>
                    <th>
                        Склад
                    </th>
                    <th>
                    </th>
                </tr>
                @if (Component != null)
                {
                    foreach (var item in Component)
                    {
                        <tr>
                            <td>
                                @item.CodeOrABRM
                            </td>
                            <td>
                                @{
                                    String linkComponent = "";
                                    switch (@item.Type)
                                    {
                                        case 0:
                                            {
                                                linkComponent = "/Components/Edit?id=" + item.ID;
                                                break;
                                            }
                                        case 1:
                                            {
                                                linkComponent = "/Products/Edit?id=" + item.ID;
                                                break;
                                            }
                                    }
                                }
                                <a href="@linkComponent">
                                    @item.Name
                                </a>
                            </td>
                            <td>
                                @item.Size
                            </td>
                            <td>
                                @item.Storage
                            </td>
                            <td style="width: 60px;">
                                @{
                                    String idIssued = "idIssued_" + item.ID.ToString() + "_" + ((int)item.Type).ToString();
                                }
                                <input type="text" id="@idIssued" name="Issued" onblur='AddIssued(this,  @item.ID,  @((int)(item.Type)))' value="@item.Issued" style="width: 60px;">
                            </td>
                            <td>
                                <button type="button" id="" onclick='AddIssuedFull("@idIssued", @item.ID, @((int)(item.Type)),@item.Size)' class="btn btn-success btn-sm" style="margin-left: 2px;">
                                    <span class="fa fa-check"></span>
                                </button>
                            </td>
                            <td>
                                <a href="" class="btn btn-primary" role="button" style="margin-right: 5px">
                                    <span class="fa fa-pencil"></span>  Заменить
                                </a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    <div class="card-footer">
        <table class="table table-hover" style="width: 80vw;margin: auto" id="tableFooter">
            <tr>
                <th style="width: 300px;">
                    Название
                </th>
                <th style="width: 80vw;margin: auto">
                    Номер - Дата продажи
                </th>
                <th>
                </th>
                <th>
                    Комментарий
                </th>
                <th>
                    Дата завершения
                </th>
            </tr>
            @foreach (var item in journalOfRepair)
            {
                <tr>
                    <td>
                        @item.TypeProduct
                    </td>
                    <td>
                        @if (item.NumberBlock != null)
                        {
                            if (item.NumberBlock.TrimEnd(' ') != "")
                            {
                                @(item.NumberBlock + " - ")
                            }
                        }
                        @if (item.DateOfSale != null)
                        {
                            @Html.DisplayName(((DateTime)item.DateOfSale).ToString("dd.MM.yy"))
                        }
                        else
                        {
                            @Html.DisplayName("Неизвестно")
                        }
                    </td>
                    <td>
                        @if (item.Replace)
                        {
                            @Html.DisplayName("Ремонту не подлежит")
                        }
                    </td>
                    <td>
                        @item.WarningCommentsText
                    </td>
                    <td class="td_DateOfDelivery">
                        @if (item.DateOfDelivery != null)
                        {
                            @Html.DisplayName(((DateTime)item.DateOfDelivery).ToString("dd-MM-yy"))
                        }
                        else
                        {
                            @Html.DisplayName("В процессе")
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section scripts{

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

        $('#inn').blur(function () {

            SetINN(this);
        });

        function SetINN(dateValue) {


            var Data = {
                actId: $("#idText").val(),
                text: $(dateValue).val()

            };
            $.getJSON("/Acts/SetINN", Data, null);
        };



        $('#kpp').blur(function () {

            SetKPP(this);
        });

        function SetKPP(dateValue) {


            var Data = {
                actId: $("#idText").val(),
                text: $(dateValue).val()

            };
            $.getJSON("/Acts/SetKPP", Data, null);
        };


        $('#phone').blur(function () {

            SetPhone(this);
        });

        function SetPhone(dateValue) {


            var Data = {
                actId: $("#idText").val(),
                text: $(dateValue).val()

            };
            $.getJSON("/Acts/SetPhone", Data, null);
        };


        $('#DateOfShipment')
            .change(function () {

                SetDateOfShipment(this);

            });

        function SetActReady(idAct) {

            document.getElementById("ActReadyButton").style.display = "none";
            var Data = {
                actId: idAct
            };
            $.getJSON("/Acts/SetActReady", Data, null);
        };


        function SetActReadyStorage(idAct) {

            document.getElementById("ActReadyButton").style.display = "none";
            var Data = {
                actId: idAct
            };
            $.getJSON("/Acts/SetActReadyStorage", Data, null);
        };


        function SetDateOfShipment(dateValue) {
            var Data = {
                actId: $("#idText").val(),
                date: $(dateValue).val()

            };
            $.getJSON("/Acts/SetDateOfShipment", Data, null);
        };


        $('#Markup')
            .blur(
                function () {

                    var dataText = $(this).val();

                    var Data = {
                        actId: $("#idText").val(),
                        data: dataText
                    };
                    $.getJSON("/Acts/SetMarkup", Data, AddPriceRequest);
                }
            );


        $('#PriceWork')
            .blur(
                function () {

                    var dataText = $(this).val();

                    var Data = {
                        actId: $("#idText").val(),
                        data: dataText
                    };
                    $.getJSON("/Acts/SetPriceWork", Data, AddPriceRequest);
                }
            );

        $(function () {
            $('#ButtonGone')
                .click(function () {
                    var button = $(this);

                    document.getElementById("tableFooter").style.display = "none";
                    document.getElementById("ButtonVisible").style.display = "block";
                    document.getElementById("ButtonGone").style.display = "none";

                });
        });

        function AddComponent() {
            var Components = {
                name: $("#acInput").val(),
                count: $("#ComponentCount").val(),
                actId: $("#idText").val()
            };
            $.getJSON("/Acts/AddComponentStorage", Components, AddComponentRequest);
        };

        $(function () {

            $('#ButtonVisible')
                .click(function () {
                    var button = $(this);

                    document.getElementById("tableFooter").style.display = "table";
                    document.getElementById("ButtonGone").style.display = "block";
                    document.getElementById("ButtonVisible").style.display = "none";

                });
        });

        function RemoveComponent(idComp) {
            var Components = {
                id: idComp,
                actId: $("#idText").val()
            };
            $.getJSON("/Acts/RemoveComponentStorage", Components, AddComponentRequest);
        };


        function AddComponentRequest(Components) {

            $("#TableComponent").empty();
            $("#TableComponent")
                .append('<tr> <th> Код </th> <th> Название </th>  <th> Количество </th> <th> Цена </th> <th> Склад </th> <th> </th>  </tr>');

            $.each(Components,
                function (i) {
                    $("#TableComponent").append(Components[i]);
                });

        };

        $(function () {

            $.getJSON("/Acts/GetComponent", null, SetAutocomplete);
        });

        function SetAutocomplete(flowers) {

            var mas = Array(flowers.length);

            $.each(flowers,
                function (i) {
                    mas[i] = flowers[i].Text;
                });
            $('#acInput')
                .autocomplete({
                    source: mas,
                    minLength: 2
                });
        };

        function AddPrice(object, idComp, type) {


            var par = object.parentElement;

            var ComponentsData = {
                id: idComp,
                type: type,
                actId: $("#idText").val(),
                data: object.value,
                idParent: par.id
            };
            $.getJSON("/Acts/SetPrice", ComponentsData, AddPriceRequest);

        };


        function AddPriceRequest(data) {
            var el = document.getElementById(data[0]);
            if (el != null) {
                $(el).empty();
                el.id = data[0];
                $(el).append(data[1]);
            }

            $('#overall').empty();
            $('#overall').append(data[2]);
            $('#Markup').val(data[3]);
            $('#summary').empty();
            $('#summary').append(data[4]);
            $('#PriceWork').val(data[5]);
            $('#AllPrice').empty();
            $('#AllPrice').append(data[7]);
        };


        $('#ActName')
            .blur(
                function () {

                    var data = $(this);
                    SetActName(data.val());
                }
            );

        function SetActName(text) {
            if (text != "") {

                var Data = {
                    actId: $("#idText").val(),
                    data: text
                };
                $.getJSON("/Acts/SetActName", Data, null);
            }
        };





        function AddIssuedFull(objectID, idComp, type, count) {

            var ComponentsData = {
                id: idComp,
                type: type,
                applicationId: $("#idText").val(),
                data: count,
                idPar: objectID

            };
            $.getJSON("/Applications/SetIssued", ComponentsData, AddIssuedRequest);

        };



        function AddIssued(object, idComp, type) {

            var ComponentsData = {
                id: idComp,
                type: type,
                applicationId: $("#idText").val(),
                data: object.value,
                idPar: object.id

            };
            $.getJSON("/Applications/SetIssued", ComponentsData, AddIssuedRequest);

        };


        function AddIssuedRequest(data) {
            var el = document.getElementById(data[0]);
            if (el != null) {
                $(el).val(data[1]);
            }
        };


    </script>
}




