﻿@model SystemOfProductionControl.Models.Application

@{
    ViewBag.Title = "Edit";
}
<div>
    <div class="row">
        <div class="card" style="width: 80vw;margin: auto">
            <div class="card-header" style="width: 80vw ;">
                <table width="100%">
                    <tr style="width: 16px;">
                        <td></td>
                        <td style="text-align: center;">
                            <div style="text-align: center;">
                                <b>Заявка № </b>
                                @Model.ID
                            </div>
                        </td>
                        <td style="width: 80vw;margin: auto">
                            <div style="float: right; margin: 10px;">
                                <div style="margin-top: 5px;">
                                    <a href="/Applications/Report4/?id=@Model.ID" target="_blank" class="btn btn-success" role="button" style="margin: 2px; width: 130px;">
                                        <span class="fa fa-print"></span> Заявка
                                    </a>
                                </div>
                                <div>   Дата создания: @Model.Data.ToString("yyyy-MM-dd")</div>
                            </div>
                        </td>
                    </tr>
                    <tr style="margin-top: 5px;">
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayName("Заказчик")
                        </dt>
                        <dd>
                            <a href="/Companies/edit?id=@Model.Act.FirstOrDefault().Company">
                                @Html.DisplayName("Город:")
                                @Html.DisplayFor(model => model.Act.FirstOrDefault().Cities.Name)
                                @Html.DisplayName(" Организация: ")
                                @Html.DisplayFor(model => model.Act.FirstOrDefault().Company1.Name)
                                @Html.DisplayName(" Телефон: ")
                                @Html.DisplayFor(model => model.Act.FirstOrDefault().Company1.Phone)
                            </a>
                        </dd>
                        <dt>
                            @Html.DisplayName("Город заказа")
                        </dt>
                        <dd>
                            @Html.DisplayName(@Model.Act.FirstOrDefault().Cities.Name)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="card-body" id="Body" style="width: 80vw;">
                <div>
                    <table width="100%">
                        <tr>
                            <td>
                                <div>
                                    @*<button type="submit" class="btn btn-info" style="margin-right: 12px; float: left;">Выбрать на тестдрайв </button>*@
                                </div>
                            </td>
                            <td>
                                <div>
                                </div>
                            </td>
                            <td>

                                <div style="float: right">
                                    @if (@Model.Act.FirstOrDefault().ActCondition.IsRepairCompleted == false)
                                    {
                                        <button type="button" onclick="location.href = '@Url.Action("CloseRepairAll", "Applications", new { applicationId = @Model.ID })'"
                                                class="btn btn-success" style="float: right">
                                            Завершить ремонт
                                        </button>
                                    }

                                    @if ((bool)@Model.Act.FirstOrDefault().ActCondition.IsRepairCompleted == true)
                                    {
                                        <button type="button" onclick="location.href = '@Url.Action("UnCloseRepairAll", "Applications", new { applicationId = @Model.ID })'"
                                                class="btn btn-danger" style="float: right">
                                            Отменить завершение ремонта
                                        </button>
                                    }

                                </div>

                            </td>
                        </tr>
                    </table>
                </div>
                <br />
                <div style="margin-top:20px;">
                    @if (ViewBag.Journalofrepcomp != null)
                    {
                        @Html.Partial("~/Views/Applications/JournalRepairPartialView.cshtml",
                       (IEnumerable<SystemOfProductionControl.Models.JournalOfrepair.JournalOfRepairAndComponentModel>)ViewBag.Journalofrepcomp)
                    }

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/Scripts/Application/EditScripts.js"></script>
    <script>


    </script>
}
