﻿@using SystemOfProductionControl.other
@model SystemOfProductionControl.Models.Application
@{
    ViewBag.Title = "EditOff";
    SelectList TypeProductID = ViewBag.TypeProductID;
    SelectList WarningTypeFromUsers = ViewBag.WarningTypeFromUsers;
    string user = ViewBag.User;
}

    <div class="row" style="width: 80vw;margin: auto">
        <div class="card" style="width: 80vw;margin: auto">

            <div class="card-header">
                <table width="100%">
                    <tr style="width: 80vw;margin: auto">
                     
                        <td style="text-align: center">
                            <div style="text-align: center;">
                                <b>Заявка № </b>
                                @Model.ID
                            </div>
                          

                        </td>
                        <td style=width: 600px>
                            <div style=float: right; margin: 10px>
                                <div style=margin-top: 5px>
                                    <div>
                                        <a href="/Applications/Report4/?id=@Model.ID" target="_blank" class="btn btn-success" role="button" style="margin: 2px; width: 130px">
                                            <span class="fa fa-print"></span> Заявка
                                        </a>

                                    </div>



                                    <div>Дата создания: @Model.Data.ToString("yyyy-MM-dd")</div>



                                </div>

                            </div>

                        </td>

                    </tr>
                    <tr style="margin-top: 5px;">
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>


                </table>
                <table width="100%">
                    <tr>
                        <td>
                            <div>
                                <dl class="dl-horizontal">

                                    <dd>
                                        <a href="/Companies/edit?id=@Model.Act.FirstOrDefault().Company1">
                                            @Html.DisplayName("Город:")
                                            @Html.DisplayFor(model => model.Act.FirstOrDefault().Cities)
                                            @Html.DisplayName(" Организация: ")
                                            @Html.DisplayFor(model => model.Act.FirstOrDefault().Company1)
                                        </a>
                                    </dd>
                                    <dt>
                                        @Html.DisplayName("ИНН")
                                    </dt>
                                    <dd>
                                        <input type="text" id="inn" maxlength="10" value="@Model.Act.FirstOrDefault().Company1.INN.TrimEnd(' ')" style="width: 300px;" />


                                    </dd>

                                    <dt>
                                        @Html.DisplayName("КПП")
                                    </dt>
                                    <dd>
                                        <input type="text" id="kpp" maxlength="9" value="@Model.Act.FirstOrDefault().Company1.KPP.TrimEnd(' ')" style="width: 300px;" />
                                    </dd>
                                    <dt>
                                        @Html.DisplayName("Телефон")
                                    </dt>
                                    <dd>
                                        <input type="text" id="phone" value="@Model.Act.FirstOrDefault().Company1.Phone.TrimEnd(' ')" style="width: 300px;" />
                                    </dd>
                                    <dt>
                                        @Html.DisplayName("Город заказа")
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Act.FirstOrDefault().Cities.Name)
                                    </dd>
                                    <dt>
                                        @Html.DisplayName("Заявку принял")
                                    </dt>
                                    <dd>
                                        @if (user != null)
                                        {
                                        @Html.DisplayName(@user)
                                        }
                                    </dd>
                                </dl>
                            </div>
                        </td>
                        <td>
                            <div>
                                <dl class="dl-horizontal">
                                    <dt>
                                        Сопроводительный документ:
                                    </dt>
                                    <dd>
                                        <input type="text" id="RepairMail" value="@Model.RepairMail" style="width: 300px;" />
                                    </dd>
                                    <dt>
                                        Транспортная накладная:
                                    </dt>
                                    <dd>
                                        <input type="text" id="Consignment" value="@Model.Consignment" style="width: 300px;" />
                                    </dd>
                                </dl>
                            </div>
                            <div style="margin-top: 20px; margin-left: auto; margin-right: 10px; height: 40px;">
                                @if (Model.Status <= 2)
                                {
                                <a href="/Applications/SetStatusOfRepair?id=@Model.ID" class="btn btn-info" role="button" style="margin-right: 10px; width: 180px; float: right;">
                                    Заявка завершена
                                </a>
                                }
                            </div>
                            <div>
                                @if (Model.Status == (int)BaseEnums.ApplicationStatus.PendingSubmission)
                                {
                                <a href="/Applications/SetStatusOfProductSent?id=@Model.ID" class="btn btn-info" role="button" style="margin-right: 10px; width: 210px; float: right;">
                                    Оборудование отправлено
                                </a>
                                }
                                @if (Model.Status == (int)BaseEnums.ApplicationStatus.ProductSent)
                                {
                                <a href="/Applications/SetStatusOfPendingSubmission?id=@Model.ID" class="btn btn-danger" role="button" style="margin-right: 10px; width: 240px; float: right;">
                                    Отмена отправки оборудования
                                </a>
                                }
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="card-body" id="Body" style="margin-bottom: 210px">
                <div>
                    <table width="100%">
                        <tr>
                            <td>
                                <div>
                                </div>
                            </td>
                            <td>
                                <div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <br />
                <div style="margin-top:20px;">

                    @if (ViewBag.Journalofrepcomp != null)
                    {
                    @Html.Partial("~/Views/Applications/JournalRepairPartialView.cshtml",
                    (IEnumerable<SystemOfProductionControl.Models.JournalOfrepair.JournalOfRepairAndComponentModel>
                        )ViewBag.Journalofrepcomp)
                        }


                </div>
            </div>

            <div style="position: fixed; bottom: 20px; right: 0px; left:  0px;">

                <div style="background-color: #bddfc3 ">

                    <div style="margin: 20px 0;" id="ProductContainer">
                        @using (Html.BeginForm("AddProduct", "Acts", FormMethod.Post))
                        {
                        @Html.AntiForgeryToken()
                        <div style="padding-bottom: 0px;">
                            <div class="form-group" style="margin-bottom: 0px; ">
                                <input id="IDApplication" name="IDApplication" type="hidden" value="@Model.ID" />
                                <table class="table" style="margin-left: auto; margin-right: auto; width: 1200px">
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Тип продукта")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Кол-во")
                                        </th>
                                        <th>
                                            @Html.DisplayName("№ блока")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Дата продажи")
                                        </th>
                                        <th>Комментарий</th>
                                        <th>
                                            <button type="submit" formaction="/Applications/AddProductOff" formmethod="post" class="btn btn-primary" style="margin-right: 12px">Добавить</button>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                @Html.DropDownList("TypeProductID", TypeProductID, htmlAttributes: new { @class = "form-control", @style = "width:200px;", @id = "TypeProductID" })
                                            </div>
                                            <div>
                                                Причина ремонта
                                            </div>
                                            <div id="WarningTypeFromUsersDiv">
                                                @Html.DropDownList("WarningTypeFromUsers", null, htmlAttributes: new { @class = "form-control", @id = "WarningTypeFromUsers", @style = "width: 200px;" })
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                @Html.DropDownList("TypeProductID", TypeProductID, htmlAttributes: new { @class = "form-control", @style = "width:200px;", @id = "TypeProductID" })
                                            </div>
                                        </td>
                                        <td>
                                            <select id="Count" class="form-control" style="width: 60px;">
                                                @for (int i = 1; i < 20; i++)
                                                {
                                                if (i == 1)
                                                {
                                                <option value="@i" selected="selected">@i </option>
                                                }
                                                else
                                                {
                                                <option value="@i">@i </option>
                                                }
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <div id="NumberBlockDiv">
                                                @*  @Html.TextBox("NumberBlock1", "", htmlAttributes: new { @class = "form-control"  , @style = "width: 90px;" })*@
                                                <input type="text" name="NumberBlock[0]" class="form-control" style="width: 70px;">
                                            </div>
                                        </td>
                                        <td style="width: 160px;">
                                            <div id="DateOfSaleDiv" style="width: 160px;">
                                                <select name="DateOfSaleMM[0]" class="form-control" style="width: 70px; float: left;">
                                                    <option value="" selected="selected">Нет</option>
                                                    @for (int i = 1; i <= 12; i++)
                                                    {
                                                        <option value="@i">@i </option>
                                                    }
                                                </select>
                                                <select name="DateOfSaleYY[0]" class="form-control" style="width: 80px; float: left;">
                                                    <option value="" selected="selected">Нет</option>
                                                    @for (int i = 1990; i < DateTime.Now.Year + 3; i++)
                                                    {
                                                        <option value="@i">@i </option>
                                                    }
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            @Html.TextArea("WarningComments", "", 5, 50, htmlAttributes: new { @id = "WarningComments", @style = "width: 100%" })
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>





@section scripts{

    <script>


        function DeleteAllCheckbox() {
            var checkbox = $(".checkboxSelected");

            var arr = "";
            var count = 0;
            for (var i = 0; i < checkbox.length; i++) {


                var val = $(checkbox[i]).val();
                var checked = checkbox[i].checked;

                if (checked) {
                    if (count != 0) {
                        arr += "&";
                    }
                    arr += "idArray["+count+"]=" + val; //+ "&";

                    count++;
                }


            }

            if (count == 0) return;
            window.location.href = "/JournalOfRepairs/DeleteAll?" + arr;
        }



        $('#RepairMail').blur(function() {

            SetRepairMail(this);
        });





        function SetRepairMail(dateValue) {
            var Data = {
                applicationId: @Model.ID,
                text: $(dateValue).val()

            };
            $.getJSON("/Applications/SetRepairMail", Data, null);
        };


        $('#Consignment').blur(function() {

            SetConsignment(this);
        });

        function SetConsignment(dateValue) {
            var Data = {
                applicationId: @Model.ID,
                text: $(dateValue).val()

            };
            $.getJSON("/Applications/SetConsignment", Data, null);
        };

        $('#inn').blur(function() {

            SetINN(this);
        });

        function SetINN(dateValue) {
            var Data = {
                companyId: @Model.Act.FirstOrDefault().Company, // companyid
                text: $(dateValue).val()

            };
            $.getJSON("/Companies/SetINN", Data, null);
        };


        $('#kpp').blur(function() {

            SetKPP(this);
        });

        function SetKPP(dateValue) {
            var Data = {
                companyId: @Model.Act.FirstOrDefault().Company,
                text: $(dateValue).val()

            };
            $.getJSON("/Companies/SetKPP", Data, null);
        };

        $('#phone').blur(function() {

            SetPhone(this);
        });

        function SetPhone(dateValue) {


            var Data = {
                companyId:  @Model.Act.FirstOrDefault().Company,
                text: $(dateValue).val()

            };
            $.getJSON("/Companies/SetPhone", Data, null);
        };


        $(function() {

            $('#ButtonGone')
                .click(function() {
                    var button = $(this);
                    // if (name != "Нет") {
                    //if (document.getElementById("Body").style.display == "none") {
                    //    document.getElementById("Body").style.display = "block";

                    // }
                    // else {
                    document.getElementById("Body").style.display = "none";
                    document.getElementById("ButtonVisible").style.display = "block";
                    document.getElementById("ButtonGone").style.display = "none";
                    //  }
                    // document.getElementById("text1").style.display = "block";
                    //}
                });
        });

        $(function() {

            $('#ButtonVisible')
                .click(function() {
                    var button = $(this);
                    // if (name != "Нет") {
                    document.getElementById("Body").style.display = "block";
                    document.getElementById("ButtonGone").style.display = "block";
                    document.getElementById("ButtonVisible").style.display = "none";
                    // document.getElementById("text1").style.display = "block";
                    //}
                });
        });


        $(function() {

            $('#Count')
                .change(function() {
                    var count = $(this).val();


                    $('#NumberBlockDiv').empty();
                    $('#DateOfSaleDiv').empty();
                    var heightSize = 35;

                    if (count > 5) {
                        heightSize = 30;
                    }

                    for (var i = 0; i < count; i++) {


                        $('#NumberBlockDiv')
                            .append('<input type="text" name="NumberBlock[' +
                                i +
                                ']" class="form-control" style="width: 70px; height: ' +
                                heightSize +
                                'px;">');
                        //    $('#DateOfSaleDiv')
                        //        .append('<input type="date" name="DateOfSale[' +
                        //            i +
                        //            ']" class="form-control" style="width: 120px; font-size: 10px; height: ' +
                        //            heightSize +
                        //            'px;">');
                    }

                    var time = @DateTime.Now.Year;

                    var data = '';

                    for (var i = 0; i < count; i++) {


                        data += '<select name="DateOfSaleMM[' +
                            i +
                            ']" class="form-control" style="width: 70px;  float: left;  height: ' +
                            heightSize +
                            'px;">';

                        data += '  <option value="" selected="selected">Нет</option>';
                        for (var j = 1; j <= 12; j++) {

                            data += '<option value="' + j + '">' + j + ' </option>';

                        }

                        data += '</select>';


                        data += '<select name="DateOfSaleYY[' +
                            i +
                            ']" class="form-control" style="width: 80px; float: left; height: ' +
                            heightSize +
                            'px;">';

                        data += '  <option value="" selected="selected">Нет</option>';
                        for (var j = 1990; j < time + 3; j++) {


                            data += '<option value="' + j + '">' + j + ' </option>';

                        }

                        data += '</select>';


                    }


                    $('#DateOfSaleDiv')
                        .append(data);

                });
        });

        $(function() {
            $("#TypeProductID")
                .change(function() {

                    var person = { name: $("#TypeProductID").val() };

                    $.getJSON("/JournalOfRepairs/AjaxTest", person, getWarning);
                });

        });


    </script>


}

