﻿@model IEnumerable<SystemOfProductionControl.Models.Application>
@using SystemOfProductionControl.Models

@{
    ViewBag.Title = "Index";
}




<table class="table table-hover" style="width: 80vw;margin: auto">
    <tr>

        <th></th>
        <th>
            Номер
        </th>
        <th>
            Дата создания
        </th>
        <th>
            Компания
        </th>
        <th>
            Город
        </th>

        @*<th>
                Акты
            </th>*@

        <th>
            Статус
        </th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {


        String IDButtonPlus = "IDButtonPlus_" + item.ID.ToString();
        String IDButtonMinus = "IDButtonMinus_" + item.ID.ToString();
        String idRowAct = "IDRowAct_" + item.ID.ToString();
        String linkApplication = "/Applications/DetailsOfStorage?id=" + @item.ID.ToString();


        //onclick="GoToLink('@linkApplication');"
        <tr class="bg-warning">

            <td style="width: 50px;">
                @*<a class="btn btn-success" role="button" style="margin-left: 5px;" id="@IDButtonPlus" onclick="SetVisibleTable(@idRowAct,true); SetVisibleButton(@IDButtonMinus,true); SetVisibleButton(@IDButtonPlus,false);">
                        <span class="fa fa-plus"></span>
                    </a>
                    <a class="btn btn-success" id="@IDButtonMinus" role="button" style="margin-left: 5px; display: none" onclick="SetVisibleTable(@idRowAct,false); SetVisibleButton(@IDButtonMinus,false); SetVisibleButton(@IDButtonPlus,true);">
                        <span class="fa fa-minus"></span>
                    </a>*@
            </td>

            <td style="width: 100px;">
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td style="width: 180px;">
                @Html.DisplayName(item.Data.ToString("yyyy-MM-dd"))
            </td>

            <td style="width: 400px;">
                @Html.DisplayFor(modelItem => item.Act.GroupBy(t => t.Company1).FirstOrDefault().Key.Name)
            </td>


            <td style="width: 80vw;margin: auto">
                @Html.DisplayFor(modelItem => item.Act.GroupBy(t => t.Cities).FirstOrDefault().Key.Name)
            </td>

            <td style="width: 80vw;margin: auto">
                @Html.DisplayFor(modelItem => item.ApplicationStatus.Name)
            </td>
            <td width="120px">



                @*<a href="/Applications/Details?id=@item.ID" class="btn btn-success" role="button" style="margin-left: 5px;">
                        <span class="fa fa-info-circle"></span>
                    </a>*@

            </td>



        </tr>



        if (item.Act.Count != 0)
        {
            foreach (var actItem in item.Act)
            {

                String link = "/Acts/DetailsBookkeeping?id=" + @actItem.ID.ToString();

                <tr id="@idRowAct" onclick="GoToLink('@link');">
                    <td></td>

                    <td class="bg-success">Акт: @actItem.Name</td>
                    <td class="bg-success"></td>
                    <td class="bg-success">@actItem.Company1.Name.TrimEnd(' ')</td>
                    <td class="bg-success">@actItem.Cities.Name.TrimEnd(' ')</td>

                    @if (actItem.Warranty != null)
                    {
                        if (actItem.Warranty.Value)
                        {
                            <td class="bg-success">Гарантийный</td>
                        }
                        else
                        {
                            <td class="bg-success">Платный</td>

                        }

                    }
                    else
                    {

                        <td class="bg-success">Не указано</td>
                    }

                    <td class="bg-success"></td>

                </tr>


            }


        }

    }

</table>

@section scripts {

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>



        function SetVisibleTable(id, IsVisible) {



            if (IsVisible) {
                id.style.display = "table-row";
            } else {
                id.style.display = "none";
            }

        };

        function SetVisibleButton(id, IsVisible) {



            if (IsVisible) {
                id.style.display = "inline-block";
            } else {
                id.style.display = "none";
            }

        };


        function GoToLink(linc) {

            document.location.href = linc;
        }


    </script>
}
