﻿@using SystemOfProductionControl.Models
@model PagedList.IPagedList<SystemOfProductionControl.Models.Application>
@using PagedList.Mvc;

<head>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
</head>

@{
    ViewBag.Title = "Index";
    Dictionary<int, MailOfRepair> AppMailOfRepairs = ViewBag.AppMailOfRepairs;
    Dictionary<int, Consignment> AppConsignments = ViewBag.AppConsignments;
}

<form style="width: 80vw;margin: auto">
    <div class="btn-group" role="group">
        <button type="submit" formaction="/Applications/Create" class="btn btn-primary" style="margin-right: 12px" name="apptype" value="0">
            <span class="fa fa-plus"></span> Ремонт
        </button>
        <button type="submit" formaction="/Applications/Create" class="btn btn-primary" style="margin-right: 12px" name="apptype" value="1">
            <span class="fa fa-plus"></span> Возврат
        </button>
        <button type="submit" formaction="/Applications/Create" class="btn btn-primary"style="margin-right: 12px"  name="apptype" value="2">
            <span class="fa fa-plus"></span> Списание
        </button>

        <nav>

            @Html.DropDownList("SearchType", ViewBag.selectdropdown as SelectList)
            @Html.DropDownList("Type", ViewBag.selecttypedropdown as SelectList)

            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Поиск" />
            @Html.TextBox("Pagesize")
        </nav>
    </div>
</form>

<br />


    <table class="table table-hover" style="width: 80vw;margin: auto">
        <tr>
            <th>
            </th>
            <th>
                @Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.IDSortParm, currentFilter = ViewBag.CurrentFilter, SearchType = ViewBag.SearchType, type = ViewBag.Type, pageSize = ViewBag.pageSize })
            </th>
            <th>
                @Html.ActionLink("Дата создания", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter, SearchType = ViewBag.SearchType, type = ViewBag.Type, pageSize = ViewBag.pageSize })
            </th>
            <th>
                @Html.ActionLink("Компания", "Index", new { sortOrder = ViewBag.CompaniesSortParm, currentFilter = ViewBag.CurrentFilter, SearchType = ViewBag.SearchType, type = ViewBag.Type, pageSize = ViewBag.pageSize })
            </th>
            <th>
                @Html.ActionLink("Города", "Index", new { sortOrder = ViewBag.CitiesSortParm, currentFilter = ViewBag.CurrentFilter, SearchType = ViewBag.SearchType, type = ViewBag.Type, pageSize = ViewBag.pageSize })
            </th>

            @*<th>
                       Акты
                </th>*@

            <th>
                Статус
            </th>
        </tr>


        @foreach (var item in Model)
        {
            string IDButtonPlus = "IDButtonPlus_" + item.ID.ToString();
            string IDButtonMinus = "IDButtonMinus_" + item.ID.ToString();
            int countAct = item.Act.Count;
            string ButtonPlusOnClick = "";
            string ButtonMinusOnClick = "";
            List<string> idRowActs = new List<string>();


            for (int i = 0; i < countAct; i++)
            {
                string idRowAct = "IDRowAct_" + i.ToString() + "_" + item.ID.ToString();
                ButtonPlusOnClick += "SetVisibleTable(" + idRowAct + ",true);";
                ButtonMinusOnClick += "SetVisibleTable(" + idRowAct + ",false);";
                idRowActs.Add(idRowAct);
            }

            string link = "";

            if (item.Type == 0)
            {
                link = "/Applications/Edit?id=" + @item.ID.ToString();
            }
            else if (item.Type == 1)
            {
                link = "/Applications/EditOFF?id=" + @item.ID.ToString();
            }
            else if (item.Type == 2)
            {
                link = "/Applications/EditReturn?id=" + @item.ID.ToString();
            }


            <tr>
                <td style="width: 50px;">
                    <a class="btn btn-success" role="button" style="margin-left: 5px;" id="@IDButtonPlus" onclick="@ButtonPlusOnClick; SetVisibleButton(@IDButtonMinus,true); SetVisibleButton(@IDButtonPlus,false);">
                        <span class="fa fa-plus"></span>
                    </a>
                    <a class="btn btn-success" id="@IDButtonMinus" role="button" style="margin-left: 5px; display: none" onclick="@ButtonMinusOnClick; SetVisibleButton(@IDButtonMinus,false); SetVisibleButton(@IDButtonPlus,true);">
                        <span class="fa fa-minus"></span>
                    </a>


                </td>

                <td onclick="GoToLink('@link');" style="width: 100px;">
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td onclick="GoToLink('@link');" style="width: 400px;">
                    @Html.DisplayName(item.Data.ToString("yyyy-MM-dd"))
                </td>

                <td onclick="GoToLink('@link');" style="width: 300px;">

                    <div>
                        @Html.DisplayFor(modelItem => item.Act.GroupBy(t => t.Company1).FirstOrDefault().Key.Name)

                    </div>

                    <div>
                        @{
                            String mail = "";

                            if (AppMailOfRepairs.ContainsKey(item.ID))
                            {
                                mail = AppMailOfRepairs[item.ID].Text.Trim(' ');

                                if (mail != "")
                                {
                                    mail = "сп.док: " + mail;
                                }
                            }
                        }

                        <b>@mail</b>
                    </div>
                </td>


                <td onclick="GoToLink('@link');" style="width: 150px;">
                    @Html.DisplayFor(modelItem => item.Act.GroupBy(t => t.Cities).FirstOrDefault().Key.Name)
                </td>

                <td style="width: 80vw;margin: auto" onclick="GoToLink('@link');">

                    <div>
                        @Html.DisplayFor(modelItem => item.ApplicationStatus.Name)

                    </div>

                    <div>
                        @{
                            String cons = "";

                            if (AppConsignments.ContainsKey(item.ID))
                            {
                                cons = AppConsignments[item.ID].Text.Trim(' ');

                                if (cons != "")
                                {
                                    cons = "тр.накл: " + cons;
                                }
                            }
                        }

                        <b>@cons</b>
                    </div>

                </td>
                <td>



                    <a href="/Applications/Report4/?id=@item.ID" target="_blank" class="btn btn-success" role="button">
                        <span class="fa fa-print"></span>
                    </a>
                </td>
                <td>
                    <a href="/Applications/EditOfRepair?id=@item.ID" class="btn btn-success" role="button">
                        <span class="fa fa-pencil"></span>
                    </a>
                </td>
                <td>
                    <a href="/Applications/Delete?id=@item.ID" class="btn btn-danger" role="button">
                        <span class="fa fa-remove"></span>
                    </a>


                </td>

            </tr>

            if (item.Act.Count != 0)
            {

                int count = 0;
                foreach (var actItem in item.Act)
                {
                    String linkAct = "/Acts/Details?id=" + @actItem.ID.ToString();



                    <tr id="@idRowActs[count]" style="display: none">
                        <td></td>
                        @{
                            count++;
                        }
                        <td onclick="GoToLink('@linkAct');" class="bg-success">Акт: @actItem.Name</td>

                        @if (actItem.Warranty != null)
                        {
                            if (actItem.Warranty.Value)
                            {
                                <td style="width: 200px" class="bg-success" onclick="GoToLink('@linkAct');">Гарантийный</td>
                            }
                            else
                            {
                                <td style="width: 200px" class="bg-success" onclick="GoToLink('@linkAct');">Платный</td>
                            }

                        }
                        else
                        {

                            <td style="width: 200px" class="bg-success" onclick="GoToLink('@linkAct');">Не указано</td>
                        }




                        <td onclick="GoToLink('@linkAct');" class="bg-success">@actItem.Company1.Name</td>
                        <td onclick="GoToLink('@linkAct');" class="bg-success">@actItem.Cities.Name</td>

                        <td style="width: 200px" class="bg-success" onclick="GoToLink('@linkAct');">
                            @{
                                String statusAct = "Ремонт";

                                var journalNoRepair = actItem.JournalOfRepair.FirstOrDefault(t => t.DateOfDelivery == null);

                                if (actItem.DateOfShipment != null)
                                {
                                    statusAct = "Отправлено: " + actItem.DateOfShipment.Value.ToString("dd:MM:yyyy");
                                }
                                else if (actItem.Ready && actItem.ReadyStorage && (actItem.Warranty.GetValueOrDefault(false) || actItem.Paid.GetValueOrDefault(false)))
                                {

                                    statusAct = "Готов к отправке";
                                }
                                else
                               if (journalNoRepair == null)
                                {

                                    statusAct = "Обработка:";

                                    if (!actItem.ReadyStorage)
                                    {
                                        statusAct += " Склад";
                                    }

                                    if (!actItem.Ready)
                                    {
                                        statusAct += " Бухгалтерия";
                                    }

                                    if (!actItem.Warranty.GetValueOrDefault(false) && !actItem.Paid.GetValueOrDefault(false))
                                    {
                                        statusAct += " Ожидает оплаты";
                                    }

                                }

                            }

                            @Html.DisplayName(statusAct)
                        </td>

                        <td class="bg-success">
                            <a href="/Acts/Report2/?id=@actItem.ID" target="_blank" class="btn btn-success" role="button">
                                <span class="fa fa-print"></span>
                            </a>
                        </td>

                    </tr>

                }

            }

        }

    </table>

    @section scripts {


        <script>


            function SetVisibleTable(id, IsVisible) {


                if (IsVisible) {
                    id.style.display = "table-row";
                } else {
                    id.style.display = "none";
                }

            };

            function SetVisibleButton(id, IsVisible) {

                if (IsVisible) {
                    id.style.display = "inline-block";
                } else {
                    id.style.display = "none";
                }

            };

        </script>
    }

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    <div class="my-class">
        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, type = ViewBag.Type, pageSize = ViewBag.pageSize, SearchType = ViewBag.SearchType }))

    </div>


