﻿@model IEnumerable<SystemOfProductionControl.Models.Application>
@using SystemOfProductionControl.Models
@{
    ViewBag.Title = "Index";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<table class="table table-hover" style="width: 80vw;margin: auto">
    <tr>

        <th></th>
        <th>
            Номер
        </th>
        <th>
            Дата создания
        </th>
        <th>
            Компания
        </th>
        <th>
            Город
        </th>

        @*<th>
                Акты
            </th>*@

        <th>
            Статус
        </th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        string IDButtonPlus = "IDButtonPlus_" + item.ID.ToString();
        string IDButtonMinus = "IDButtonMinus_" + item.ID.ToString();
        string ButtonPlusOnClick = "";
        string ButtonMinusOnClick = "";
        int countAct = item.Act.Count;
        var idRowActs = new List<string>();


        for (int i = 0; i < countAct; i++)
        {
            string idRowAct = "IDRowAct_" + i.ToString() + "_" + item.ID.ToString();
            ButtonPlusOnClick += "SetVisibleTable(" + idRowAct + ",true);";
            ButtonMinusOnClick += "SetVisibleTable(" + idRowAct + ",false);";
            idRowActs.Add(idRowAct);
        }

        string link = "/Applications/EditOfRepair?id=" + @item.ID.ToString();


        <tr class="bg-warning">

            <td style="width: 50px;">
                <a class="btn btn-success" role="button" style="margin-left: 5px;" id="@IDButtonPlus" onclick="@ButtonPlusOnClick; SetVisibleButton(@IDButtonMinus,true); SetVisibleButton(@IDButtonPlus,false);">
                    <span class="fa fa-plus"></span>
                </a>
                <a class="btn btn-success" id="@IDButtonMinus" role="button" style="margin-left: 5px; display: none" onclick="@ButtonMinusOnClick; SetVisibleButton(@IDButtonMinus,false); SetVisibleButton(@IDButtonPlus,true);">
                    <span class="fa fa-minus"></span>
                </a>
            </td>


            <td onclick="GoToLink('@link');" style="width: 100px;">
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td onclick="GoToLink('@link');" style="width: 80vw;margin: auto">
                @Html.DisplayFor(modelItem => item.Data)
            </td>

            <td onclick="GoToLink('@link');" style="width: 300px;">
                @Html.DisplayFor(modelItem => item.Act.GroupBy(t => t.Company1).FirstOrDefault().Key.Name)
            </td>


            <td onclick="GoToLink('@link');" style="width: 150px;">
                @Html.DisplayFor(modelItem => item.Act.GroupBy(t => t.Cities).FirstOrDefault().Key.Name)
            </td>

            <td onclick="GoToLink('@link'); " style="width: 80vw;margin: auto">
                @Html.DisplayFor(modelItem => item.ApplicationStatus.Name)
            </td>
            <td width="200px">
                @*<a href="/Applications/Details?id=@item.ID" class="btn btn-success" role="button" style="margin-left: 5px;">
                        <span class="fa fa-info-circle"></span>
                    </a>*@
            </td>



        </tr>
        if (item.Act.Count != 0)
        {
            int count = 0;
            foreach (var act in item.Act)
            {
                string actlink = "/Acts/DetailsBookkeeping?id=" + @act.ID.ToString();

                <tr class="bg-warning" onclick="GoToLink('@actlink')" id="@idRowActs[count]" style="display: none">

                    <td>
                    </td>

                    <td class="bg-success">Акт: @act.Name</td>
                    <td style="width: 80vw;margin: auto" class="bg-success"></td>
                    <td class="bg-success">@act.Company1.Name</td>
                    <td class="bg-success">@act.Cities.Name</td>

                    @if (act.Warranty != null)
                    {
                        if (act.Warranty.Value)
                        {
                            <td class="bg-success">Гарантийный</td>
                        }
                        else
                        {
                            <td class="bg-success">Платный</td>
                        }

                    }
                    else
                    {
                        <td class="bg-success">Не указано</td>
                    }
                    <td class="bg-success">
                        <a href="/Acts/Report1/?id=@act.ID" target="_blank" class="btn btn-success" role="button" style="margin: 2px;">
                            <span class="fa fa-print"></span>
                        </a>
                    </td>
                </tr>
                count++;

            }

        }

    }

</table>

@section scripts {

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>


        function SetVisibleTable(id, IsVisible) {



            if (IsVisible) {
                id.style.display = "table-row";
            } else {
                id.style.display = "none";
            }

        };

        function SetVisibleButton(id, IsVisible) {

            if (IsVisible) {
                id.style.display = "inline-block";
            } else {
                id.style.display = "none";
            }

        };


        function GoToLink(link) {

            document.location.href = link;
        }


    </script>
}
