﻿@model IEnumerable<SystemOfProductionControl.Models.Application>
@using SystemOfProductionControl.Models

<head>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
</head>

@{
    ViewBag.Title = "Index";
    Dictionary<int, MailOfRepair> AppMailOfRepairs = ViewBag.AppMailOfRepairs;
    Dictionary<int, Consignment> AppConsignments = ViewBag.AppConsignments;
}

<form>
    <div class="btn-group" role="group">
        <button type="submit"
                name="/Applications/Create" class="btn btn-primary" style="margin-right: 12px">
            <span class="fa fa-file"></span> Новая Заявка
        </button>
        <button type="submit" formaction="/Applications/CreateOff" class="btn btn-primary" style="margin-right: 12px">
            <span class="fa fa-file"></span> Недокомплект
        </button>
    </div>

</form>
<br />



<table class="table table-hover" style="width: 80vw;margin: auto">
    <tr>
        <th></th>
        <th>
            Номер
        </th>
        <th>
            Дата создания
        </th>
        <th>
            Компания
        </th>
        <th>
            Город
        </th>
        @*<th>
            Акты
            </th>*@
        <th>
            Статус
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        String IDButtonPlus = "IDButtonPlus_" + item.ID.ToString();
        String IDButtonMinus = "IDButtonMinus_" + item.ID.ToString();
        int countAct = item.Act.Count;
        String ButtonPlusOnClick = "";
        String ButtonMinusOnClick = "";
        List<string> idRowActs = new List<string>();
        for (int i = 0; i < countAct; i++)
        {
            String idRowAct = "IDRowAct_" + i.ToString() + "_" + item.ID.ToString();
            ButtonPlusOnClick += "SetVisibleTable(" + idRowAct + ",true);";
            ButtonMinusOnClick += "SetVisibleTable(" + idRowAct + ",false);";
            idRowActs.Add(idRowAct);
        }
        String link = "/Applications/Edit?id=" + item.ID.ToString();
        String usingInPlus = "";
        String usingInMinus = "";
        String usingBG = "";
        String cons_test = "";
        if (AppConsignments.ContainsKey(item.ID)) { cons_test = AppConsignments[item.ID].Text.Trim(' '); }
        if (item.ApplicationStatus.Name == "Оборудование отправлено" || cons_test != "") // Если оборудование отправлено или есть товарная накладная
        {
            usingInPlus = "";
            usingInMinus = "display: none";
            usingBG = "bgcolor=\"#aacccc\"";
        }
        else
        {
            usingInPlus = "display: none";
            usingInMinus = "";
            usingBG = "";
        }
        <tr>
            <td style="width: 50px;" @usingBG>
                <a class="btn btn-success" role="button" style="margin-left: 5px; @usingInPlus" id="@IDButtonPlus" onclick="@ButtonPlusOnClick; SetVisibleButton(@IDButtonMinus,true); SetVisibleButton(@IDButtonPlus,false);">
                    <span class="fa fa-plus"></span>
                </a>
                <a class="btn btn-success" id="@IDButtonMinus" role="button" style="margin-left: 5px; @usingInMinus" onclick="@ButtonMinusOnClick; SetVisibleButton(@IDButtonMinus,false); SetVisibleButton(@IDButtonPlus,true);">
                    <span class="fa fa-minus"></span>
                </a>
            </td>
            <td onclick="GoToLink('@link');" style="width: 100px;" @usingBG>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td onclick="GoToLink('@link');" style="width: 80vw;margin: auto" @usingBG>
                @Html.DisplayName(item.Data.ToString("yyyy-MM-dd"))
            </td>
            <td onclick="GoToLink('@link');" style="width: 300px;" @usingBG>
                <div>
                    @Html.DisplayFor(modelItem => item.Act.GroupBy(t => t.Company1).FirstOrDefault().Key.Name)
                </div>

                <div>
                    @{
                        String mail = "";
                        if (AppMailOfRepairs.ContainsKey(item.ID))
                        {
                            mail = AppMailOfRepairs[item.ID].Text.Trim(' ');
                            if (mail != "")
                            {
                                mail = "сп.док: " + mail;
                            }
                        }
                    }
                    <b>@mail</b>
                </div>
            </td>

            <td onclick="GoToLink('@link');" style="width: 150px;" @usingBG>
                @Html.DisplayFor(modelItem => item.Act.GroupBy(t => t.Cities).FirstOrDefault().Key.Name)
            </td>
            <td style="width: 80vw;margin: auto" onclick="GoToLink('@link');" @usingBG>
                <div>
                    @Html.DisplayFor(modelItem => item.ApplicationStatus.Name)
                </div>
                <div>
                    @{
                        String cons = "";
                        if (AppConsignments.ContainsKey(item.ID))
                        {
                            cons = AppConsignments[item.ID].Text.Trim(' ');
                            if (cons != "")
                            {
                                cons = "тр.накл: " + cons;
                            }
                        }
                    }
                    <b>@cons</b>
                </div>
            </td>
            <td width="800px" @usingBG>
                <div>
                    <a href="/Applications/Report4/?id=@item.ID" target="_blank" class= "btn btn-success" role="button" style="margin: 2px;">
                        <span class="fa fa-print"></span>
                    </a>
                    <a href="/Applications/EditOfRepair?id=@item.ID" class="btn btn-success" role="button" style="margin-left: 5px;">
                        <span class="fa fa-pencil"></span>
                    </a>
                    <a href="/Applications/Delete?id=@item.ID" class="btn btn-danger" role="button" style="margin-left: 5px;">
                        <span class="fa fa-remove"></span>
                    </a>
                </div>
            </td>
        </tr>
        if (item.Act.Count != 0)
        {
            int count = 0;
            foreach (var actItem in item.Act)
            {
                String linkAct = "/Acts/Details?id=" + @actItem.ID.ToString();
                <tr id="@idRowActs[count]" style="@usingInMinus">
                    <td></td>
                    @{
                        count++;
                    }
                    <td onclick="GoToLink('@linkAct');" class="bg-success">Акт: @actItem.Name</td>
                    @if (actItem.Warranty != null)
                    {
                        if (actItem.Warranty.Value)
                        {
                            <td style="width: 80vw;margin: auto" class="bg-success" onclick="GoToLink('@linkAct');">Гарантийный</td>
                        }
                        else
                        {
                            <td style="width: 80vw;margin: auto" class="bg-success" onclick="GoToLink('@linkAct');">Платный</td>
                        }
                    }
                    else
                    {
                        <td style="width: 80vw;margin: auto" class="bg-success" onclick="GoToLink('@linkAct');">Не указано</td>
                    }
                    <td onclick="GoToLink('@linkAct');" class="bg-success">@actItem.Company1.Name</td>
                    <td onclick="GoToLink('@linkAct');" class="bg-success">@actItem.Cities.Name</td>
                    <td style="width: 80vw;margin: auto" class="bg-success" onclick="GoToLink('@linkAct');">
                        @{
                            String statusAct = "Ремонт";
                            var journalNoRepair = actItem.JournalOfRepair.FirstOrDefault(t => t.DateOfDelivery == null);
                            if (actItem.DateOfShipment != null)
                            {
                                statusAct = "Отправлено: " + actItem.DateOfShipment.Value.ToString("dd:MM:yyyy");
                            }
                            else if (actItem.Ready && actItem.ReadyStorage && (actItem.Warranty.GetValueOrDefault(false) || actItem.Paid.GetValueOrDefault(false)))
                            {
                                statusAct = "Готов к отправке";
                            }
                            else
                            if (journalNoRepair == null)
                            {
                                statusAct = "Обработка:";
                                if (!actItem.ReadyStorage)
                                {
                                    statusAct += " Склад";
                                }
                                if (!actItem.Ready)
                                {
                                    statusAct += " Бухгалтерия";
                                }
                                if (!actItem.Warranty.GetValueOrDefault(false) && !actItem.Paid.GetValueOrDefault(false))
                                {
                                    statusAct += " Ожидает оплаты";
                                }
                            }
                        }

                        @Html.DisplayName(statusAct)
                    </td>
                    <td class="bg-success">
                        <a href="/Acts/Report2/?id=@actItem.ID" target="_blank" class="btn btn-success" role="button" style="margin: 2px;">
                            <span class="fa fa-print"></span>
                        </a>
                    </td>
                </tr>
            }
        }
    }
</table>
@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">

        function SetVisibleTable(id, IsVisible) {
            if (IsVisible) {
                id.style.display = "table-row";
            } else {
                id.style.display = "none";
            }
        };
        function SetVisibleButton(id, IsVisible) {
            if (IsVisible) {
                id.style.display = "inline-block";
            } else {
                id.style.display = "none";
            }
        };
    </script>
}
