﻿@model IEnumerable<SystemOfProductionControl.Models.Application>
@{
    ViewBag.Title = "Index";
}

<head>

    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
</head>

<table class="table table-hover" style="width: 80vw; margin: auto">
    <tr>

        <th></th>
        <th>
            Номер
        </th>
        <th>
            Дата создания
        </th>
        <th>
            Компания
        </th>
        <th>
            Город
        </th>

        @*<th>
                Акты
            </th>*@

        <th>
            Статус
        </th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        String IDButtonPlus = "IDButtonPlus_" + item.ID.ToString();
        String IDButtonMinus = "IDButtonMinus_" + item.ID.ToString();
        String idRowAct = "IDRowAct_" + item.ID.ToString();
        String linkApplication = "/Applications/DetailsOfStorage?id=" + @item.ID.ToString();



        <tr class="bg-warning" onclick="GoToLink('@linkApplication');">

            <td style="width: 50px;">
                @*<a class="btn btn-success" role="button" style="margin-left: 5px;" id="@IDButtonPlus" onclick="SetVisibleTable(@idRowAct,true); SetVisibleButton(@IDButtonMinus,true); SetVisibleButton(@IDButtonPlus,false);">
                        <span class="fa fa-plus"></span>
                    </a>
                    <a class="btn btn-success" id="@IDButtonMinus" role="button" style="margin-left: 5px; display: none" onclick="SetVisibleTable(@idRowAct,false); SetVisibleButton(@IDButtonMinus,false); SetVisibleButton(@IDButtonPlus,true);">
                        <span class="fa fa-minus"></span>
                    </a>*@
            </td>

            <td style="width: 150px;">
                @Html.DisplayFor(modelItem => item.ID)
            </td>

            <td style="width: 180px;">
                @Html.DisplayName(item.Data.ToString("yyyy-MM-dd"))
            </td>

            <td style="width: 400px;">
                @Html.DisplayFor(modelItem => item.Act.GroupBy(t => t.Company1).FirstOrDefault().Key.Name)
            </td>


            <td style="width: 80vw;margin: auto">
                @Html.DisplayFor(modelItem => item.Act.GroupBy(t => t.Cities).FirstOrDefault().Key.Name)
            </td>

            <td style="width: 80vw;margin: auto">
                @Html.DisplayFor(modelItem => item.ApplicationStatus.Name)
            </td>
            <td width="120px">



                @*<a href="/Applications/Details?id=@item.ID" class="btn btn-success" role="button" style="margin-left: 5px;">
                        <span class="fa fa-info-circle"></span>
                    </a>*@

            </td>



        </tr>

        if (item.Act.Count != 0)
        {
            foreach (var actItem in item.Act)
            {

                string link = "/Acts/DetailsStorage?id=" + @actItem.ID.ToString();

                <tr id="@idRowAct" onclick="GoToLink('@link');">
                    <td></td>

                    <td class="bg-success">Акт: @actItem.Name</td>
                    <td class="bg-success"></td>
                    <td class="bg-success">@actItem.Company1.Name.TrimEnd(' ')</td>
                    <td class="bg-success">@actItem.Cities.Name.TrimEnd(' ')</td>

                    @if (actItem.Warranty != null)
                    {
                        if (actItem.Warranty.Value)
                        {
                            <td class="bg-success">Гарантийный</td>
                        }
                        else
                        {
                            <td class="bg-success">Платный</td>
                        }

                    }

                    <td class="bg-success"></td>

                </tr>


            }


        }

    }

</table>


