﻿@model SystemOfProductionControl.Models.JournalOfRepairModel


@{
    string act = @Model.ActId.ToString();

    <table width="100%" class="table">
        <tr>
            <th>
                <input name="CheckAllSelector" id="CheckBoxAct_@act" type="checkbox" onclick="selectAllByName(this,'JournalCheckBox_@act');" value="0">
            </th>
            <th>
                Название
            </th>
            <th>
                Номер
            </th>
            <th>
                Дата продажи
            </th>
            <th>
                Неисправность
            </th>
            <th>
                Комментарий
            </th>
            <th>
                Статус
            </th>
            <th>
                @*<a href="/JournalOfRepairs/DeleteAllAct?id=@Model.FirstOrDefault().ActId" class="btn btn-danger" role="button" style="margin-right: 5px">
                    Удалить все
                    </a>*@
            </th>
        </tr>

        <tr>
            <th>
                <input class="checkboxSelected" name="JournalCheckBox_@act" id="JournalCheckBox_@Model.ID" type="checkbox" value="@Model.ID">
            </th>
            <td>
                @Model.TypeProduct
            </td>
            <td>
                @Model.NumberBlock
            </td>
            <td>
                @if (Model.DateOfSale != null)
                {
                    @Html.DisplayName(((DateTime)Model.DateOfSale).ToString("dd-MM-yy"));
                }
                else
                {
                    @Html.DisplayName("Неизвестно");
                }
            </td>
            <td>
                @if (Model.WarningList.Count() != 0)
                {
                    string s = "";
                    foreach (var VARIABLE in Model.WarningList)
                    {
                        //  s += VARIABLE.Name.TrimEnd(' ') + ", ";
                        <p>@VARIABLE.Name.TrimEnd(' ')</p>
                    }
                    //   s.TrimEnd(' ');
                    //    s.TrimEnd(',');
                    //   @s
                    //  @Html.DisplayName(@s)
                }
                else
                {
                    @Html.DisplayName("Нет")
                }
            </td>
            <td>
                @if (Model.WarningCommentsText != null)
                {
                    @Html.DisplayName(Model.WarningCommentsText);
                }
            </td>
            <td class="td_DateOfDelivery">
                @if (Model.DateOfDelivery != null)
                {
                    <div>@Html.DisplayName("Зaвершено:")</div>
                    <div>@Html.DisplayName(((DateTime)Model.DateOfDelivery).ToString("dd-MM-yy"))</div>
                }
                else
                {
                    @Html.DisplayName("В процессе");
                }
            </td>
            <td width="120px">
                <a href="/JournalOfRepairs/Edit?id=@Model.ID" class="btn btn-primary" role="button" style="margin-right: 5px">
                    <span class="fa fa-pencil"></span>
                </a>
                <a href="/JournalOfRepairs/Delete?id=@Model.ID" class="btn btn-danger" role="button" style="margin-right: 5px">
                    <span class="fa fa-remove"></span>
                </a>
            </td>
        </tr>

    </table>
} 

