﻿@model IEnumerable<SystemOfProductionControl.Models.JournalOfrepair.JournalOfRepairAndComponentModel>

@{
    Dictionary<int, SelectList> TypeWarningID = ViewBag.TypeWarningID;
    SelectList filter =  ViewBag.filter;
    Dictionary<int, SelectList> HistoryListRepairComponent =    ViewBag.HistoryListRepairComponent;

}

@if (Model?.Count() > 0)
{
    <table width="100%" class="table">

        <tr>

            <th style="width: 20px">
                <input type="checkbox" onclick="selectAllByName(this,'journalcheck');" value="0"> 
            </th>
            <th style="width: 170px">
                Название
            </th>
            <th style="width: 150px; text-align: center; ">
                Причина ремонта
            </th>
            <th style="width: 150px; text-align: center;">
                Номер/Дата
            </th>
            <th style="text-align: center;">
                Комментарий
            </th>
   
            <th>
                
            </th>
        </tr>


        @foreach (var item in Model)
        {


            String componentFastListID = "componentFastListID_" + item.ID.ToString();
            String componentFastListWarningID = "componentFastListWarningID_" + item.ID.ToString();

            <datalist id="@componentFastListID"> 
                @foreach (var RepairComponentItem in HistoryListRepairComponent[item.TypeProductID])
                { 
                    <option value="@RepairComponentItem.Text"/> 
                } 

            </datalist>



            <datalist id="@componentFastListWarningID">
                
                
                @foreach (var RepairComponentItem in HistoryListRepairComponent[item.TypeProductID])
                { 
                    <option value="@RepairComponentItem.Text"/> 
                } 

            </datalist>


            <tr>

                <td>
                    <input class="checkboxSelected" name="journalcheck" id="JournalCheckBox_@item.ID" type="checkbox" value="@item.ID"> 
                </td>

                <td>
                    @item.TypeProduct
                </td>
                <td style="text-align: center;">
                    @item.WarningTypeFromUserText
                </td>
                <td style="text-align: center;">
                    <div> @item.NumberBlock</div>
                    <div>

                        @if (item.DateOfSale != null)
                        {
                            @Html.DisplayName(((DateTime)item.DateOfSale).ToString("dd-MM-yy"))

                        }
                        else
                        {
                            @Html.DisplayName("Неизвестно")

                        }

                    </div>
                </td>
                <td style="text-align: center;">
                    @if (item.WarningCommentsText != null)
                    {
                        @Html.DisplayName(item.WarningCommentsText);
                    }
                </td>
               
                <td style="text-align: right;">
                    <a href="/JournalOfRepairs/Edit?id=@item.ID" class="btn btn-primary" role="button" style="margin-right: 5px">
                        <span class="fa fa-pencil"></span>
                    </a>

                    <a href="/JournalOfRepairs/Delete?id=@item.ID" class="btn btn-danger" role="button" style="margin-right: 5px">
                        <span class="fa fa-remove"></span>
                    </a>
                </td>
            </tr>

            <tr>
                <td></td> 
                <td colspan="5" class="bg-success">
                    <div>
                        <table width="100%">
                            <tr>
                                
                                <td style="width: 100px;">
                                    
                                    <div>Фильтр</div>
                                    <div>
                                        @Html.DropDownList("filter", filter, htmlAttributes: new {@class = "form-control", @style = "margin-right:10px;", @onchange = "changefilter(this,'" + @componentFastListID+"'," + item.TypeProductID.ToString() + ");"})
                                    </div>

                                   
                                </td>

                                <td style="width: 250px;">
                                    Компоненты на списание:
                                    <div class="ui-widget">

                                        @{
                                            String idacInput = "acInputComp_" + item.ID.ToString();
                                            String idCountComp = "idCountComp_" + item.ID.ToString();
                                        }

                                        <input name="acInput" list="@componentFastListID" id="@idacInput" class="form-control" style="width: 250px;"/>

                                    </div>
                                </td>
                                <td style="width:80px;">
                                    Кол-во
                                    @Html.TextBox("ComponentCount", "1", htmlAttributes: new {@class = "form-control", @id = @idCountComp})
                                </td>
                                <td>
                                    <br/>
                                    <button type="button" onclick="addComponent('@item.ID', '@idacInput', '@idCountComp')" class="btn btn-success btn-sm" style="margin: 2px; margin-right: 10px;">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </td>

                                <td>

                                    @{

                                        String idWC = "idWC_" + item.ID.ToString();
                                        String idReplays = "idReplays_" + item.ID.ToString();
                                        String Replays = "";
                                        String WC = "";
                                        if (item.WaitingComponent)
                                        {
                                            WC = "checked";
                                        }

                                        if (item.Replace)
                                        {
                                            Replays = "checked";
                                        }

                                    }
                                    <div>
                                        <table width="100%">
                                            
                                            <tr>
                                                <td style="vert-align: middle;">
                                                    <div>
                                                        <table width="100%">
                                                            <tr>
                                                                <td style="width: 80%; text-align: right;">Списать оборудование</td>
                                                                <td style="width: 150px; text-align: center;">
                                                                    <input type="checkbox" @Replays onchange="SetReplays('@item.ID.ToString()', '@((!item.Replace).ToString().ToLower())')"/>
                                                                </td>
                                                            </tr>
                                                        </table>

                                                    </div>

                                                </td>
                                            </tr>

                                        </table>




                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    @{
                        String idName = "componentContayner" + item.ID.ToString();
                    }

                    <div id="@idName" style="margin-top: 10px;">

                        @if (item.Components != null)
                        {
                            @Html.Partial("~/Views/Applications/ComponentsTable2PartialView.cshtml", item.Components)
                        }
                    </div>
                </td>
                
                 
            </tr>



        }

    </table>


}
else

{


    <div style="margin-left: auto; margin-right: auto; float: initial;">Нет записей</div>


}

