﻿@model IEnumerable<SystemOfProductionControl.Models.JournalOfrepair.JournalOfRepairAndComponentModel>
@{
    Dictionary<int, SelectList> TypeWarningID = ViewBag.TypeWarningID;
    SelectList filter = ViewBag.filter;
    Dictionary<int, SelectList> HistoryListRepairComponent = ViewBag.HistoryListRepairComponent;
}
@if (Model?.Count() > 0)
{
    <table width="100%" class="table">
        <tr>
            <th style="width: 20px">
                @*<input type="checkbox" onclick="selectAllByName(this,'journalcheck');" value="0">*@
            </th>
            <th style="width: 170px">
                Название
            </th>
            <th style="width: 150px; text-align: center; ">
                Причина ремонта
            </th>
            <th style="width: 150px; text-align: center;">
                Номер/Дата
            </th>
            <th style="text-align: center;">
                Комментарий
            </th>
            <th style="width: 150px;">
            </th>
            <th style="width: 150px; text-align: left;">
                Статус
            </th>
            <th>
                @*<a href="/JournalOfRepairs/DeleteAllAct?id=@Model.FirstOrDefault().ActId" class="btn btn-danger" role="button" style="margin-right: 5px">
                    Удалить все
                    </a>*@
            </th>
        </tr>
        @foreach (var item in Model)
        {
            string componentFastListID = "componentFastListID_" + item.ID.ToString();
            string componentFastListWarningID = "componentFastListWarningID_" + item.ID.ToString();
            <datalist id="@componentFastListID">
                @foreach (var RepairComponentItem in HistoryListRepairComponent[item.TypeProductID])
                {
                    <option value="@RepairComponentItem.Text" />

                }
            </datalist>
            <datalist id="@componentFastListWarningID">
                @foreach (var RepairComponentItem in HistoryListRepairComponent[item.TypeProductID])
                {
                    <option value="@RepairComponentItem.Text" />

                }
            </datalist>
            <tr>
                <td>
                    @*<input class="checkboxSelected" name="journalcheck" id="JournalCheckBox_@item.ID" type="checkbox" value="@item.ID">*@
                </td>
                <td>
                    @item.TypeProduct
                </td>
                <td style="text-align: center;">
                    @item.WarningTypeFromUserText
                </td>
                <td style="text-align: center;">
                    <div> @item.NumberBlock</div>
                    <div>
                        @if (item.DateOfSale != null)
                        {
                            @Html.DisplayName(((DateTime)item.DateOfSale).ToString("dd-MM-yy"))
                        }
                        else
                        {
                            @Html.DisplayName("Неизвестно")
                        }
                    </div>
                </td>
                <td style="text-align: center;">
                    @if (item.WarningCommentsText != null)
                    {
                        @Html.DisplayName(item.WarningCommentsText);
                    }
                </td>
                <td>
                    <div>
                        <div style="float: right; margin-right: 20px;">
                            @{
                                string st1 = "";
                                string st2 = "";
                                string id1 = "idButtonType1_" + item.ID.ToString();
                                string id2 = "idButtonType2_" + item.ID.ToString();
                                if (item.Type)
                                {
                                    st1 = "";
                                    st2 = "display: none;";
                                }
                                else
                                {
                                    st1 = "display: none;";
                                    st2 = "";
                                }
                            }
                            <button id="@id1" type="button" style="@st1" onclick="SetVisible('@id1', false); SetVisible('@id2',true); ToOtherType(@item.ID.ToString());" class="btn btn-success btn-sm" style="margin-left: 2px;">
                                <span class="fa fa-exchange"></span> Гарантийный
                            </button>
                            <button id="@id2" type="button" style="@st2" onclick="SetVisible('@id2', false); SetVisible('@id1',true); ToOtherType(@item.ID.ToString());" class="btn btn-success btn-sm" style="margin-left: 2px;">
                                <span class="fa fa-exchange"></span> Платный
                            </button>
                        </div>
                    </div>
                </td>
                <td name="td_status" style="text-align: left;">
                    @if (item.DateOfDelivery != null)
                    {
                        @Html.DisplayName("Зaвершено");
                    }
                    else
                    {
                        <div>
                            <button type="button" id="CityIdButton" onclick='CloseRepair(@item.ID.ToString(), this);' class="btn btn-success btn-sm" style="margin-left: 2px;">
                                <span class="fa fa-check"></span>
                            </button>
                            @Html.DisplayName("В процессе")
                        </div>
                    }
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3" style="color: black; background-color:#6da698">
                    <div>
                        @{
                            string idacInputWarn = "idacInputWarn_" + item.ID.ToString();
                            string idWarngList = "idWarngList_" + item.ID.ToString();
                        }
                        <table width="100%">
                            <tr>
                                <td style="width: 130px;">
                                    Неисправности:
                                    <div class="ui-widget">
                                        @Html.DropDownList("TypeWarningID", TypeWarningID[item.TypeProductID], htmlAttributes: new { @id = @idWarngList, @class = "form-control" })
                                    </div>
                                </td>
                                <td style="width: 80vw;margin: auto">
                                    <div>Фильтр</div>
                                    <div>
                                        @Html.DropDownList("filter", filter, htmlAttributes: new { @class = "form-control", @style = "margin-right:10px;", @onchange = "changefilter(this,'" + @componentFastListWarningID + "'," + item.TypeProductID.ToString() + ");" })
                                    </div>
                                </td>
                                <td style="width: 80vw;margin: auto">
                                    Неисправный компонент:
                                    <div class="ui-widget">
                                        <input name="acInput" id="@idacInputWarn" list="@componentFastListWarningID" class="form-control" style="width: 80vw;margin: auto" />
                                    </div>
                                </td>
                                <td>
                                    <br />
                                    <button type="button" onclick="addWarning('@item.ID','@idWarngList','@idacInputWarn')" class="btn btn-success btn-sm" style="margin: 2px; margin-right: 10px;">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    @{
                        string idNamew = "warningContainer_" + item.ID.ToString();
                    }
                    <div id="@idNamew" style="margin-top: 10px;">
                        @if (item.WarningList != null)
                        {
                            @Html.Partial("~/Views/Applications/WarningsTablePartialView.cshtml", item.WarningList)
                        }
                    </div>
                </td>
                <td colspan="3" style="color: black; background-color:#6da698">
                    <div>
                        <table width="100%">
                            <tr>
                                <td style="width: 100px;">
                                    <div>Фильтр</div>
                                    <div>
                                        @Html.DropDownList("filter", filter, htmlAttributes: new { @class = "form-control", @style = "margin-right:10px;", @onchange = "changefilter(this,'" + @componentFastListID + "'," + item.TypeProductID.ToString() + ");" })
                                    </div>
                                </td>
                                <td style="width: 80vw;margin: auto">
                                    Компоненты на замену:
                                    <div class="ui-widget">
                                        @{
                                            string idacInput = "acInputComp_" + item.ID.ToString();
                                            string idCountComp = "idCountComp_" + item.ID.ToString();
                                        }
                                        <input name="acInput" list="@componentFastListID" id="@idacInput" class="form-control" style="width: 80vw;margin: auto" />
                                    </div>
                                </td>
                                <td style="width: 50px;">
                                    Кол-во
                                    @Html.TextBox("ComponentCount", "1", htmlAttributes: new { @class = "form-control", @id = @idCountComp })
                                </td>
                                <td>
                                    <br />
                                    <button type="button" onclick="addComponent('@item.ID', '@idacInput', '@idCountComp')" class="btn btn-success btn-sm" style="margin: 2px; margin-right: 10px;">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </td>
                                <td>
                                    @{
                                        string idWC = "idWC_" + item.ID.ToString();
                                        string idReplays = "idReplays_" + item.ID.ToString();
                                        string WC = "";
                                        string Replays = "";
                                        if (item.WaitingComponent)
                                        {
                                            WC = "checked";
                                        }
                                        if (item.Replace)
                                        {
                                            Replays = "checked";
                                        }
                                    }
                                    <div>
                                        <table width="100%">
                                            <tr>
                                                <td style="vert-align: middle;">
                                                    <div>
                                                        <table width="100%">
                                                            <tr>
                                                                <td style="width: 80%; text-align: right;">Нет компонентов </td>
                                                                <td style="width: 150px; text-align: center;">
                                                                    <input type="checkbox" @WC onchange="SetWaitingComponent('@item.ID')" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="vert-align: middle;">
                                                    <div>
                                                        <table width="100%">
                                                            <tr>
                                                                <td style="width: 80%; text-align: right;">Ремонту не подлежит </td>
                                                                <td style="width: 150px; text-align: center;">
                                                                    <input type="checkbox" @Replays onchange="SetReplays('@item.ID.ToString()', '@((!item.Replace).ToString().ToLower())')" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    @{
                        string idName = "componentContayner" + item.ID.ToString();
                    }
                    <div id="@idName" style="margin-top: 10px;">
                        @if (item.Components != null)
                        {
                            @Html.Partial("~/Views/Applications/ComponentsTablePartialView.cshtml", item.Components)
                        }
                    </div>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div style="margin-left: auto; margin-right: auto; float: initial;">Нет записей</div>
}

@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/Scripts/Application/EditScripts.js"></script>
    <script>
    </script>
}
