﻿@model IEnumerable<SystemOfProductionControl.Models.Warning.WarningVmModel>
<Table width="100%" class="table">
    @foreach (var warning in Model)
    {
        String idTr = "warTr" + warning.ID.ToString();
        <tr id="@idTr" style="color: black; background-color:#6da698;height: 60px;">
            <td>@warning.Name</td>
            <td>
                <button type="button" onclick="ElementGone('@idTr');  removeWarning('@warning.Idjournal','@warning.ID','@((int)warning.Type)');" class="btn btn-danger btn-sm" style="margin: 2px; margin-right: 10px;">
                    <span class="fa fa-remove"></span>
                </button>
            </td>
        </tr>
    }

</Table>