﻿@using SystemOfProductionControl.other
@using SystemOfProductionControl.Models
@model SystemOfProductionControl.Models.ActOfTransfer



@{
    ViewBag.Title = "Edit";

    SelectList TypeProductID = ViewBag.TypeProductID;
    ApplicationReturned applicationReturned = ViewBag.Application;
    Company company = ViewBag.Company;



    String KPP = "";
    String INN = "";
    String City = "";
    String CompanyName = "";
    String CompanyPhone = "";
    String CompanyId = "";
    if (company != null)
    {

        CompanyId = company.Id.ToString();
        if (company.Cities != null)
        {
            if (company.Cities.Name != null)
            {
                City = company.Cities.Name.TrimEnd(' ');
            }


        }

        if (company.Name != null)
        {
            CompanyName = company.Name;
        }

        if (company.KPP != null)
        {
            KPP = company.KPP;
        }

        if (company.INN != null)
        {
            INN = company.INN;
        }

        if (company.Phone != null)
        {
            CompanyPhone = company.Phone.TrimEnd(' ');
        }

    }



}




<div>

    <div class="row" style="width: 80vw;margin: auto" ">

        <div class="card" style="width: 80vw;margin: auto">



            <div class="card-header">


                <table width="100%">

                    <tr style="width: 80vw;margin: auto">
                        <td></td>
                        <td style="text-align: center;">
                            <div style="text-align: center;">
                                <b>Акт тестдрайв № </b>
                                @Model.NomerInAct
                                <a href="/ApplicationReturned/Edit?id=@applicationReturned.ID">
                                    К документу №@applicationReturned.ID
                                </a>
                            </div>


                        </td>

                        <td style="width: 600px;">

                            <div style="float: right; margin: 10px;">


                                <div style="margin-top: 5px;">
                                    <div>
                                        <a href="/ActOfTransfers/ReportAct/?id=@Model.ID" target="_blank" class="btn btn-success" role="button" style="margin: 2px; width: 180px;">
                                            <span class="fa fa-print"></span> Акт Сдачи-Приемки
                                        </a>
                                        <a href="/ActOfTransfers/ReportSpecification/?id=@Model.ID" target="_blank" class="btn btn-success" role="button" style="margin: 2px; width: 180px;">
                                            <span class="fa fa-print"></span> Спецификация
                                        </a>
                                    </div>

                                    <div>Дата создания: @Model.DateCreate.ToString("yyyy-MM-dd")</div>

                                </div>

                            </div>

                        </td>
                    </tr>

                    <tr style="margin-top: 5px;">
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                </table>



                <table width="100%">
                    <tr>
                        <td>
                            <div>
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayName("Заказчик")
                                    </dt>
                                    <dd>
                                        <a href="/Companies/edit?id=@CompanyId">
                                            @Html.DisplayName("Город:")
                                            @Html.DisplayName(City)
                                            @Html.DisplayName(" Организация: ")
                                            @Html.DisplayName(CompanyName)
                                        </a>
                                    </dd>


                                    <dt>
                                        Сопроводительный документ:
                                    </dt>
                                    <dd>
                                        <input type="text" id="TransferMail" value="@Model.TransferMail" style="width: 300px;" />
                                    </dd>

                                    <dt>
                                        Распорядительная:
                                    </dt>
                                    <dd>
                                        <input type="text" id="Administrativ" value="@Model.Administrative" style="width: 300px;" />
                                    </dd>

                                </dl>
                            </div>
                        </td>
                        <td>
                            <div style="margin-top: 20px; margin-left: auto; margin-right: 10px; height: 40px;"></div>
                        </td>

                    </tr>


                </table>




            </div>



            <div class="card-body" id="Body" style="margin-bottom: 210px">
                <div>

                    <table width="100%">
                        <tr>

                            <td>
                                @*<div>
                                        <button type="submit" class="btn btn-info" style="margin-right: 12px; float: left;">Выбрать на тестдрайв </button>
                                    </div>*@
                            </td>
                            <td>
                                @*<div>
                                        <button type="submit" class="btn btn-info" style="margin-right: 12px; float: left;">Списать на тестдрайв </button>
                                    </div>*@
                            </td>
                            <td>
                                <div style="float: right;">
                                    <button type="submit" class="btn btn-danger" style="margin-right: 12px;" onclick="DeleteAllCheckbox()"> Удалить выбранное </button>

                                    @*<a href="/JournalOfRepairs/DeleteAll" class="btn btn-danger" role="button" style="margin-right: 5px">
                                            Удалить выбранное
                                        </a>*@
                                </div>
                            </td>
                        </tr>

                    </table>






                </div>

                <br />


                <div style="margin-top:20px;">


                    <div class="JournalsOfActContainer" id="JournalsOfActContainer">

                        @Html.Partial("~/Views/ActOfTransfers/JournalsOfReturnedPartialView.cshtml", Model.JournalOfReturned)

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>











<div style="position: fixed; bottom: 20px; right: 0px; left:  0px;">

    <div class="row" style="width: 80vw;margin: auto" ">

        <div class="card" style="width: 80vw;margin: auto">

            <div style="background-color: #bddfc3 ">



                <div class="card-header">


                    <div style="margin: 20px 0;" id="ProductContainer">

                        @using (Html.BeginForm("AddProduct", "ActOfTransfers", FormMethod.Post))
                        {

                            @Html.AntiForgeryToken()

                            <div style="padding-bottom: 0px;">


                                <div class="form-group" style="margin-bottom: 0px; ">
                                    <input id="idAct" name="idAct" type="hidden" value="@Model.ID" />
                                    <table class="table" style="margin-left: auto; margin-right: auto; width: 1200px">

                                        <tr>

                                            <th>
                                                @Html.DisplayName("Тип продукта")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Кол-во")
                                            </th>
                                            <th>
                                                @Html.DisplayName("№ блока")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Дата продажи")
                                            </th>
                                            <th>Цена</th>
                                            <th>Комментарий</th>

                                            <th>
                                                <button type="submit" formaction="/ActOfTransfers/AddProduct" formmethod="post" class="btn btn-primary" style="margin-right: 12px">Добавить</button>
                                            </th>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div>
                                                    @Html.DropDownList("TypeProductID", TypeProductID, htmlAttributes: new { @class = "form-control", @style = "width:200px;", @id = "TypeProductID" })
                                                </div>

                                            </td>




                                            <td>

                                                <select id="Count" class="form-control" style="width: 60px;">

                                                    @for (int i = 1; i < 20; i++)

                                                    {
                                                        if (i == 1)
                                                        {
                                                            <option value="@i" selected="selected">@i </option>


                                                        }

                                                        else
                                                        {
                                                            <option value="@i">@i </option>
                                                        }
                                                    }

                                                </select>

                                            </td>


                                            <td>
                                                <div id="NumberBlockDiv">
                                                    @*  @Html.TextBox("NumberBlock1", "", htmlAttributes: new { @class = "form-control"  , @style = "width: 90px;" })*@
                                                    <input type="text" name="NumberBlock[0]" class="form-control" style="width: 70px;">

                                                </div>
                                            </td>

                                            <td style="width: 160px;">
                                                <div id="DateOfSaleDiv" style="width: 160px;">

                                                    <select name="DateOfSaleMM[0]" class="form-control" style="width: 70px; float: left;">
                                                        <option value="" selected="selected">Нет</option>

                                                        @for (int i = 1; i <= 12; i++)
                                                        {
                                                            <option value="@i">@i </option>

                                                        }

                                                    </select>



                                                    <select name="DateOfSaleYY[0]" class="form-control" style="width: 80px; float: left;">

                                                        <option value="" selected="selected">Нет</option>
                                                        @for (int i = 1990; i < DateTime.Now.Year + 3; i++)
                                                        {

                                                            <option value="@i">@i </option>

                                                        }

                                                    </select>



                                                </div>
                                            </td>

                                            <td>
                                                <input type="text" name="Price" class="form-control" style="width: 150px;">
                                            </td>
                                            <td>
                                                @Html.TextArea("WarningComments", "", 5, 50, htmlAttributes: new { @id = "WarningComments", @style = "width: 100%" })
                                            </td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{

    <script>


        function DeleteAllCheckbox() {
            var checkbox = $(".checkboxSelected");

            var arr = "";
            var count = 0;
            for (var i = 0; i < checkbox.length; i++) {


                var val = $(checkbox[i]).val();
                var checked = checkbox[i].checked;

                if (checked) {
                    if (count != 0) {
                        arr += "&";
                    }
                    arr += "idArray["+count+"]=" + val;

                    count++;
                }


            }

            if (count == 0) return;
            window.location.href = "/JournalOfRepairs/DeleteAll?" + arr;
        }



        $('#TransferMail').blur(function() {

            SetTransferMail(this);
        });

        $('#Administrativ').blur(function() {

            SetAdministrativ(this);
        });


        function SetTransferMail(dateValue) {
            var Data =
            {
                actID: @Model.ID,
                text: $(dateValue).val()

            };
            $.getJSON("/ActOfTransfers/SetTransferMail", Data, null);
        };


        function SetAdministrativ(dateValue) {
            var Data = {
                actID: @Model.ID,
                text: $(dateValue).val()

            };
            $.getJSON("/ActOfTransfers/SetAdministrativ", Data, null);
        };


        $(function() {

            $('#ButtonGone')
                .click(function() {
                    var button = $(this);
                    // if (name != "Нет") {
                    //if (document.getElementById("Body").style.display == "none") {
                    //    document.getElementById("Body").style.display = "block";

                    // }
                    // else {
                    document.getElementById("Body").style.display = "none";
                    document.getElementById("ButtonVisible").style.display = "block";
                    document.getElementById("ButtonGone").style.display = "none";
                    //  }
                    // document.getElementById("text1").style.display = "block";
                    //}
                });
        });

        $(function() {

            $('#ButtonVisible')
                .click(function() {
                    var button = $(this);
                    // if (name != "Нет") {
                    document.getElementById("Body").style.display = "block";
                    document.getElementById("ButtonGone").style.display = "block";
                    document.getElementById("ButtonVisible").style.display = "none";
                    // document.getElementById("text1").style.display = "block";
                    //}
                });
        });


        $(function() {

            $('#Count')
                .change(function() {
                    var count = $(this).val();


                    $('#NumberBlockDiv').empty();
                    $('#DateOfSaleDiv').empty();
                    var heightSize = 35;

                    if (count > 5) {
                        heightSize = 30;
                    }

                    for (var i = 0; i < count; i++) {


                        $('#NumberBlockDiv')
                            .append('<input type="text" name="NumberBlock[' +
                                i +
                                ']" class="form-control" style="width: 70px; height: ' +
                                heightSize +
                                'px;">');
                        //    $('#DateOfSaleDiv')
                        //        .append('<input type="date" name="DateOfSale[' +
                        //            i +
                        //            ']" class="form-control" style="width: 120px; font-size: 10px; height: ' +
                        //            heightSize +
                        //            'px;">');
                    }

                    var time = @DateTime.Now.Year;

                    var data = '';

                    for (var i = 0; i < count; i++) {


                        data += '<select name="DateOfSaleMM[' +
                            i +
                            ']" class="form-control" style="width: 70px;  float: left;  height: ' +
                            heightSize +
                            'px;">';

                        data += '  <option value="" selected="selected">Нет</option>';
                        for (var j = 1; j <= 12; j++) {

                            data += '<option value="' + j + '">' + j + ' </option>';

                        }

                        data += '</select>';


                        data += '<select name="DateOfSaleYY[' +
                            i +
                            ']" class="form-control" style="width: 80px; float: left; height: ' +
                            heightSize +
                            'px;">';

                        data += '  <option value="" selected="selected">Нет</option>';
                        for (var j = 1990; j < time + 3; j++) {


                            data += '<option value="' + j + '">' + j + ' </option>';

                        }

                        data += '</select>';


                    }


                    $('#DateOfSaleDiv')
                        .append(data);

                });
        });

        $(function() {
            $("#TypeProductID")
                .change(function() {

                    var person = { name: $("#TypeProductID").val() };

                    $.getJSON("/JournalOfRepairs/AjaxTest", person, getWarning);
                });

        });


    </script>


}

