﻿@model IEnumerable<SystemOfProductionControl.Models.JournalOfReturned>
@using SystemOfProductionControl.Models



@if (Model?.Count() > 0)
{

    //String act = @Model.FirstOrDefault().ActId.ToString();


    <table width="100%" class="table">

        <tr>

            <th>
                <input name="CheckAllSelector" id="CheckBoxJournal" type="checkbox" onclick="selectAllByName(this,'JournalCheckBox');" value="0">
            </th>
            <th>
                Название
            </th>
            <th>
                Номер
            </th>
            <th>
                Дата продажи
            </th>
            <th>
                Цена
            </th>
            <th>
                Статус
            </th>


            <th>
                @*<a href="/JournalOfRepairs/DeleteAllAct?id=@Model.FirstOrDefault().ActId" class="btn btn-danger" role="button" style="margin-right: 5px">
                        Удалить все
                    </a>*@
            </th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <input class="checkboxSelected" name="JournalCheckBox" id="JournalCheckBox" type="checkbox" value="@item.ID">
                </td>

                <td>
                    @item.ProductType.Name
                </td>

                <td>
                    @if (item.Number != null)
                    {
                        if (item.Number.TrimEnd() != "")
                        {
                            @Html.DisplayName(item.Number)
                        }
                        else
                        {
                            @Html.DisplayName("Неизвестно")
                        }

                    }
                    else
                    {
                        @Html.DisplayName("Неизвестно")
                    }
                </td>
                <td>

                    @if (item.DateOfSale != null)
                    {
                        @Html.DisplayName(((DateTime)item.DateOfSale).ToString("dd:MM:yyyy"));
                    }
                    else
                    {
                        @Html.DisplayName("Неизвестно");
                    }

                </td>
                <td>
                    @item.Price.GetValueOrDefault(0).ToString("0.00")
                </td>

                <td>

                    @if (item.DateWriteOff != null)
                    {

                        <div>@Html.DisplayName("Возвращено:")</div>
                        <div>@Html.DisplayName(((DateTime)item.DateWriteOff).ToString("dd:MM:yyyy"))</div>

                    }
                    else
                    {
                        @Html.DisplayName("Ожидается");
                    }


                </td>


                <td width="300px">

                    <a href="/JournalOfReturneds/Delete?id=@item.ID" class="btn btn-danger" role="button" style="margin-right: 5px; float: right;">
                        <span class="fa fa-remove"></span>
                    </a>

                    <a href="/JournalOfReturneds/Edit?id=@item.ID" class="btn btn-primary" role="button" style="margin-right: 5px; float: right;">
                        <span class="fa fa-pencil"></span>
                    </a>
                    @if (item.DateWriteOff == null)
                    {
                        <a href="/JournalOfReturneds/Returned?id=@item.ID" class="btn btn-primary" role="button" style="margin-right: 5px; float: right;">
                            <span class="fa fa-check"></span> Возврашено
                        </a>
                    }

                </td>
            </tr>

        }





    </table>


}
else

{


    <div style="margin-left: auto; margin-right: auto; float: initial;">Нет записей</div>


}

