﻿@using SystemOfProductionControl.Models
@using SystemOfProductionControl.other
@model SystemOfProductionControl.Models.ActOfTransfer

@{
    ViewBag.Title = "Report";
    Layout = null;
    String Count = ViewBag.Count;
    String NumberAndData = ViewBag.NumberAndData;
    String TypeName = ViewBag.TypeName;
    String Comments = ViewBag.Comments;
    String FIO = ViewBag.FIO;
 
 


    String dogovor = ViewBag.Dogovor;
    DateTime DateCreateApplication = ViewBag.DateCreate;
    Company company = ViewBag.Company;


    float all = 0;

    float Nds = 0;

    String sumProp = "";
    String SpDoc = "";
    if (Model.TransferMail.TrimEnd(' ') != "")
    {
        SpDoc ="Сопроводительный Документ: "+ Model.TransferMail.TrimEnd(' ');
    }
}



@*<head>

</head>*@

<style type="text/css">


    .underlined-container {
        border-bottom: 1px solid black; /* */
    }

    .underlined-content {
        border-bottom: 1px solid black;
        position: relative;
        bottom: -1px;
    }

    .lable {
        float: left;
        padding: 0 10px 0 0;
        font-weight: 600;
        position: relative;
        bottom: -1;
        background-color: white;
    }

    .lable_easy{
        float: left;
        padding: 0 10px 0 0;
        font-weight: 300;
        position: relative;
        bottom: -1;
        background-color: white;
  
    }

    .lable_easy-right{
        float: right;
        padding: 0 10px 0 0;
        font-weight: 300;
        position: relative;
        bottom: -1;
        background-color: white;
  
    }

    div {
        text-align: justify;
    }

    .text {
        font-family: Times New Roman;
        font-weight: 100;
        border-bottom: 1px solid black;
    }

    TABLE {
        border-collapse: collapse; /* Убираем двойные линии между ячейками */
        width: 100%; /* Ширина таблицы */
    }

    TH {
        /* Цвет фона ячейки */
        text-align: left; /* Выравнивание по левому краю */
        font-size: 14px;
    }

    TD {
        /* Цвет фона ячеек */
        font-size: 12px;
        height: 2vh;
        text-align: center; /* Выравнивание по центру */
    }

    TH, TD {
        border: 1px solid black; /* Параметры рамки */
        padding: 4px; /* Поля вокруг текста */
    }
</style>



<body>
<div>
    <div style="width: 70vh; height: 100vh;  margin: 0 auto;">
        <div style="margin-left:20px; margin-right:30px;">
            <div style="margin:5px; height: 1vh; "></div>
            <div style="text-align:right; height: 2vh;">Приложение №1</div>
            <div style="text-align:right; height: 2vh;">к договору безвозмездного пользования № @dogovor</div>
            <div style="text-align:right; height: 2vh;">от @DateCreateApplication.ToString("dd.M.yyyy")</div>
            <div style="margin:10px;"></div>
            <div style="margin:5px; height: 1vh; "></div>
            <div style="text-align:left; height: 2vh;">@SpDoc</div>
            <div style="margin:5px; height: 1vh; "></div>
            <div style="margin:5px; height: 1vh; "></div>
            <div style="margin:5px; height: 1vh; "></div>



            <div style="text-align:center; height: 2vh;"><b>Спецификация на передаваемое в безвозмездное пользование имущество</b></div>

            <div style="margin:5px; height: 1vh; "></div>
            <table width="100%">
                <tr>
                    <th>№</th>
                    <th>Наименование</th>
                    <th>Ед.Изм.</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Сумма</th>
                </tr>

                @{
                int count = 0;
                }
                @foreach (var item in Model.JournalOfReturned.GroupBy(t => new { t.ProductType, t.Price }).Select(t => new { prod = t.Key, count = t.Count() }))
            {
                count++;
                all += (item.prod.Price.GetValueOrDefault(0) * item.count);
                <tr>
                    <td>@count.ToString()</td>
                    <td>@item.prod.ProductType.Name</td>
                    <td>ШТ</td>
                    <td>@item.count</td>
                    <td>
                        @item.prod.Price.GetValueOrDefault(0).ToString("0.00")
                    </td>
                    <td>
                        @{
                        float AllPrice = @item.prod.Price.GetValueOrDefault(0) * item.count;
                        }
                        @AllPrice.ToString("0.00")
                    </td>

                </tr>
        }



                @{
                Nds = (all / (CustomConstants.GetNDS() + 100)) * CustomConstants.GetNDS();
                sumProp = Сумма.Пропись(all, Валюта.Рубли).ToString();
                }

                <tr style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;">
                    <td style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;"></td>
                    <td style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;"> </td>
                    <td style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;"></td>

                    <td style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;"></td>
                    <td>Итого</td>
                    <td>@all.ToString("0.00")</td>
                </tr>

                <tr style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;">
                    <td style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;"></td>
                    <td style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;"> </td>
                    <td style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;"></td>

                    <td style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;"></td>
                    <td>в т.ч.НДС:</td>
                    <td>@Nds.ToString("0.00")</td>
                </tr>
            </table>
        </div>
        <div class="lable">Итого: @sumProp</div>
        <div class="clear"></div>

        <div style="margin: 5px; height: 2vh;">

        </div> <div style="margin:5px; height: 2vh; "></div>
        <div style="margin:5px; height: 2vh; "></div>
        <div>

            <div class="lable_easy">
                <div>
                    ССУДОПОЛУЧАТЕЛЬ:
                </div>
                <div style="margin:5px; height: 1vh; "></div>
                <div>
                    ______________________/_______________/
                </div>
                <div style="margin:5px; height: 2vh; "></div>
                <div>
                    &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; М.П.
                </div>
            </div>
            <div class="lable_easy-right">
                <div class="lable_easy">
                    <div>
                        ССУДОДАТЕЛЬ:
                    </div>
                    <div style="margin:5px; height: 1vh; "></div>
                    <div>
                        <u>Генеральный директор</u> /<u>Агафонов Е.В.</u>/
                    </div>
                    <div style="margin:5px; height: 2vh; "></div>
                    <div>
                        &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; М.П.
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
 
</body>


 
   
 