﻿@using SystemOfProductionControl.Models
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <script src="~/Scripts/jquery-3.4.1.min.js">
        $(document).ready(function () {
            $(document).mousemove(function (e) {
                TweenLite.to($('body'),
                    .5,
                    {
                        css:
                        {
                            backgroundPosition: "" + parseInt(event.pageX / 8) + "px " + parseInt(event.pageY / '12') + "px, " + parseInt(event.pageX / '15') + "px " + parseInt(event.pageY / '15') + "px, " + parseInt(event.pageX / '30') + "px " + parseInt(event.pageY / '30') + "px"
                        }
                    });
            });
        });
    </script>
    <div class="container" style="margin-top: 10%;">
        <div class="row vertical-offset-100">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default" style="max-width:310px;">
                    <div class="card-header" >
                        <h3 class="panel-title">Авторизация</h3>
                    </div>
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                        <div class="card-body">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <fieldset>
                                <div class="form-group" style="margin-left: auto; margin-right:auto;">
                                    <input class="form-control" placeholder="Логин" name="email" type="text">
                                </div>
                                <div class="form-group" style="margin-left: auto; margin-right:auto;">
                                    <input class="form-control" placeholder="Пароль" name="password" type="password" value="">
                                </div>
                                <div class="form-group" style="width: 80vw;margin: auto">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="checkbox" style="margin-left: auto; margin-right:auto;">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                    </div>
                                </div>
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Вход">
                            </fieldset>
                        </div>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>
</html>