﻿@model SystemOfProductionControl.Models.RegisterViewModel
  

@{
    ViewBag.Title = "Регистрация";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Создайте новую учетную запись.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group" style="width: 80vw;margin: auto">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group" style="width: 80vw;margin: auto">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group" style="width: 80vw;margin: auto">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div> 
          <div class="form-group" style="width: 80vw;margin: auto">
              @{    
                  IEnumerable<SelectListItem> selectList = null;

                  if (Model.ANRs != null)
                  {
                      selectList = from genre in Model.ANRs
                                   select new SelectListItem
                                   {
                                       Text = genre.Name,
                                       Value = genre.Name
                                   };
                  }  
              }

              @Html.LabelFor(m => m.Role, new { @class = "col-md-2 control-label" })
            
                  @if (selectList != null)
                  {
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Role, selectList, new { Style = "width:100%; height: 34px; " })
                    </div>
                  }
                 

           </div>

    <div class="form-group" style="width: 80vw;margin: auto">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group" style="width: 80vw;margin: auto">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group" style="width: 80vw;margin: auto">
        @Html.LabelFor(m => m.MiddleName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group" style="width: 80vw;margin: auto">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Регистрация" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
