﻿@model SystemOfProductionControl.Models.JournalOfRepair
@using SystemOfProductionControl.Models

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>JournalOfRepair</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group" style="width: 80vw;margin: auto">
                @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group" style="width: 80vw;margin: auto">
                @Html.LabelFor(model => model.DataOfReceipt, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DataOfReceipt, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.DataOfReceipt, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group" style="width: 80vw;margin: auto">
            @Html.LabelFor(model => model.City, "City", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("City", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="width: 80vw;margin: auto">
            @Html.LabelFor(model => model.Company, "Company", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Company", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="width: 80vw;margin: auto">
            @Html.LabelFor(model => model.TypeProduct, "TypeProduct", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TypeProduct", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TypeProduct, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="width: 80vw;margin: auto">
            @Html.LabelFor(model => model.NumberBlock, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberBlock, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumberBlock, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group" style="width: 80vw;margin: auto">
            @Html.LabelFor(model => model.UserProblemComments, "UserProblemComments", htmlAttributes: new { @class = "control-label col-md-2" })
            @*<div class="col-md-10">
                @Html.DropDownList("UserProblemComments", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserProblemComments, "", new { @class = "text-danger" })
            </div>*@

        @*<div class="col-md-10">
                    @Html.Label("Text", "Описание", htmlAttributes: new { @class = "control-label col-md-2", @style = "display: none;", @id = "text1" })
                    @Html.TextArea("UserProblemComments", "", 5, 100, htmlAttributes: new { @id = "textArea" })
                </div>


            </div>*@




        <div class="form-group" style="width: 80vw;margin: auto">
            @Html.LabelFor(model => model.WarningType, "WarningType", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("WarningType", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.WarningType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="width: 80vw;margin: auto">
            @Html.LabelFor(model => model.WarningComments, "WarningComments", htmlAttributes: new { @class = "control-label col-md-2" })
            @*<div class="col-md-10">
                    @Html.DropDownList("WarningComments", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.WarningComments, "", new { @class = "text-danger" })
                </div>*@

            <div class="col-md-10">
                @Html.Label("Text", "Описание", htmlAttributes: new { @class = "control-label col-md-2", @style = "display: none;", @id = "text1" })
                @Html.TextArea("WarningComments", "", 5, 100, htmlAttributes: new { @id = "textArea" })
            </div>

        </div>

        <div class="form-group" style="width: 80vw;margin: auto">
            @Html.LabelFor(model => model.DateOfDelivery, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfDelivery, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.DateOfDelivery, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group" style="width: 80vw;margin: auto">
                @Html.LabelFor(model => model.DateOfShipment, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateOfShipment, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.DateOfShipment, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group" style="width: 80vw;margin: auto">
                @Html.LabelFor(model => model.LoginId, "LoginId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("LoginId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LoginId, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group" style="width: 80vw;margin: auto">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="javascript: history.back()">« назад</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
