﻿@model IEnumerable<SystemOfProductionControl.Models.JournalOfRepair>
@using SystemOfProductionControl.Models
@{
    ViewBag.Title = "DeleteAll";
}


<h3>Вы уверены, что хотите удалить запись?</h3>
<div>
    <table class="table">
        <tr>
            <th>

                Оборудование
            </th>

            <th>
                Номер
            </th>

            <th>
                Дата продажи
            </th>

            <th>
                Акт
            </th>


            <th>
                Комментарий
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>


                <td>
                    @Html.DisplayFor(modelItem => item.ProductType.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NumberBlock)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateOfSale)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Act1.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.RepairComments.Text)
                </td>


            </tr>
        }

    </table>






    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            <a href="javascript: history.back()">« назад</a>
        </div>
    }
</div>