﻿@model SystemOfProductionControl.Models.JournalOfRepair
@using SystemOfProductionControl.Models

@{
    ViewBag.Title = "Delete";
}



<h3>Вы уверены что хотите удалить запись?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">

        <dt>
            Тип оборудования
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductType.Name)
        </dd>

        <dt>
            Номер блока
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberBlock)
        </dd>

        <dt>
            Дата продажи
        </dt>

        <dd>
            @if (@Model.DateOfSale != null)
            {
                @Html.Display(@Model.DateOfSale.Value.ToString("dd-MM-yyyy"))
            }
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            <a href="javascript: history.back()">« назад</a>
        </div>
    }
</div>
