﻿@model SystemOfProductionControl.Models.JournalOfRepair
@using SystemOfProductionControl.Models
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JournalOfRepair</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataOfReceipt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataOfReceipt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberBlock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberBlock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfDelivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfDelivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfShipment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfShipment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetRoles.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetRoles.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cities.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cities.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepairComments.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairComments.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepairComments1.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairComments1.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarningType1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarningType1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    <a href="javascript: history.back()">« назад</a>
</p>
