﻿@model SystemOfProductionControl.Models.JournalOfRepair
@using SystemOfProductionControl.Models

@{
    ViewBag.Title = "Edit";
    String WarningComments = ViewBag.WarningComments;
    ViewBag.id = Model.ID;
}
<br />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.WarningComments)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.LoginId)


        <div class="form-group" style="width: 80vw;margin: auto">
            @Html.Label("Тип продукции", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TypeProduct", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TypeProduct, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="width: 80vw;margin: auto">
            @Html.Label("Номер оборудования", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberBlock, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumberBlock, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="width: 80vw;margin: auto">
            @Html.Label("Дата продажи", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (@Model.DateOfSale != null)
                {
                    <input type="date" name="DateOfSale" value="@Model.DateOfSale.Value.ToString("yyyy-MM-dd")" class="form-control" />
                    @Html.ValidationMessageFor(model => model.DateOfSale, "", new { @class = "text-danger" })
                }
                else
                {
                    <input type="date" name="DateOfSale" class="form-control" />
                    @Html.ValidationMessageFor(model => model.DateOfDelivery, "", new { @class = "text-danger" })
                }

            </div>
        </div>

        <div class="form-group" style="width: 80vw;margin: auto">
            @Html.Label("Комментарий", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea("WarningCommentsText", WarningComments, 4, 50, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group" style="width: 80vw;margin: auto">
            @Html.Label("Дата завершения", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (@Model.DateOfDelivery != null)
                {
                    <input type="date" name="DateOfDelivery" value="@Model.DateOfDelivery.Value.ToString("yyyy-MM-dd")" class="form-control" />
                    @Html.ValidationMessageFor(model => model.DateOfDelivery, "", new { @class = "text-danger" })
                }
                else
                {
                    <input type="date" name="DateOfDelivery" class="form-control" />
                    @Html.ValidationMessageFor(model => model.DateOfDelivery, "", new { @class = "text-danger" })
                }

            </div>
        </div>



        <div class="form-group" style="width: 80vw;margin: auto">
            @Html.Label("Акт", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Act", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Act, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group" style="width: 80vw;margin: auto">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="javascript: history.back()">« назад</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
