﻿@model IEnumerable<SystemOfProductionControl.Models.JournalOfRepair>
@using SystemOfProductionControl.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Дата получения")
        </th>
        <th>
            @Html.DisplayName("Город")
        </th>
        <th>
            @Html.DisplayName("Компания")
        </th>
        <th>
            @Html.DisplayName("Номер блока")
        </th>
        <th>
            @Html.DisplayName("Тип продукта")
        </th>
        <th>
            @Html.DisplayName("Причина ремонта")
        </th>
        <th>
            @Html.DisplayName("Неисправность")
        </th>
        <th>
            @Html.DisplayName("Комментарий")
        </th>
        <th>
            @Html.DisplayName("Дата сдачи")
        </th>
        <th>
            @Html.DisplayName("Дата отправки")
        </th>
        <th>
            @Html.DisplayName("Логин")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataOfReceipt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cities.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company1.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberBlock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepairComments.Text)
            </td>

            @*<td>
                    @Html.DisplayFor(modelItem => item.RepairComments1.Text)
                </td>*@

            <td>
                @Html.DisplayFor(modelItem => item.WarningType1.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepairComments1.Text)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DateOfDelivery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfShipment)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Подробно", "Details", new { id = item.ID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
