﻿@using SystemOfProductionControl.Models;
@model IList<journalOfRepairIndexModel>

@{
    ViewBag.Title = "Index";

    SelectList TypeProductID = ViewBag.TypeProductID; 
    SelectList WarningTypeFromUsers = ViewBag.WarningTypeFromUsers;
    SelectList TypeWarningID = ViewBag.TypeWarningID;
    SelectList City = ViewBag.City;
    SelectList Companies = ViewBag.Companies;
    SelectList ActList = ViewBag.ActList;
}
 
<div style="padding-top: 30px; ">

<div class="row" style="min-width: 1000px;">

 <div class="card" style="width: 80vw;margin: auto">
<form method="post">
<div class="panel panel-default">
<div class="card-header">
</div>
@using (Html.BeginForm("CreateOfIndex", "JournalOfRepairs", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="card-body" id="Body" style="padding-bottom: 0px;">


    <div class="form-group" style="margin-bottom: 0px;">

    <table class="table" style="margin-bottom: 0px;">

    <tr>
        @*<th>
                            @Html.DisplayName("Дата получения")
                        </th>*@
        <th>
            @Html.DisplayName("Город/Компания")
        </th> 
        <th>

            @Html.DisplayName("Акт")

        </th>

        <th>

            @Html.DisplayName("Кол-во")

        </th>

        <th>

            @Html.DisplayName("№ блока")

        </th>
        <th>

            @Html.DisplayName("Дата продажи")



        </th>
        <th>
            @Html.DisplayName("Тип продукта")
        </th>
 
    </tr>

    <tr>

        <td style = "width: 260px;">
            <div id="City">
                <table style="width: 100%;">
                    <tr>
                        <td>
                            @Html.DropDownList("CityID", City, htmlAttributes: new {@class = "form-control", @id = "CityID", @style = "width:240px;font-size:12px;"})
                        </td>
                        <td>
                            <button type="button" onclick='document.getElementById("City").style.display = "none";document.getElementById("CityCreate").style.display = "block";' id="CityCreateButton" class="btn btn-success btn-sm" style="margin-left: 2px;">
                                <span class="fa fa-pencil"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>


            <div style="display: none;" id="CityCreate">
                <table style="width: 100%;">
                    <tr>
                        <td>
                            @Html.TextBox("CityNew", "", htmlAttributes: new {@class = "form-control"})
                        </td>
                        <td>
                        <button type="button" id="CityIdButton" onclick='document.getElementById("City").style.display = "block";document.getElementById("CityCreate").style.display = "none";' class="btn btn-danger btn-sm" style="margin-left: 2px;">
                            <span class="fa fa-remove"></span>
                        </button>

                    </tr>
                </table>
            </div>
                        
                        

            <div id="Company">
                <table style="width: 100%;">
                    <tr>
                        <td id="CompanyID">
                            @Html.DropDownList("CompanyID", Companies, htmlAttributes: new { @class = "form-control", @style = "width:240px;font-size:12px;", @id = "CompanyID" })

                        </td>
                        <td>
                            <button type="button" onclick='document.getElementById("CompanyCreate").style.display = "block";document.getElementById("Company").style.display = "none";' class="btn btn-success btn-sm" style="margin-left: 2px;">
                                <span class="fa fa-pencil"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>


            <div style="display: none;" id="CompanyCreate">
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <div>
                                <div> Название </div>
                                <div>
                                    @Html.TextBox("CompanyName", "", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>

                            <div>
                                <div> Телефон </div>
                                <div>
                                    @Html.TextBox("CompanyPhone", "", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </td>
                        <td style="vertical-align: top;">
                        <button type="button" onclick='document.getElementById("Company").style.display = "block";document.getElementById("CompanyCreate").style.display = "none";' class="btn btn-danger btn-sm" style="margin-top: 20px; margin-left: 2px;">
                            <span class="fa fa-remove"></span>
                        </button>
                    </tr>
                </table>
            </div>


        </td>
        @*<td>


                    </td>*@
        <td>
            @*ActList
                            @Html.TextBox("Act", "", htmlAttributes: new { @class = "form-control", @style = "width: 60px;" })*@

            <div id="ActDiv">
                <table style="width: 100%;">
                    <tr>
                    <td>
                        @Html.DropDownList("Act", ActList, "Новый", htmlAttributes: new {@id = "Act", @class = "form-control", @style = "width:200px;font-size:12px;"})

                    </td>
                    @*<td>
                                                <button type="button" onclick='document.getElementById("ActCreate").style.display = "block"; document.getElementById("City").style.display = "block"; document.getElementById("Company").style.display = "block"; document.getElementById("ActDiv").style.display = "none";' class="btn btn-success btn-sm" style="margin-left:2px;"> <span class="fa fa-pencil"></span></button>
                                        </tr>*@
                </table>
            </div>
            @*<div id="ActCreate" style="display: none;">
                                <button type="button" onclick='document.getElementById("ActCreate").style.display = "none"; document.getElementById("City").style.display = "none"; document.getElementById("Company").style.display = "none"; document.getElementById("ActDiv").style.display = "block";' class="btn btn-danger btn-sm" style="margin-left:2px;"> <span class="fa fa-remove"></span></button>

                            </div>*@
        </td>
        <td>

            <select id="Count" class="form-control" style="width: 60px;">

                @for (int i = 1; i < 100; i++)
                {
                    if (i == 1)
                    {
                        <option value="@i" selected="selected">@i </option>
                    }
                    else
                    {
                        <option value="@i">@i </option>
                    }
                }

            </select>

        </td>


        <td>
            <div id="NumberBlockDiv">
                @*  @Html.TextBox("NumberBlock1", "", htmlAttributes: new { @class = "form-control"  , @style = "width: 90px;" })*@
                <input type="text" name="NumberBlock[0]" class="form-control" style="width: 70px;">

            </div>
        </td>

        <td  style="width: 160px;">
            <div id="DateOfSaleDiv" style="width: 160px;">
                @*   @Html.Editor("DateOfSale1", new { htmlAttributes = new { @class = "form-control", @type = "date", @style = "width: 140px;" } })*@
                @*<input type="date" name="DateOfSale[0]" class="form-control" style="width: 120px; font-size: 10px;">*@

                <select  name="DateOfSaleMM[0]"  class="form-control" style="width: 70px;  float: left;">
                    <option value="" selected="selected">Нет</option>

                    @for (int i = 1; i <= 12; i++)
                    {
                                    @*if (i == 1)
                                    {
                                        <option value="@i" selected="selected">@i </option>
                                    }
                                    else
                                    {*@
                        <option value="@i">@i </option>
                        // }
                    }

                </select>
                            
                            

                <select name="DateOfSaleYY[0]" class="form-control" style="width: 80px; float: left;">
                                
                    <option value="" selected="selected">Нет</option>
                    @for (int i = 1990; i < DateTime.Now.Year + 3; i++)
                    {
                                    @*if (i == DateTime.Now.Year)
                                    {
                                        <option value="@i" selected="selected">@i </option>
                                    }
                                    else
                                    {*@
                        <option value="@i">@i </option>
                        //}
                    }

                </select>

                             

            </div>
        </td>

        <td>

            @Html.DropDownList("TypeProductID", TypeProductID, htmlAttributes: new {@class = "form-control", @style = "width:170px;", @id = "TypeProductID"})

        </td>
 


    </tr>

    </table>


    <div class="form-group" style="width: 80vw;margin: auto">
        <table class="table" style="width: 100%">

            <tr>
                <th>Причина ремонта</th> 
                <th> Неисправность </th>
                <th> Тип ремонта </th>
                <th>Комментарий</th>
                <th>
                    Дата приема 
                </th> 
            </tr>


            <tr>

                @*<td>@Html.TextArea("UserProblem", "",  htmlAttributes: new {@id = "UserProblem", @style = "width: 100%" }) </td>*@
                        
                        
                <td>
                    <div id="WarningTypeFromUsersDiv"  >
                        @Html.DropDownList("WarningTypeFromUsers", null,"Нет", htmlAttributes: new { @class = "form-control", @id = "WarningTypeFromUsers", @style = "width: 200px;" })
                    </div>
                </td>

                <td>
                    <div id="TypeWarningIDDiv">
                        @Html.DropDownList("TypeWarningID", TypeWarningID, htmlAttributes: new {@class = "form-control", @id = "TypeWarningID", @style = "width: 200px;" })
                    </div>
                </td>
                <td>
                    <table>
                        <tr>
                            <td>Гарантийный</td>
                            <td id="tdCh_0_">

                                <input id="Ch_0_" name="Ch0" type="checkbox" value="0">

                            </td>
                        </tr>
                        <tr>
                            <td>Замена</td>

                            <td id="tdCh_1_">

                                <input id="Ch_1_" name="Ch1" type="checkbox" value="1">

                            </td>
                        </tr>
                        <tr>
                            <td>Диагностика</td>
                            <td id="tdCh_2_">

                                <input id="Ch_2_" name="Ch2" type="checkbox" value="2">

                            </td>
                        </tr>
                        <tr>
                            <td>Ремонт</td>
                            <td id="tdCh_3_">
                                <input id="Ch_3_" name="Ch3" type="checkbox" value="3">
                            </td>
                        </tr>
                    </table>


                </td>
                <td>
                    @Html.TextArea("WarningComments", "",5,50,   htmlAttributes: new {@id = "WarningComments", @style = "width: 100%" })
                </td>


                <td>
                           
                           
                    <div>
                        @Html.Editor("DataOfReceipt", new { htmlAttributes = new { @class = "form-control", @type = "date", @id = "DataOfReceipt", @style = "width: 140px; font-size: 12px;" } })
                                    
                    </div>
                           
                    <div><b>Дата сдачи</b></div>
                    <div>
                        @Html.Editor("DateOfDelivery", new { htmlAttributes = new { @class = "form-control", @type = "date", @style = "width: 140px; font-size: 12px;" } })
                    </div>


                </td>
            </tr>


        </table>
    </div>


    </div>

    </div>

    <div class="card-footer">
        <button type="submit" formaction="/JournalOfRepairs/CreateOfIndex" formmethod="post" class="btn btn-primary" style="margin-right: 12px">Создать/Добавить</button>

        @* <button type="submit"  class="btn btn-primary" style="margin-right: 12px">Добавить</button>*@

        <a href="/JournalOfRepairs/Index" class="btn btn-primary" role="button" style="margin-right: 12px">Обновить</a>


        <button type="button" id="ButtonGone" class="btn btn-success" style="float: right;"> Скрыть</button>
        <button type="button" id="ButtonVisible" class="btn btn-success" style="float: right; display: none;"> Показать</button>


    </div>
}
</div>

</form>

</div>


</div>

</div>

       <table class="table table-hover" style="margin: auto;" width="100%">
        <tr>


            <th>
                Акт
            </th>
            <th>
                <div>Дата</div>
                <div><h6>ДД-ММ:чч:мм</h6></div>
                
            </th>
            <th>
                <div>
                    Город
                </div>
                <div>
                    Компания
                </div>
                <div>
                    Телефон
                </div>
            </th>


            <th>
                Количество
            </th>
            <th>
                Оборудование
            </th>
            <th>
                Комментарий
            </th>
            <th>
                Завершено
            </th>

            <th>
                Дата отправки
            </th>


            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            String color = "";

            if (item.state == 1)
            {
                color = "#c5e384"; 
            }

            <tr style="background:  @color;">

                <td width="30px">

 
                        @item.Name
                    


                </td>
                <td width="120px">
                    @item.DateCreate.ToString("dd-MM:hh:mm")
                </td>
                <td>
                    <div>
                        @item.City
                    </div>

                    <div>
                        @item.Company
                    </div>
                    <div>
                        @item.Phone
                    </div>
                </td>
                <td>
                    @item.Count
                </td>
                <td>

                    @item.BlocksType

                </td>

                <td>
                    @item.TextComments
                </td>

                <td>
                    @if (item.Shipment == 1)
                {
                        @Html.DisplayName("нет")
                    }

                    @if (item.Shipment == 2)
                {
                        @Html.DisplayName("частично")
                    }

                    @if (item.Shipment == 3)
                {
                        @Html.DisplayName("да")
                    }
                </td>

                <td width="120px">
                    @if (item.DateOfShipment != null)
                    {
                        @item.DateOfShipment.Value.ToString("dd-MM:hh:mm");

                    }

                </td>

                @*<td>
                        @Html.ActionLink("Изменить", "Edit", "Acts", new {id = item.ID}, htmlAttributes: new {@class = "btn btn-primary", @role = "button", @style = "margin:5px;"})
                        @Html.ActionLink("Подробно", "Details", "Acts", new {id = item.ID}, htmlAttributes: new {@class = "btn btn-primary", @role = "button", @style = "margin:5px;"})



                    </td>*@

                <td width="110px">


                    <a href="/Acts/Details?id=@item.ID" class="btn btn-success" role="button" style="margin-left: 5px;">
                        <span class="fa fa-pencil"></span>
                    </a>





                </td>
            </tr>
        }

    </table>


    @section scripts{
        <script>


    $(function() {

        $('#warn')
            .click(function() {
                var name = $(this).val();
                if (name != "Нет") {
                    document.getElementById("textArea").style.display = "block";
                    document.getElementById("text1").style.display = "block";
                }
            });
    });

    $(function() {

        $('#Act')
            .change(function() {
                var vals = $(this).val();
                if (vals == "") {

                    //document.getElementById("ActCreate").style.display = "block";
                    //document.getElementById("City").style.display = "block";
                    //document.getElementById("Company").style.display = "block";
                    //document.getElementById("ActDiv").style.display = "none";
                    
                    $("#WarningComments").val("");
                    $("#Ch_0_").removeAttr("checked");
                    $("#Ch_1_").removeAttr("checked");

                    $("#Ch_2_").removeAttr("checked");

                    $("#Ch_3_").removeAttr("checked");


                    //$("#CompanyID").val(Companyid);
                    //$("#CityID").val(Cityid);

                } else {

                    var ActId = { Id: vals };
                    $.getJSON("/JournalOfRepairs/AJAXGetActInfo", ActId, getAct);

                    //document.getElementById("City").style.display = "none";
                    //document.getElementById("Company").style.display = "none";


                }
            });
    });


    //       <input id="Ch_0_" name="Ch[0]" type="checkbox" checked ="checked"   >
    var companyCurrent = -1;

    function getAct(Act) {


        var Cityid = Act.City;
        var Companyid = act.CompanyID;

        var text1 = Act.TextComments;
        var text2 = Act.TextUserProblem;

        var Warranty = Act.Warranty;
        var replace = Act.replace;
        var diagnostic = Act.diagnostic;
        var repair = Act.repair;
        var dateOfReceipt = Act.DateOfRepair;

        //$("#UserProblem").val(text2);
        //$("#WarningComments").val(text1);

      
        $("#CityID").val(Cityid);
        getCompany();
        companyCurrent = Companyid;
        $("#DataOfReceipt").val(dateOfReceipt);

        $('#tdCh_0_').empty();
        $('#tdCh_1_').empty();
        $('#tdCh_2_').empty();
        $('#tdCh_3_').empty();


        if (Warranty)
            $('#tdCh_0_').append('<input id="Ch_0_" name="Ch0" type="checkbox" checked ="checked" value="0">');
        else
            $('#tdCh_0_').append('<input id="Ch_0_" name="Ch0" type="checkbox" value="0">');

        if (replace)
            $('#tdCh_1_').append('<input id="Ch_1_" name="Ch1" type="checkbox" checked ="checked" value="1">');
        else
            $('#tdCh_1_').append('<input id="Ch_1_" name="Ch1" type="checkbox" value="1">');

        if (diagnostic)
            $('#tdCh_2_').append('<input id="Ch_2_" name="Ch2" type="checkbox" checked ="checked" value="2">');
        else
            $('#tdCh_2_').append('<input id="Ch_2_" name="Ch2" type="checkbox" value="2">');

        if (repair)
            $('#tdCh_3_').append('<input id="Ch_3_" name="Ch3" type="checkbox" checked ="checked" value="3">');
        else
            $('#tdCh_3_').append('<input id="Ch_3_" name="Ch3" type="checkbox"  value="3">');


    };


    $(function() {

        $('#ButtonGone')
            .click(function() {
                var button = $(this);
                // if (name != "Нет") {
                //if (document.getElementById("Body").style.display == "none") {
                //    document.getElementById("Body").style.display = "block";

                // }
                // else {
                document.getElementById("Body").style.display = "none";
                document.getElementById("ButtonVisible").style.display = "block";
                document.getElementById("ButtonGone").style.display = "none";
                //  }
                // document.getElementById("text1").style.display = "block";
                //}
            });
    });

    $(function() {

        $('#ButtonVisible')
            .click(function() {
                var button = $(this);
                // if (name != "Нет") {
                document.getElementById("Body").style.display = "block";
                document.getElementById("ButtonGone").style.display = "block";
                document.getElementById("ButtonVisible").style.display = "none";
                // document.getElementById("text1").style.display = "block";
                //}
            });
    });


    $(function() {

        $('#Count')
            .change(function() {
                var count = $(this).val();


                $('#NumberBlockDiv').empty();
                $('#DateOfSaleDiv').empty();
                var heightSize = 35;

                if (count > 5) {
                    heightSize = 30;
                }

                for (var i = 0; i < count; i++) {


                    $('#NumberBlockDiv')
                        .append('<input type="text" name="NumberBlock[' +
                            i +
                            ']" class="form-control" style="width: 70px; height: ' +
                            heightSize +
                            'px;">');
                    //    $('#DateOfSaleDiv')
                    //        .append('<input type="date" name="DateOfSale[' +
                    //            i +
                    //            ']" class="form-control" style="width: 120px; font-size: 10px; height: ' +
                    //            heightSize +
                    //            'px;">');
                }

                var time = @DateTime.Now.Year;

                var data = '';

                for (var i = 0; i < count; i++) {


                    data += '<select name="DateOfSaleMM[' +
                        i +
                        ']" class="form-control" style="width: 70px;  float: left;  height: ' +
                        heightSize +
                        'px;">';

                    data += '  <option value="" selected="selected">Нет</option>';
                    for (var j = 1; j <= 12; j++) {

                        data += '<option value="' + j + '">' + j + ' </option>';

                    }

                    data += '</select>';


                    data += '<select name="DateOfSaleYY[' +
                        i +
                        ']" class="form-control" style="width: 80px; float: left; height: ' +
                        heightSize +
                        'px;">';

                    data += '  <option value="" selected="selected">Нет</option>';
                    for (var j = 1990; j < time + 3; j++) {


                        data += '<option value="' + j + '">' + j + ' </option>';

                    }

                    data += '</select>';


                }


                $('#DateOfSaleDiv')
                    .append(data);
                 
            });
            });

    $(function() {
        $("#TypeProductID")
            .change(function() {

                var person = { name: $("#TypeProductID").val() };

                $.getJSON("/JournalOfRepairs/AJAXTest", person, getWarning);
            });

    });


    $(function() {
        $("#CityID")
            .change(function() {
                getCompany();
            });
    });

        function getCompany() {
            var data = {
                 ID: $("#CityID").val()
            };

            $.getJSON("/JournalOfRepairs/AjaxGetCompany", data, setCompany);
        }

        function setCompany(company) {
            // $("#people_list").text("");
            // $("#TypeWarningID").
            $('#CompanyID').empty();
            //$('#TypeWarningIDDiv').append();
            $("#CompanyID")
                .append('<select name="CompanyID" id="CompanyID" class = "form-control" style = "width:240px;font-size:12px; "> </select>'); 
            $.each(company,
                function(i) {
                    $("#CompanyID")
                        .append('<option value="' + company[i].Value + '">' + company[i].Text + '</option>');
                });
        
            if (companyCurrent !== -1) {

                $("#CompanyID").val(companyCurrent);
                companyCurrent = -1;
            }
        
        };


        @*@Html.DropDownList("CompanyID", Companies, htmlAttributes: new {@class = "form-control", @style = "width:100px;font-size:12px;", @id = "CompanyID"})*@

        function getWarning(people) {
            
            $('#TypeWarningIDDiv').empty(); 
            $("#TypeWarningIDDiv")
                .append('<select name="TypeWarningID" id="TypeWarningID" class="form-control" style="width: 200px"> </select>');

            $.each(people,
                function(i) {
                    $("#TypeWarningID")
                        .append('<option value="' + people[i].Value + '">' + people[i].Text + '</option>');
                });
        };
        </script>


        }

