﻿@model SystemOfProductionControl.Models.JournalOfRepairToComponent
@using SystemOfProductionControl.Models

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Подтвердите удаление</h3>
<div>
    <h4>JournalOfRepairToComponent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JournalOfRepair.NumberBlock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalOfRepair.NumberBlock)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
