﻿@model SystemOfProductionControl.Models.JournalOfRepairToComponent
@using SystemOfProductionControl.Models

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JournalOfRepairToComponent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JournalOfRepair.NumberBlock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalOfRepair.NumberBlock)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
