﻿@model IEnumerable<SystemOfProductionControl.Models.WarningType>
@using SystemOfProductionControl.Models




@{
    ViewBag.Title = "Index";
}


<h3>  <a href="/Reference/Index" class="btn btn-primary" role="button" style="margin-right: 10px;">К справочнику</a> <a href="/WarningTypes/Create" class="btn btn-primary" role="button">Добавить</a> </h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Название")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-primary", @role = "button", @style = "margin-right: 10px;" })
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Удалить", "Delete", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-primary", @role = "button", @style = "margin-right: 10px;" })
                }
            </td>
        </tr>
    }

</table>
