﻿@model SystemOfProductionControl.Models.Kit
    @using SystemOfProductionControl.Models

@{
    ViewBag.Title = "Create";
}

<link rel="stylesheet" href="http://AJAX.aspnetcdn.com/AJAX/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
     
<div class="row" style="width: 80vw;margin: auto">

    <div class="card" style="width: 80vw;margin: auto">

        <div class="panel panel-default">
            <br />
            <div class="card-header">
                <br />
                <div class="form-group" style="height:30px;">
                    @Html.Label("Название комплекта", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Editor("Name", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="card-body" id="Body" style="padding-bottom: 0px;">

                <h3>Оборудование</h3>
                <div class="form-group" style="margin-bottom: 0px;">
                    <table>
                        <tr>
                            <td></td>
                            <td>
                                <div class="ui-widget">
                                    <input id="acInput" class="form-control" style="width: 250px;" />
                                </div>
                            </td>

                            <td>
                                по умолчанию:
                            </td>

                            <td>

                                @Html.TextBox("ComponentCount", "0", htmlAttributes: new { @class = "form-control", @style = "width: 100px; margin:10px;" })
                            </td>

                            <td>
                                <button type="button" onclick="AddComponent()" class="btn btn-success btn-sm" style="margin:2px; margin-right:10px;"> <span class="fa fa-plus"></span></button>
                            </td>
                        </tr>

                    </table>



                </div>

                <div class="form-group" style="margin-bottom: 0px;">
                    <table width="100%" class="table" id="TableComponent">
                        <tr>

                            <th>
                                Название
                            </th>
                            <th>
                                Количество
                            </th>

                            <th>
                            </th>
                        </tr>

                    </table>



                </div>


            </div>


            <div class="card-footer">
                <button type="submit" class="btn btn-primary" style="margin-right: 12px">Сохранить</button>
            </div>

        </div>

    </div>

</div>

}

@section scripts {

       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script>

    function AddComponent() {
        
       var name = $("#acInput").val();
       var count = $("#ComponentCount").val(); 
       AddComponentRequest(name, count);
    };

 

    function RemoveComponent(button) {
        var Components = $(button);

        Components.parent().parent().remove();
        
    };



    function AddComponentRequest(name,count) {

       // $("#TableComponent").empty();
        $("#TableComponent").append('<tr> <td>' + name + '<input name="NameProduct" type="hidden" value="' + name + '" /> </td> <td> <input name="CountProduct" type="number" value="' + count + '" /> </td> <td>  <button type="button" tabindex="-1" id="CityIdButton" onclick="RemoveComponent(this)" class="btn btn-danger btn-sm" style="margin-left:2px;"> <span class="fa fa-remove"></span></button> </td> </tr>');
 

    };

 

    $(function () {

        $.getJSON("/Kits/GetProducts", null, SetAutocomplete);
    });

    function SetAutocomplete(flowers) {

        var mas = Array(flowers.length);

        $.each(flowers, function (i) {
            mas[i] = flowers[i].Text;
        });
        $('#acInput').autocomplete({
            source: mas,
            minLength: 2
        });
    };


    </script>
}


