﻿@model SystemOfProductionControl.Models.Company
@using SystemOfProductionControl.Models

@{
    ViewBag.Title = "Подробно";
}



<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Название")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Город")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cities.Name)
        </dd>

        <dt>
            @Html.DisplayName("Телефон")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayName("КПП")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KPP)
        </dd>
        <dt>
            @Html.DisplayName("ИНН")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("К списку", "Index", "Reference")
</p>
