﻿@model IEnumerable<SystemOfProductionControl.Models.Company>
@using SystemOfProductionControl.Models


@{
    ViewBag.Title = "Index";
}
<hr />

<div>
    @if (User.IsInRole("Admin"))
    {
        <div>
            <h2>Выберите файл для загрузки компонентов</h2>
            <h4>Файл в формате .CSV</h4>
            @using (Html.BeginForm("Upload", "Companies", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div>
                    <input type="file" name="upload" class="form-control" style="float: left" />
                    <input type="submit" value="Загрузить" class="btn btn-primary" style="float: left; margin-left: 10px;" />

                </div>

            }

        </div>
    }

    <br />
    <br />
    <br />
    <div>


        <a href="Create" class="btn btn-primary" role="button">Добавить</a>

    </div>

</div>
<br />
<br />
<br />
<h3>
    @Html.ActionLink("Добавить", "Create")
</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Название")
        </th>

        <th>
            @Html.DisplayName("Город")
        </th>
        <th>
            @Html.DisplayName("Телефон")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cities.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>

            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |

                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
