﻿@model SystemOfProductionControl.Models.IndexViewModel
@{
    ViewBag.Title = "Управление";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Изменение параметров учетной записи</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Логин:</dt>
        <dd>
            @Model.Logins
    </dd>
        <dt>Пароль:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Смена пароля", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Создать", "SetPassword")
            }
            ]
        </dd>
        
 
        @if (Model.UserInfo != null)
        {
            <dt>Фио</dt>
                <dd>
                    @Model.UserInfo.LastName @Model.UserInfo.FirstName @Model.UserInfo.MiddleName

                    
                     
                </dd>
        }
         
    </dl>
</div>
