﻿@model SystemOfProductionControl.Models.JournalOfRepair
@using SystemOfProductionControl.Models

@{
    ViewBag.Title = "Delete";
}



<h3>Вы уверены что хотите удалить запись?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumberBlock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberBlock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfDelivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfDelivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Act1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Act1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cities.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cities.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepairComments.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairComments.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarningType1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarningType1.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            <a href="javascript: history.back()">« назад</a>
        </div>
    }
</div>
