﻿@model SystemOfProductionControl.Models.ActOfSale
@using SystemOfProductionControl.Models

    @{
        ViewBag.Title = "Delete";
    }

    <h2>Delete</h2>

    <h3>Подтвердите удаление</h3>
    <div>
        <h4>ActOfSale</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Data)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Data)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cities.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cities.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Company1.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Company1.Name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
