﻿@model SystemOfProductionControl.Models.ActOfSale
@using SystemOfProductionControl.Models

@{
    ViewBag.Title = "Details";
  List<ActOfSaleToProducts> actOfSaleToProductses = ViewBag.products;
}

 
<div>
    
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            Дата продажи
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            Компания
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company1.Name)
        </dd>

        <dt>
            Город
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cities.Name)
        </dd>

 
        <dt>
            Комментарий
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<div> 
    <table width="100%" class="table" >
        <tr>
            <th>Название</th>
            <th>АБРМ</th>
            <th>Номер</th>
            <th>Тип продукта</th>
        </tr>
      @foreach (var productse in actOfSaleToProductses)
      {
        <tr>
            <td>@productse.Products.Name</td>
            <td>@productse.Products.ABRM</td>
            <td>@productse.Number</td>
            <td>@productse.Products.ProductType.Name</td>
            
        </tr>
      }

    
    </table>

</div>

<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Назад", "Index")
</p>
