﻿@model SystemOfProductionControl.Models.ActOfSale

@{
    ViewBag.Title = "Create";
    //SelectList Cities = ViewBag.City;
    //SelectList Companies = ViewBag.Company;
    //SelectList Kits = ViewBag.Kit;
}

<link rel="stylesheet" href="http://AJAX.aspnetcdn.com/AJAX/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <div class="row" style="width: 80vw;margin: auto"">

             <div class="card" style="width: 80vw;margin: auto">

                <div class="panel panel-default">
                    <br />
                    <div class="card-header">
                        <br />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)

                        <table cellspacing="5" cellpadding="5" width="100%">
                            <tr>
                                <th style="text-align: center">
                                    Компания
                                </th>
                                <th style="text-align: center">
                                    Город
                                </th>
                                <th style="text-align: center">
                                    Дата
                                </th>
                                <th style="text-align: center">
                                    примечание
                                </th>
                            </tr>


                            <tr style="vertical-align:top">
                                <td>
                                    @Html.DropDownList("Company", null, "Нет", htmlAttributes: new { @class = "form-control", @id = "Company", @style = "width: 200px; margin: 10px;" })
                                    @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    @Html.DropDownList("City", null, "Нет", htmlAttributes: new { @class = "form-control", @id = "City", @style = "width: 200px; margin: 10px;" })
                                    @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="Data" style="margin:10px; width: 200px;">
                                </td>
                                <td>
                                    @Html.TextArea("Comment", @Model.Comment, 4, 50, htmlAttributes: new { @class = "form-control", @id = "CommentText", @style = "margin-left: 20px; margin: 10px;  " });
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div class="card-body" id="Body" style="padding-bottom: 0px;">

                        <h3>Оборудование</h3>
                        <div class="form-group" style="margin-bottom: 0px;">
                            <table>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="ui-widget">
                                            <input id="acInput" class="form-control" style="width: 250px;" />
                                        </div>
                                    </td>

                                    <td>
                                        <div style="margin-left: 10px;">  количество: </div>
                                    </td>

                                    <td>

                                        @Html.TextBox("ComponentCount", "0", htmlAttributes: new { @class = "form-control", @style = "width: 100px; margin:10px;" })
                                    </td>

                                    <td>
                                        <button type="button" onclick="AddComponent()" class="btn btn-success btn-sm" style="margin:2px; margin-right:10px;"> <span class="fa fa-plus"></span></button>
                                    </td>
                                    <td width="50px"></td>
 
                                     
                                </tr>

                            </table>



                        </div>

                        <div class="form-group" style="margin-bottom: 0px;" id="DataDiv">
                            <table width="100%" class="table" id="TableComponent">
                                <tr>
                                    <th>
                                    
                                    </th>
                                    <th>
                                        Название
                                    </th>
                                    <th>
                                        Номер
                                    </th>

                                    <th>
                                    </th>
                                </tr>
                                
                              @foreach (var item in @Model.ActOfSaleToProducts)
                              {
                                <tr>
                                    <td>@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.Hidden("ActOfSaleToProductsID", item.ID)</td>
                                    <td>
                                        @item.Products.Name  
                                    </td>
                                    <td>
                                        <input type="text" name="Number" value= @item.Number /> 
                                    </td>

                                    <td>
                                        <button type="button" tabindex="-1" id="CityIdButton" onclick="RemoveComponent(this)" class="btn btn-danger btn-sm" style="margin-left:2px;"> <span class="fa fa-remove"></span></button>

                                    </td>
                                </tr>
                              }

                            </table>



                        </div>


                    </div>


                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary" style="margin-right: 12px">Сохранить</button>
                    </div>

                </div>

            </div>

        </div>
    </div>

}

@section scripts {

       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script>




    function AddComponent() {

       var name = $("#acInput").val();
       var count = $("#ComponentCount").val();
       AddComponentRequest(name, count);
    };



    function RemoveComponent(button,ID) {
        var Components = $(button);

        Components.parent().parent().remove();

    };

    $('#KitsSelector').change(function () {

        var data = { id: $("#KitsSelector").val() };


        $.AJAX({
            type: 'get',
            url: '@Url.Action("KitTable", "ActOfSales")',
            data:
                {
                    id: $("#KitsSelector").val()
                },
            success: function ($date2) {
                $('#TableComponent').remove();
                $('#DataDiv').append($date2);

            }
        });

        //$.getJSON("/ActOfSales/KitTable", data, KitRequest);
    });


    function KitRequest(data) {
        $('#TableComponent').remove();
        $('#DataDiv').append(data);

    };


    function AddComponentRequest(name,count) {

        // $("#TableComponent").empty();

        $("#TableComponent").append('<tr> <td>' + name + '<input name="NameProduct" type="hidden" value="' + name + '" /> </td> <td> <input name="Number" type="number" value="" /> </td>  <td> <input name="CountProduct" type="number" value="' + count + '" /> </td> <td>  <button type="button" tabindex="-1" id="CityIdButton" onclick="RemoveComponent(this)" class="btn btn-danger btn-sm" style="margin-left:2px;"> <span class="fa fa-remove"></span></button> </td> </tr>');

    };



    $(function () {

        $.getJSON("/Kits/GetProducts", null, SetAutocomplete);
    });

    function SetAutocomplete(flowers) {

        var mas = Array(flowers.length);

        $.each(flowers, function (i) {
            mas[i] = flowers[i].Text;
        });
        $('#acInput').autocomplete({
            source: mas,
            minLength: 2
        });
    };















    </script>
}


