﻿@model IEnumerable<SystemOfProductionControl.Models.ActOfSale>

@{
    ViewBag.Title = "Index";
}

 

<h3>  <a href="/ActOfSales/Create" class="btn btn-primary" role="button">Создать</a></h3>
<table class="table">
    <tr>

        <th>
           Дата продажи
        </th>
        <th>
            Компания
        </th>
        <th>
            Город
        </th>
        <th>
            Комментарий
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
  
        <td>
            @Html.DisplayName(item.Data.ToString("dd-mm-yyyy"))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cities.Name)
        </td>
  
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td width="160px">
            <a href="/ActOfSales/Edit?id=@item.ID" class="btn btn-primary" role="button" style="margin-right: 5px">
                <span class="fa fa-pencil"></span>
            </a>

            <a href="/ActOfSales/Details?id=@item.ID" class="btn btn-success" role="button" style="margin-right: 5px;">
                <span class="fa fa-info-circle"></span>
            </a>

            <a href="/ActOfSales/Delete?id=@item.ID" class="btn btn-danger" role="button" style="margin-right: 5px">
                <span class="fa fa-remove"></span>
            </a>
        </td>
    </tr>
}

</table>
