﻿@model SystemOfProductionControl.Kit


<table width="100%" class="table" id="TableComponent" >

    <tr>

        <th>
            Название
        </th>
        <th>
            Начальный номер
        </th>
        <th>
            Количество
        </th>

        <th>
        </th>
    </tr>

    @foreach (var item in Model.KitToProduct)
    {
        <tr>

            <td>
              @item.Products.Name  <input name="NameProduct" type="hidden" value="@item.Products.Name" />
            </td>
            <td>
                <input name="Number" type="number" value="" />
            </td> 
            <td>
                <input name="CountProduct" type="number" value="@item.Default" /> 
            </td> 
            <td>
                <button type="button" tabindex="-1" id="CityIdButton" onclick="RemoveComponent(this)" class="btn btn-danger btn-sm" style="margin-left:2px;"> <span class="fa fa-remove"></span></button>  
            </td>
         </tr>
    }
</table>

 