﻿@using SystemOfProductionControl.other
@model List<SystemOfProductionControl.Models.CompProductModel>   

@{
    ViewBag.Title = "Edit";
  ProductType ProductType =  ViewBag.ProductType;
}

<h2>Edit</h2>

 
    
       
            <h4>@ProductType.Name</h4>
            
            
  <table width="100%">
                
      <tr>
          <th>Название</th>
          <th>Тип</th>
          <th>Код или АБРМ</th>
          <th>Склад</th>
          <th></th>

      </tr>
         
            

            @foreach (var item in Model)
        {


            <tr>
                <td>@item.Name</td>
                <td>
@if (item.Type == BaseEnums.JournalToComponentTypeEnum.Component)
    {
                @Html.DisplayText("компонент")
}
else if (item.Type == BaseEnums.JournalToComponentTypeEnum.Product)
{
                @Html.DisplayText("Продукт")
}


                </td>
                <td>
                    @item.CodeOrABRM
                </td>
                <td>
                    @item.Storage
                </td>
            
                
                
                
                <td>

                    <div class="form-group" style="width: 80vw;margin: auto">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Delete", "Delete", new { id=item.ID,type = (int)item.Type, prodid = ProductType.ID})
                        </div>
                    </div>
                </td>
                 

            </tr>
            
           
           

        }

         
    
</table>
   
 

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
