﻿@model SystemOfProductionControl.Models.Products
@using SystemOfProductionControl.Models

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>


<h3>Вы уверены что хотите удалить этот продукт?</h3>
<div>
    <div>
        <img src="@Url.Content("~/Content/ImgUpload/"+Model.Image)" alt="" width="200">

        @* @Url.Content("~/Content/Img/logo2.png")*@
    </div>

    <hr />

    <h3>Название: @Html.DisplayFor(model => model.Name)</h3>

    <h3>АБРМ: @Html.DisplayFor(model => model.ABRM) </h3>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
