﻿@model SystemOfProductionControl.Models.Products
@using SystemOfProductionControl.Models

@{
    ViewBag.Title = "Подробно";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>

    <hr />

    <div>
        <img src="@Url.Content("~/Content/ImgUpload/"+Model.Image)" alt="" width="200">



        @* @Url.Content("~/Content/Img/logo2.png")*@
    </div>
    <dl class="dl-horizontal">


        <dt>
            Тип продукта
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductType.Name)
        </dd>

        <dt>
            АБРМ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ABRM)
        </dd>

        <dt>
            Комментарий
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            Ссылка на товар на сайте
        </dt>

        <dd>
            <a href=@Model.Link>Нажмите что бы перейти</a>

        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("К списку", "Index", "Reference")
</p>
