﻿@model IEnumerable<SystemOfProductionControl.Models.Products>
@using SystemOfProductionControl.Models


@{
    ViewBag.Title = "Продукция";
}

<h2>Продукция</h2>

<p>
    @*@Html.ActionLink("Добавить", "Create")*@
    <h3>  <a href="/Products/Create" class="btn btn-primary" role="button">Добавить</a></h3>
</p>
<table class="table">
    <tr>
        <th>
            @* @Html.DisplayNameFor(model => model.Name)*@
            Название
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.АБРМ)*@
            АБРМ
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.Comments)*@
            Тип продукции
        </th>
        <th>
            Комментарий
            @* @Html.DisplayNameFor(model => model.Image)*@
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.Link)*@
        </th>
        <th>
            @*  @Html.DisplayNameFor(model => model.ProductType.Name)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ABRM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>


            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Подробно", "Details", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
