﻿@model SystemOfProductionControl.Models.Component
@using SystemOfProductionControl.Models

@{
    ViewBag.Title = "Delete";
}



<h3>Уверены, что хотите удалить компонент?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Код компонента
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

        <dt>
            Склад
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Storage1.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
