﻿@model IEnumerable<SystemOfProductionControl.Models.Component>
    @using SystemOfProductionControl.Models

    @{
        ViewBag.Title = "Index";
    }

    <h2>Компоненты</h2>

    <div>
        @if (User.IsInRole("Admin") || User.IsInRole("Склад"))
        {
            <div>
                <h2>Выберите файл для загрузки компонентов</h2>
                <h4>Файл в формате .CSV</h4>
                <h4>Шаблон файла</h4>
                <table border="1" style="width: 250px;">
                    <tr>
                        <th>Код</th>
                        <th>Наименование</th>
                    </tr>

                    <tr>
                        <td>00001</td>
                        <td>Название 1</td>
                    </tr>
                    <tr>
                        <td>00002</td>
                        <td>Название 2</td>
                    </tr>
                    <tr>
                        <td>00003</td>
                        <td>Название 3</td>
                    </tr>
                    <tr>
                        <td>.....</td>
                        <td>.....</td>
                    </tr>
                </table>

                @using (Html.BeginForm("Upload", "Components", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group" style="width: 80vw;margin: auto">
                        @Html.Label("Склад", htmlAttributes: new { @class = "control-label col-md-2", @style = "width: 85px;" })
                        <div class="col-md-10">
                            @Html.DropDownList("storage", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>


                    <div>
                        <input type="file" name="upload" class="form-control" style="float: left" />
                        <input type="submit" value="Загрузить" class="btn btn-primary" style="float: left; margin-left: 10px;" />

                    </div>



                }

            </div>
        }

        <div>
            <a href="Create" class="btn btn-primary" role="button">Добавить</a>

        </div>

    </div>

    <table class="table">
        <tr>
            <th style="width: 120px;">
                Код компонента
            </th>
            <th>
                Название
            </th>

            <th>
                Склад
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Storage1.Name)
                </td>

                <td width="160px">

                    <a href="/Components/Edit?id=@item.ID" class="btn btn-primary" role="button" style="margin-right: 5px">
                        <span class="fa fa-pencil"></span>
                    </a>

                    <a href="/Components/Delete?id=@item.ID" class="btn btn-danger" role="button" style="margin-right: 5px">
                        <span class="fa fa-remove"></span>
                    </a>

                </td>


            </tr>
        }

    </table>
