﻿@model SystemOfProductionControl.Models.WarningTypeFromUsers
@using SystemOfProductionControl.Models
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WarningTypeFromUsers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Название")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Назад", "Index")
</p>
