﻿@model IEnumerable<SystemOfProductionControl.Models.WarningTypeFromUsers>
@using SystemOfProductionControl.Models


@{
    ViewBag.Title = "Index";
}



<h3><a href="/WarningTypeFromUsers/Create" class="btn btn-primary" role="button">Добавить</a> </h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Название")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
