﻿@model SystemOfProductionControl.Journal

@{
    ViewBag.Title = "Create";
}

 <br />
<br/>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Journal</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    

        <div class="form-group" style="width: 80vw;margin: auto">
            @Html.LabelFor(model => model.TypeProductID, "TypeProductID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TypeProductID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TypeProductID, "", new { @class = "text-danger" })
            </div>
        </div>
 

        <div class="form-group" style="width: 80vw;margin: auto">
            @Html.LabelFor(model => model.TypeWarningID, "TypeWarningID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TypeWarningID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TypeWarningID, "", new { @class = "text-danger" })
            </div>
        </div> 
        
        

        <div class="form-group" style="width: 80vw;margin: auto">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    </div>
}



<div>
    @Html.ActionLink("К списку", "Index", "Reference")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
