﻿@model SystemOfProductionControl.Journal

@{
    ViewBag.Title = "Delete";
}

 

<h3>Уверенны что хотите удалить?</h3>
<div>
    <h4>Journal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarningType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarningType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetRoles.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetRoles.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductType.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("К списку", "Index", "Reference")
        </div>
    }
</div>
