﻿@model SystemOfProductionControl.Journal

@{
    ViewBag.Title = "Подробно";
}
 

<div>
    <h4>Journal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarningType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarningType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetRoles.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetRoles.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductType.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("К списку", "Index", "Reference")
</p>
