﻿@model IEnumerable<SystemOfProductionControl.Models.Journal>
    @using SystemOfProductionControl.Models
@{
    ViewBag.Title = "Index";
}
<div class="row" style="min-width: 900px;">
     <div class="card" style="width: 80vw;margin: auto">
        <form method="post">
            <div class="panel panel-default">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="form-group" style="width: 80vw;margin: auto">
                        <label for="inputDate">Введите дату от:</label>
                        <input type="date" class="form-control" name="date1">
                    </div>
                    <div class="form-group" style="width: 80vw;margin: auto">
                        <label for="inputDate">Введите дату до:</label>
                        <input type="date" class="form-control" name="date2">
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" formaction="/Journals/Index" formmethod="post" class="btn btn-primary" style="margin-right: 12px">Обновить</button>
                    <a href="/Journals/Create" class="btn btn-primary" role="button" style="margin-right: 12px">Добавить</a>
                    <button type="submit" formaction="/Journals/CreateSVN" formmethod="post" class="btn btn-primary">Импортировать в CSV</button>
                    <a href="/Journals/CreateSVN" class="btn btn-primary" role="button" style="margin: 2px">Импортировать все в CSV</a>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            Дата
        </th>
        <th>
            Неисправность
        </th>
        <th>
            Роль
        </th>
        <th>
            Логин
        </th>
        <th>
            Тип продукта
        </th>
        <th>
            Комментарий
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarningType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetRoles.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments.Text)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-primary", @role = "button", @style = "margin-right: 10px;" })
                @Html.ActionLink("Подробно", "Details", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-primary", @role = "button", @style = "margin-right: 10px;" })
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-primary", @role = "button", @style = "margin-right: 10px;" })
            </td>
        </tr>
    }
</table>
