﻿@model SystemOfProductionControl.Models.ProductType
@using SystemOfProductionControl.Models


@{
    ViewBag.Title = "Create";
}




@using (Html.BeginForm("Create", "ProductTypes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Введите название оборудования</h4>
        <hr />

        <div class="form-group" style="width: 80vw;margin: auto">

            @Html.Label("Название", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="width: 80vw;margin: auto">

            @Html.Label("Коэффицент сложности ремонта", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="coeff" style="width: 60px;" class="form-control">

            </div>
        </div>




        <div class="form-group" style="width: 80vw;margin: auto">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="/Reference/Index" class="btn btn-primary" role="button" style="margin-right: 10px">К справочнику</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
