﻿@model SystemOfProductionControl.Models.ProductType
@using SystemOfProductionControl.Models
@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверены что хотите удалить запись?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Название")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="/Reference/Index" class="btn btn-primary" role="button" style="margin-right: 10px">К справочнику</a>
            <input type="submit" value="Удалить" class="btn btn-default" />

        </div>
    }


</div>
