﻿@model SystemOfProductionControl.Models.ProductType
@using SystemOfProductionControl.Models
@{
    ViewBag.Title = "Подробно";
}

<h2>Подробно</h2>

<div>
    <h4>ProductType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("К списку", "Index", "Reference")
</p>
