﻿@using SystemOfProductionControl.Models
@model ReferenceViewModels

<!DOCTYPE html>
<html lang="en">
<head>
    @{
        ViewBag.Title = "Справочники";
    }
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--Проблема в том, что в секции Sripts в этом файле код
        не распознается, а в head - да. Так же локально объявленный jquery не видно-->

</head>
<body>
  <div class="container">
        <div class="form-group" style="width: 80vw;margin: auto">
            <div   style="margin: auto">
                <button type="submit" onclick="location.href='/Products/index/';" formmethod="post" class="btn btn-primary" style="margin-right: 0.7vw">Продукция</button>
                <button type="submit" onclick="location.href='/Components/PreIndex/';" formmethod="post" class="btn btn-primary" style="margin-right: 0.7vw">Компоненты</button>
                @if (User.IsInRole("Admin"))
                {
                    <button type="submit" onclick="location.href='/jcomphistprodtype/index/';" formmethod="post" class="btn btn-primary" style="margin-right: 0.7vw">Компоненты: быстрый набор</button>
                }
            </div>
        </div>

        <br>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#panel1">Оборудование</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel2">Неисправности</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel3">Компании</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel4">Города</a>
            </li>

            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panel5">Комплекты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panel6">Пользователи</a>
                </li>
            }

        </ul>
        <!-- Tab panes -->
        <div class="tab-content">

            <div id="panel1" class="container tab-pane active" style="margin: auto;" width="100%">
                <h3>Тип оборудования </h3>
                <h3>  <a href="/ProductTypes/Create" class="btn btn-primary" role="button">Добавить</a></h3>
                <table class="table table-hover" style="margin: auto;" width="100%">

                    <th>Название</th>
                    @if ((User.IsInRole("Admin")) || (User.IsInRole("Бухгалтерия")) || (User.IsInRole("Менеджер")))
                    {
                        <td>Коэффицент сложности ремонта</td>
                    }


                    @foreach (var item in Model.ProductTypes)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            @if ((User.IsInRole("Admin")) || (User.IsInRole("Бухгалтерия")) || (User.IsInRole("Менеджер")))
                            {
                                <td>
                                    <input type="text" id="cena_@item.ID" name="Cena" onblur='AddPriceOfProduct(this, @item.ID)' value="@item.CoefficientPrice" style="width: 60px;">
                                </td>
                            }
                            <td>

                                <a href="/ProductTypes/Edit?id=@item.ID" class="btn btn-primary" role="button" style="margin-right: 5px">
                                    <span class="fa fa-pencil"></span>
                                </a>
                            </td>
                            <td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a href="/ProductTypes/Delete?id=@item.ID" class="btn btn-danger" role="button" style="margin-right: 5px">
                                        <span class="fa fa-remove"></span>
                                    </a>
                                }

                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="container tab-pane fade" id="panel2" style="margin: auto;" width="100%">
                <br>
                <!-- Nav tabs -->
                <h3>Неисправности</h3>
                <h3>  <a href="/WarningTypes/Create" class="btn btn-primary" role="button">Добавить</a> <a href="/WarningTypeFromUsers/Index" class="btn btn-primary" role="button">Причины ремонта</a></h3>
                <table class="table table-hover" style="margin: auto;" width="100%">

                    @foreach (var item in Model.WarningTypes)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>

                                <a href="/WarningTypes/Edit?id=@item.ID" class="btn btn-primary" role="button" style="margin-right: 5px">
                                    <span class="fa fa-pencil"></span>
                                </a>

                                @if (User.IsInRole("Admin"))
                                {
                                    <a href="/WarningTypes/Delete?id=@item.ID" class="btn btn-danger" role="button" style="margin-right: 5px">
                                        <span class="fa fa-remove"></span>
                                    </a>
                                }

                            </td>
                        </tr>
                    }
                </table>


            </div>
            <div class="container tab-pane fade" id="panel3" style="margin: auto" width="100%">

                <h3>Компании</h3>
                <h3>  <a href="/Companies/Create" class="btn btn-primary" role="button">Добавить</a></h3>
                <table class="table table-hover" style="margin: auto;" width="100%">


                    <tr>
                        <th>
                            @Html.DisplayName("Название")
                        </th>
                        <th>
                            @Html.DisplayName("Город")
                        </th>
                        <th>
                            @Html.DisplayName("Телефон")
                        </th>

                        <th></th>
                    </tr>

                    @foreach (var item in Model.Companies)
                    {
                        <tr>
                            <td>
                                <span style="width: 20px;margin: auto;">   @Html.DisplayFor(modelItem => item.Name)</span>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cities.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>

                            <td>

                                <a href="/Companies/Edit?id=@item.Id" class="btn btn-primary" role="button" style="margin-right: 5px;">
                                    <span class="fa fa-pencil"></span>
                                </a>
                            </td>
                            <td>
                                <a href="/Companies/Details?id=@item.Id" class="btn btn-success" role="button" style="margin-right: 5px;">
                                    <span class="fa fa-info-circle"></span>
                                </a>
                            </td>
                            <td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a href="/Companies/Delete?id=@item.Id" class="btn btn-danger" role="button" style="margin-right: 5px;">
                                        <span class="fa fa-remove"></span>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="container tab-pane fade" id="panel4" style="margin: auto;" width="100%">
                <h3>Города</h3>
                <h3>  <a href="/Cities/Create" class="btn btn-primary" role="button">Добавить</a></h3>
                <table class="table table-hover" style="margin: auto;" width="100%">

                        @foreach (var item in Model.Cities)
                        {
                            <tr>
                                <td>
                                    <span style="width: 20px;margin: auto;">   @Html.DisplayFor(modelItem => item.Name)</span>
                                </td>
                                <td>
                                    <a href="/Cities/Edit?id=@item.ID" class="btn btn-primary" role="button" style="margin-right: 5px;">
                                        <span class="fa fa-pencil"></span>
                                    </a>
                                </td>
                                <td>
                                    @if (User.IsInRole("Admin"))
                                    {

                                        <a href="/Cities/Delete?id=@item.ID" class="btn btn-danger" role="button" style="margin-right: 5px;">
                                            <span class="fa fa-remove"></span>
                                        </a>

                                    }
                                </td>


                            </tr>
                        }
                </table>
            </div>

            @if (User.IsInRole("Admin"))
            {

                <div id="panel5" class="container tab-pane fade" style="margin: auto;" width="100%">
                    <h3>Комплекты</h3>
                    <h3>
                        <a href="/Kits/Create" class="btn btn-primary" role="button">Добавить</a>
                    </h3>
                    <table class="table table-hover" style="margin: auto;" width="100%">

                        @foreach (var item in Model.Kits)
                        {
                            <tr>
                                <td>
                                    <span style="width: 20px;margin: auto;">   @Html.DisplayFor(modelItem => item.Name)</span>


                                </td>
                                <td>

                                    <a href="/Kits/Edit?id=@item.ID" class="btn btn-primary" role="button" style="margin-right: 5px">
                                        <span class="fa fa-pencil"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="/Kits/Details?id=@item.ID" class="btn btn-success" role="button" style="margin-right: 5px;">
                                        <span class="fa fa-info-circle"></span>
                                    </a>
                                </td>
                                <td>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a href="/Kits/Delete?id=@item.ID" class="btn btn-danger" role="button" style="margin-right: 5px">
                                            <span class="fa fa-remove"></span>
                                        </a>
                                    }

                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div id="panel6" class="container tab-pane fade" style="margin: auto;" width="100%">
                    <h3>Пользователи</h3>


                    <h3>  <a href="/Account/Register" class="btn btn-primary" role="button">Регистрация</a></h3>

                    <table class="table table-hover" style="margin: auto;" width="100%">


                        <tr>
                            <th>
                                Аккаунт
                            </th>
                            <th>
                                Роль
                            </th>

                          
                        </tr>


                        @foreach (var item in Model.AspNetUsers)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>

                                <td>
                                    @if (item.AspNetRoles?.Count > 0)
                                    {
                                        @Html.DisplayFor(modelItem => item.AspNetRoles.ToList().FirstOrDefault().Name)
                                    }

                                </td>

                                <td>
                                    <a href="/Manage/Details?UserId=@item.Id" class="btn btn-success" role="button" style="margin-right: 5px;">
                                        <span class="fa fa-info-circle"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="/Account/Delete?id=@item.Id" class="btn btn-danger" role="button" style="margin-right: 5px">
                                        <span class="fa fa-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            }

        </div>
    </div>

</body>
</html>
@section scripts{

    <script>

        function AddPriceOfProduct(object, idProductType) {

            var par = object.parentElement;
            var f = object.value;
            var d = f.replace(/\s/g, '');

            $(object).val(d);
            var ComponentsData = {
                id: idProductType,
                data: object.value,
                dataId: object.id
            };
            $.getJSON("/ProductTypes/AddPriceOfProductType", ComponentsData, AddPriceRequest);
        }



        function AddPriceRequest(data) {
            var el = document.getElementById(data[0]);
            if (el != null) {
                $(el).val(data[1]);
            }
        };

    </script>
}