﻿@using SystemOfProductionControl.Models
@using Microsoft.AJAX.Utilities
@model List<Journal>
@{
    ViewBag.Title = "Home Page";
    SelectList TypeProductID = ViewBag.TypeProductID;
    SelectList TypeWarningID = ViewBag.TypeWarningID;
     

}
<div style="padding-top: 30px; min-width: 1000px;">
    <div class="row" style="min-width: 1000px;">

        <div class="col-sm-6 col-md-4" style="width: 70%;">
            <div class="thumbnail">

                <div class="caption" >
               
                        <table class="fixed_headers">
                            <thead>
                                <tr>
                                        <th>ID</th>
                                        <th>ДАТА</th>
                                        <th>Оборудование</th>
                                        <th>Тип неисправности</th>
                                        <th></th>
                                </tr>

                                @*<tr id="itemPlaceholder" runat="server"></tr>*@
                            </thead>
                            <tbody>
                                @foreach (var j in @Model)
                                {
                                 
                                        <tr>

                                            <td >@j.ID</td>
                                            <td>@j.Data</td>

                                            @*<td>@j.AspNetUsers.UserName</td>*@
                                            <td>@j.ProductType.Name</td>
                                            @if (@j.WarningType != null)
                                            {
                                                <td>@j.WarningType.Name</td>
                                            }
                                            else
                                            {

                                                <td>Исправно</td>
                                            }
                                        
                                           
                                        </tr>
                                }
                            </tbody>
</table>
 
                    </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4" style="width: 300px;">
            <div class="thumbnail">

                <div class="caption">

                    @using (Html.BeginForm("Create", "Home", FormMethod.Post))
                    {
                        <div class="form-group" style="width: 80vw;margin: auto">
                            @Html.Label("ID", "Оборудование", htmlAttributes: new { @class = "control-label col-md-2" }) 
                            @Html.DropDownList("TypeProductID", TypeProductID, htmlAttributes: new { @class = "form-control" })
                         
                        </div>

                        <div class="form-group" style="width: 80vw;margin: auto">
                            @Html.Label("ID", "Количество", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.TextBox("Count", "1", htmlAttributes: new { @class = "form-control" })

                        </div>

                        <div class="form-group" >
                            @Html.Label("ID", "Неисправность", htmlAttributes: new { @class = "control-label col-md-2" }) 
                            <div id="TypeWarningIDDiv">
                                @Html.DropDownList("TypeWarningID", TypeWarningID, htmlAttributes: new { @class = "form-control", @id = "TypeWarningID"  })
                            </div>
                        </div>
                        <div class="form - group" style="margin-bottom: 10px">
                            @Html.Label("Text", "Описание", htmlAttributes: new { @class = "control-label col-md-2", @style = "display: none;", @id= "text1" })
                            @Html.TextArea("textArea", "", 5, 37, htmlAttributes: new { @style = "display: none;", @type = "hidden", @id = "textArea" })
                        </div>
                        <div class="form-group" style="width: 80vw;margin: auto">

                            <input type="submit" value="Сохранить" class="btn btn-default" />
                        </div>
 
                    }

                        </div>
            </div>
        </div>
    </div>


</div>

@section scripts{
    <script>
        $(function() {

            $('#TypeWarningID')
                .change(function() {
                    setWarning(this);
                });
        });

        function setWarning(data) {
            
            var name = $(data).val();
            if (name != "Нет") {
                document.getElementById("textArea").style.display = "block";
                document.getElementById("text1").style.display = "block";
            }
        }


    $(function() {
        $("#TypeProductID")
            .change(function() {

                var person = { name: $("#TypeProductID").val() };

                $.getJSON("/JournalOfRepairs/AJAXTest", person, getWarning);
            });

    });



    function getWarning(people) {
        // $("#people_list").text("");
        // $("#TypeWarningID").
        $('#TypeWarningIDDiv').empty();
        //$('#TypeWarningIDDiv').append();
        $("#TypeWarningIDDiv").append('<select name="TypeWarningID" onchange ="setWarning(this)"  id="TypeWarningID" class = "form-control"> </select>');

        $.each(people, function (i) {
            $("#TypeWarningID").append('<option value="' + people[i].Value + '">' + people[i].Text + '</option>');
        });
    }


    </script>
}

<style>
        /*th, td {
            padding: 8px;
        }

        th {
            background: #28a4fa;
            color: white;
            font-weight: bold;
        }

        td.clearth {
            background: #ffffff;
            color: white;
            font-weight: bold;
        }

        tr:nth-of-type(even) {
            background: #eee;
        }

        tr:nth-of-type(odd) {
            background: #fffbd6;
        }*/

.fixed_headers {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.fixed_headers th {
  text-decoration: underline;
}
.fixed_headers th,
.fixed_headers td {
  padding: 15px;
    margin: auto;
  text-align: left;
}
 .fixed_headers td:nth-child(1),
.fixed_headers th:nth-child(1) {
  min-width: 20px;

}
.fixed_headers td:nth-child(2),
.fixed_headers th:nth-child(2) {
  min-width: 200px;
  width: 100%;
}
.fixed_headers td:nth-child(3),
.fixed_headers th:nth-child(3) {
   min-width: 200px;
    width: 100%;
}
.fixed_headers td:nth-child(4),
.fixed_headers th:nth-child(4) {
   min-width: 200px;
    width: 100%;
}

.fixed_headers thead {
  background-color: #28a4fa;
  color: #ffffff;
}
.fixed_headers thead tr {
  display: block;
  position: relative;
}
.fixed_headers tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 700px;
}
.fixed_headers tbody tr:nth-child(even) {
  background-color:#fffbd6;
}






      </style>
