﻿@{
    ViewBag.Title = "Pages";
    Layout = "";
}

@Styles.Render("~/Content/css")

@Scripts.Render("~/bundles/modernizr")



<body style="width: 80vw;margin: auto"">


    <div align="center">
        <div class="panel panel-info" style="width: 1200px; border: 0px;">
            <div class="card-header">
                <h3 class="panel-title">ЭССАН Система Контроля Производства</h3>
            </div>
            <div class="card-body">
                <center> <img src="@Url.Content("~/Content/Img/logo2.png")" alt="" width="580"></center>
            </div>
        </div>
    </div>
    <div align="center">
        <div class="row vertical-offset-100" style="margin-right: 15%; margin-left: 15%; margin-top: 5%;">

            <div class="col-sm-6 col-md-4">

                <a href="/Account/Login" class="btn btn-default" role="button" style="width: 250px; height: 250px; text-align: center; ">
                    <div class="caption" style="margin-top: 10%; vertical-align: baseline; ">
                        <div style="position: relative; top: 40px;">
                            <h2 align="center" style="color:#0298d6">Контроль <br />Производства</h2>
                        </div>
                    </div>


                </a>
            </div>
            <div class="col-sm-6 col-md-4">

                <a href="http://restservissu-ru.1gb.ru/" class="btn btn-default" role="button" style="width: 250px; height: 250px;">

                    <div style="position: relative; top: 40px;">
                        <h2 align="center" style="color:#0298d6">Техподдержка</h2>
                        <h2 align="center" style="color:#0298d6">ССУЛ Союз</h2>

                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">

                <a href="#" class="btn btn-default" role="button" style="width: 250px; height: 250px;">

                    <div style="position: relative; top: 60px;">
                        <h2 align="center" style="color:#0298d6">В разработке</h2>
                    </div>

                </a>
            </div>
        </div>
        @Html.Partial("_LoginPartial")
    </div>
</body>

