﻿@model SystemOfProductionControl.AdditionalAgreement

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Подтвердите удаление</h3>
<div>
    <h4>AdditionalAgreement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocumentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompletionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationReturned.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationReturned.ID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
