﻿@model IEnumerable<SystemOfProductionControl.AdditionalAgreement>

@{
    ViewBag.Title = "Index";

    ApplicationReturned applicationReturned = ViewBag.application;
}
 
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@


<div style="margin: 10px;">
    

@using (Html.BeginForm("AddAdditional", "AdditionalAgreements", FormMethod.Get))
{
    <input id="IDApplication"  name="IDApplication"   type="hidden" value="@applicationReturned.ID" />
    <table width="600px">
        <tr>

            <td>
                <input type="date" name="dateComplition" style="width: 150px;" value="@DateTime.Now.AddHours(4).ToString("yyyy-MM-dd")" class="form-control"/>
            </td>
            <td>
                <input type="text" name="docName" style="width: 250px;" class="form-control"/>
            </td>

            <td>
                @*<a href="/ActOfTransfers/Create?IDApplication=@applicationReturned.ID" class="btn btn-info" role="button" style="margin-right: 10px; width: 180px; float: left;">
                    <span class="fa fa-plus"></span>
                </a>*@
                <button type="submit" class="btn btn-primary" style="margin-right: 12px"> <span class="fa fa-plus"></span> Продлить договор</button>
            </td>

        </tr>

    </table>



}


</div>


<table class="table">
    <tr>
        <th>
            Дата создания
        </th>
        <th>
            Дата завершения
        </th>
        <th>
           Документ 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayName(item.DateCreate.ToString("dd-MM-yyyy"))
        </td>
        <td>
            @Html.DisplayName(item.CompletionDate.ToString("dd-MM-yyyy"))
        </td>
        <td>
            @Html.DisplayName(item.DocumentName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
