﻿@*@model List<DateTime>*@
@{
    DateTime? date1 = null;
    DateTime? date2 = null;
    date1 = (DateTime)ViewData["date1"];
    date2 = (DateTime)ViewData["date2"];
}



    <form method="post">

        <div position: fixed>

            <div class="form-group" style="width: 80vw;margin: auto">
                <label for="inputDate">Дата от:</label>
                @if (date1 != null)
                {
                    <input type="date" class="form-control" name="date1" value="@date1.Value.ToString("yyyy-MM-dd")">
                }
                else
                {
                    <input type="date" class="form-control" name="date1">
                }
            </div>
            <div class="form-group" style="width: 80vw;margin: auto">
                <label for="inputDate">Дата до:</label>
                @if (date2 != null)
                {
                    <input type="date" class="form-control" name="date2" value="@date2.Value.ToString("yyyy-MM-dd")">
                }
                else
                {
                    <input type="date" class="form-control" name="date2">
                }
            </div>
            <div class="form-group" style="width: 80vw;margin: auto">
                <br />
                <div class="btn-group" role="group">
                    @*<button type="submit" formaction="/Admin/Repair_Report" formmethod="post" class="btn btn-primary" style="margin-right: 2vw">Общий</button>*@
                    <button type="submit" formaction="/Admin/Repair_Report" formmethod="post" class="btn btn-primary" style="margin-right: 0.7vw">Количество неисправностей в конкретных продуктах</button>
                    <button type="submit" formaction="/Admin/RepairQuantity" formmethod="post" class="btn btn-primary" style="margin-right: 0.7vw">Количество причин ремонта</button>
                    <button type="submit" formaction="/Admin/RepairCause" formmethod="post" class="btn btn-primary" style="margin-right: 0.7vw">Причина ремонта продукта</button>
                    <button type="submit" formaction="/Admin/MalfunctionQuantity" formmethod="post" class="btn btn-primary" style="margin-right: 0.7vw">Количество неисправностей</button>
                    <button type="submit" formaction="/Admin/MalfunctionCause" formmethod="post" class="btn btn-primary" style="margin-right: 0.7vw">Неисправности продукта</button>
                    <button type="submit" formaction="/Admin/ComponentReport" formmethod="post" class="btn btn-primary" style="margin-right: 0.7vw">Неисправности компонентов</button>

                </div>
                <br />
                <br />
            </div>
        </div>

    </form>







