﻿@model   List<SystemOfProductionControl.Models.Company>
    @using SystemOfProductionControl.Models
@{
    ViewBag.Title = "CompanyNoDataFromActs";
}

<h2>Компании с незаполненными данными</h2>

<table class="table"> 
    
    <tr>
        <th>Название</th>
        <th>Город</th>
        <th>КПП</th>
        <th>ИНН</th>
        <th>Телефон</th>
    </tr>

    @foreach (var company in Model)
    {
        <tr>
            <td>
                <a href="/Companies/Edit?id=@company.Id">@company.Name</a> 
            </td>
        
            <td>
                @company.Cities.Name 
            </td>
            <td>
                @company.KPP
                
            </td>
            <td>
                @company.INN
            </td>
        
            <td>
                @company.Phone
            </td>

        </tr>
     
    }
</table>
