﻿@model IEnumerable<SystemOfProductionControl.Models.Comp_Report_Model>
@{
    ViewData["Title"] = "ComponentReport";
}
@Html.Partial("~/Views/Admin/Adminhead.cshtml")
@{
    int CountAllWarning = 0;
}

@if (Model != null)
{
    <table class="table table-hover" style="width: 80vw;margin: auto">
        <thead>
            <tr>

                <th>
                    <span class="display-name">@Html.DisplayNameFor(model => model.CompID)</span>
                </th>
                <th>
                    <span class="display-name">@Html.DisplayNameFor(model => model.CompJournal)</span>
                </th>
                <th>
                    <span class="display-name">@Html.DisplayNameFor(model => model.CompCount)</span>
                </th>
                <th>
                    <span class="display-name">@Html.DisplayNameFor(model => model.Compname)</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                CountAllWarning += item.MalfunctionCount;
            <tr>
                <td>
                    <span class="display-name">@Html.DisplayFor(modelItem => item.CompID)</span>
                </td>
                <td>
                    <span class="display-name">@Html.DisplayFor(modelItem => item.CompJournal)</span>
                </td>
                <td>
                    <span class="display-name">@Html.DisplayFor(modelItem => item.CompCount)</span>
                </td>
                <td>
                    <span class="display-name">@Html.DisplayFor(modelItem => item.Compname)</span>
                </td>
            </tr>
            }
           
        </tbody>
    </table>
}
