﻿@{
    ViewBag.Title = "Индекс";
}



    <form method="post">
        <div class="form-group" style="width: 80vw;margin: auto">
            <h2>Отчёты</h2>

            <div class="btn-group" role="group" text-align="center" margin="auto">
                <button type="submit" formaction="/Admin/CompanyNoDataFromActs" class="btn btn-link" text-align="center" margin="auto">Компании, участвующие в ремонте</button>
            </div>
            <div class="btn-group" role="group" text-align="center" margin="auto">
                <button type="submit" formaction="/Admin/Repair_Report" class="btn btn-link" text-align="center" margin="auto">Отчеты по неисправностям за период</button>
            </div>
        </div>
    </form>