﻿@model SystemOfProductionControl.Models.RepairCauseModel
@{
    ViewBag.Title = "MalfunctionCause";
}

 @Html.Partial("~/Views/Admin/Adminhead.cshtml")



@if (Model != null)
{

    <table style="border: 1px solid black; width: 100%;" class="table">
        
        <tr style="border: 1px solid black;">
            <th style="border: 1px solid black; width: 200px;"></th>
            @foreach (var modelHead in Model.Heads)
            {
                <th style="border: 1px solid black; width: 100px;">@modelHead</th>
            }
            <th style="border: 1px solid black; width: 100px;">Всего</th>
        </tr>
        
        
                @foreach (var nameToCountsModel in Model.NameToCounts)
                {
                    <tr style="border: 1px solid black;">
                        
                        <td style="border: 1px solid black; height: 60px;">
                            @nameToCountsModel.Name
                        </td>
                        
                        @foreach (var count in nameToCountsModel.Counts)
                        {


                            if (count != 0)
                            {
                                String a = "#ffffff";


                                if (count < 5)
                                {

                                    a = "#add65a";

                                }
                                else if (count < 10)
                                {
                                    a = "#ADD6F2";
                                }
                                else if (count < 30)
                                {
                                    a = "#ff9147";
                                }
                                else
                                {
                                    a = "#ff0000";
                                }

                                <td style="border: 1px solid black; background: @a" align="center">
                                     
                                    <b>@count</b> 
                                     
                                </td>
                            }
                            else
                            {
                                <td style="border: 1px solid black;" align="center">
                                    @count
                                </td>
                            }


                        }

</tr>
                }


</table>

    
}

