﻿@model IEnumerable<SystemOfProductionControl.Models.NameAndCount>

@{
    ViewBag.Title = "Количество неисправностей";
}

@Html.Partial("~/Views/Admin/Adminhead.cshtml")

 
<div>
    Неисправность - количество
</div>
 @if (Model != null)
 {
        <table class="table table-hover" style="margin: auto;" width="100%">
         <tr>
             <th>
                 @Html.DisplayNameFor(model => model.Name)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.Count)
             </th>
             <th></th>
         </tr>

         @foreach (var item in Model)
         {
             <tr>
                 <td>
                     @if (!string.IsNullOrEmpty(item.Name))
                     {
                         @Html.DisplayFor(modelItem => item.Name)
                     }
                     else
                     {
                         @Html.DisplayName("Нет")
                     }
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Count)
                 </td>

             </tr>
         }

     </table>
 }