﻿@model IEnumerable<SystemOfProductionControl.Models.NameAndCount>

@{
    ViewBag.Title = "Причины ремонта";
}

@Html.Partial("~/Views/Admin/Adminhead.cshtml")


<div>
    Количество причин ремонта
</div>
@if (Model != null)
{

      <table class="table table-hover" style="width: 80vw;margin: auto">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.Name))
                    {
                        @Html.DisplayFor(modelItem => item.Name)

                    }
                    else
                    {
                        @Html.DisplayName("Нет")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>

            </tr>
        }

    </table>
}