﻿@model IEnumerable<SystemOfProductionControl.Models.Repair_Report_Model>
@{
    ViewData["Title"] = "Repair_Report";
}
@Html.Partial("~/Views/Admin/Adminhead.cshtml")
@{
    int CountAllWarning = 0;
}

@if (Model != null)
{
    <table class="table table-hover" style="width: 80vw;margin: auto">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Тип Оборудования:", "Repair_Report", new { sortOrder = @ViewData["NameSortParm"], date1 = @ViewData["date1"], date2 = @ViewData["date2"] }, new { @style = "color:#1d7974;font-weight: 600" })
                </th>
                <th>
                    @Html.ActionLink("Количество:", "Repair_Report", new { sortOrder = @ViewData["CountSortParm"], date1 = @ViewData["date1"], date2 = @ViewData["date2"] }, new { @style = "color:#1d7974;font-weight: 600" })
                </th>
                <th>
                    <span class="display-name">@Html.DisplayNameFor(model => model.MalfunctionTypes)</span>
                </th>
                <th>
                    <span class="display-name">@Html.DisplayNameFor(model => model.RepairCause)</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                CountAllWarning += item.MalfunctionCount;
                <tr>
                    <td>
                        <span class="Name">@Html.DisplayFor(modelItem => item.Name)</span>
                    </td>
                    <td>
                        <span class="outquerycss">@Html.DisplayFor(modelItem => item.MalfunctionCount)</span>
                    </td>
                    <td>
                        <span class="outquerycss">@Html.DisplayFor(modelItem => item.MalfunctionTypes)</span>
                    </td>
                    <td>
                        <span class="outquerycss">@Html.DisplayFor(modelItem => item.RepairCause)</span>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <h3>Всего:</h3>
                </td>
                <td>
                    <h3>@CountAllWarning.ToString()</h3>
                </td>
            </tr>
        </tbody>
    </table>
}
