﻿@using SystemOfProductionControl.other
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="~/Content/font-awesome.min.css" rel="stylesheet">

    <title>@ViewBag.Title – ЭССАН-ЛИФТЭК</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body style="padding-top: 0px;">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <ul class="navbar-nav mr-auto">
            @if (User.IsInRole("Admin"))
            {
                @*<li>@Html.ActionLink("Журнал проверки", "Index", "Home")</li>*@
                @*<li>@Html.ActionLink("Журнал ремонта", "Index", "JournalOfRepairs")</li>*@
                <li>
                    @Html.ActionLink("Заявки Ремонт", "Index", "Applications", new { type = (int)BaseEnums.ApplicationTypeEnum.Normal }, new { @class = "my-class" })
                </li>
                <li>@Html.ActionLink("Заявки Ремонт", "IndexOfRepair", "Applications", null, new { @class = "my-class" })</li>
                <li>@Html.ActionLink("Заявки Склад", "IndexOfStorage", "Applications", null, new { @class = "my-class" })</li>
                <li>@Html.ActionLink("Заявки Бухгалтерия", "IndexOfBookkeeping", "Applications", null, new { @class = "my-class" })</li>
                <li>@Html.ActionLink("Тест-драйв", "Index", "ApplicationReturned", null, new { @class = "my-class" })</li>
                <li>@Html.ActionLink("Справочники", "Index", "Reference", null, new { @class = "my-class" })</li>
                <li>@Html.ActionLink("Акты склад", "IndexOfStorage", "Acts", null, new { @class = "my-class" })</li>
                <li>@Html.ActionLink("Акты бухгалтерия", "IndexOfBookKeeper", "Acts", null, new { @class = "my-class" })</li>
                <li>@Html.ActionLink("Акты бухгалтерия 2", "IndexOfBookKeeperNofilter", null, new { @class = "my-class" })</li>
                <li>@Html.ActionLink("Акты ремонта общее", "Index", "Acts", null, new { @class = "my-class" })</li>
                <li>@Html.ActionLink("Отчёты", "Index", "Admin", null, new { @class = "my-class" })</li>
                @*<li>@Html.ActionLink("Акты ремонта", "Index", "Acts")</li>*@
                @*<li>@Html.ActionLink("Продажи", "Index", "ActOfSales")</li>*@
            }
            else if (User.IsInRole("Наладчик") || User.IsInRole("Стенд"))
            {
                @*<li>@Html.ActionLink("Журнал проверки", "Index", "Home")</li>*@
                <li>@Html.ActionLink("Заявки", "IndexOfRepair", "Applications", null, new { @class = "my-class" })</li>
                <li>@Html.ActionLink("Справочники", "Index", "Reference", null, new { @class = "my-class" })</li>
                @*<li>@Html.ActionLink("Акты ремонта общее", "Index", "Acts")</li>*@

            }
            else if (User.IsInRole("Склад"))
            {
                <li>@Html.ActionLink("Заявки", "IndexOfStorage", "Applications", null, new { @class = "my-class" })</li>
                <li>@Html.ActionLink("Акты на обработку", "IndexOfStorage", "Acts", null, new { @class = "my-class" })</li>
                <li>@Html.ActionLink("Справочники", "Index", "Reference", null, new { @class = "my-class" })</li>

            }
            else
            if (User.IsInRole("Бухгалтерия"))
            {
                <li>@Html.ActionLink("Заявки", "IndexOfBookkeeping", "Applications", null, new { @class = "my-class" })</li>
                <li>@Html.ActionLink("Акты на обработку", "IndexOfBookKeeper", "Acts", null, new { @class = "my-class" })</li>
                <li>@Html.ActionLink("Акты Общее", "IndexOfBookKeeperNofilter", "Acts", null, new { @class = "my-class" })</li>
                <li>@Html.ActionLink("Справочники", "Index", "Reference", null, new { @class = "my-class" })</li>

                @*<li>@Html.ActionLink("Акты ремонта общее", "Index", "Acts")</li>*@


            }
            else
            if (User.IsInRole("Менеджер"))
            {
                <li>@Html.ActionLink("Заявки", "Index", "Applications", null, new { @class = "my-class" })</li>
                <li>@Html.ActionLink("Справочники", "Index", "Reference", null, new { @class = "my-class" })</li>
                <li>@Html.ActionLink("ТестДрайв", "Index", "ApplicationReturned", null, new { @class = "my-class" })</li>
                <li>@Html.ActionLink("Акты Бухгалтерия", "IndexOfBookKeeper", "Acts", null, new { @class = "my-class" })</li>
                <li>@Html.ActionLink("Акты Общее", "Index", "Acts", null, new { @class = "my-class" })</li>
            }
            else

            if (User.IsInRole("Производство"))
            {
                <li>@Html.ActionLink("Заявки", "IndexManufacture", "Applications", null, new { @class = "my-class" })</li>
                <li>@Html.ActionLink("Справочники", "Index", "Reference", null, new { @class = "my-class" })</li>
                <li>@Html.ActionLink("Акты Общее", "Index", "Acts", null, new { @class = "my-class" })</li>
            }


        </ul>
        @Html.Partial("_LoginPartial")
    </nav>

    <br />
    <br />
    <br />
    <div class="container body-content" style="width: 100vw;min-width:100vw">

        @RenderBody()
        <hr />
        <footer class="card-footer" style="position:fixed; bottom:0px; left: 0px;">
            &copy; @DateTime.Now.Year – ЭССАН-ЛИФТЕК
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    <script src="~/Scripts/HelperScripts/ChekBoxScript.js"></script>
    <script src="~/Scripts/CustomFunctionScript.js"></script>



</body>

</html>

