﻿@model SystemOfProductionControl.Models.Act

@{
    ViewBag.Title = "Delete";
}



<h3>Вы уверены что хотите удалить запись?</h3>
<div>
     
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Акт
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
           Тип акта
        </dt>

        <dd>
         @if (@Model.Warranty != null)
         {
             if (@Model.Warranty.Value)
             {
                @Html.DisplayName("Гарантийный")
             }
             else
             {
                @Html.DisplayName("Платный")
             }
         } 
        </dd>
         
        <dt>
           Дата создания
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>
        <dt>
            Город
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cities.Name)
        </dd>

        <dt>
            Компания
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company1.Name)
        </dd>

        
        <dt>
           дата отправки
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfShipment)
        </dd>

        

       

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            <a href="javascript: history.back()">« назад</a>
        </div>
    }
</div>
