﻿@using SystemOfProductionControl.Models
@model SystemOfProductionControl.Models.Act
@{
    ViewBag.Title = "Details";
    List<JournalOfRepairModel> journalOfRepair = ViewBag.journalOfRepair;
    List<CompProductModel> Component = ViewBag.Component;
    //Dictionary<int, SelectList> TypeWarningID = ViewBag.TypeWarningID;
    List<string> Prices = ViewBag.Prices;

}
<input id="idText" type="hidden" value="@Model.ID.ToString()" />
<div class="row" style="width: 80vw;margin: auto">
    <div class="card" style="width: 80vw;margin: auto">
        <div class="card-header">
            <table width="100%">
                <tr style="width: 80vw;margin: auto">
                    <td>
                        @*<button type="button"   class="btn btn-success" style="float:left; margin:10px;">Для ремонта</button>*@
                        @*<a href="/Acts/Details/@Model.ID.ToString()" class="btn btn-success" role="button" style="margin: 2px">Для ремонта</a>*@
                    </td>
                    <td style="text-align: center;">
                        <div style="text-align: center;">
                            <b>Акт № </b>
                            <input type="text" id="ActName" value="@Model.Name.Trim(' ')" style="width: 300px;" />
                        </div>
                        <br />
                        <div>
                            @{
                                string warranty = "";
                                if (Model.Warranty != null)
                                {
                                    if (Model.Warranty.Value)
                                    {
                                        warranty = "Гарантийный";
                                    }
                                    else
                                    {
                                        warranty = "Платный";
                                    }
                                }
                            }
                            Тип акта: <b>@warranty</b>
                        </div>
                    </td>
                    <td style="width: 550px;">
                        @*<a href="/Acts/Report4/?id=@Model.ID" target="_blank" class="btn btn-success" role="button" style="margin: 2px; width: 130px;">
                            <span class="fa fa-print"></span> Акт Приемки
                            </a>*@
                        @*<a href="/Acts/Report3/?id=@Model.ID" target="_blank" class="btn btn-success" role="button" style="margin: 2px; width: 130px;">
                            <span class="fa fa-print"></span> Заявка
                            </a>*@
                        <a href="/Acts/Report5/?id=@Model.ID" target="_blank" class="btn btn-success" role="button" style="margin: 2px; width: 130px;">
                            <span class="fa fa-print"></span>Компоненты
                        </a>
                        <a href="/Acts/Report1/?id=@Model.ID" target="_blank" class="btn btn-success" role="button" style="margin: 2px; width: 130px;">
                            <span class="fa fa-print"></span> Акт
                        </a>
                        @*<a href="/Acts/Report2/?id=@Model.ID" target="_blank" class="btn btn-success" role="button" style="margin: 2px; width: 130px;">
                            <span class="fa fa-print"></span> Акт Сдачи
                            </a>*@
                    </td>
                </tr>
                <tr style="margin-top: 5px;">
                    <td>
                    </td>
                    <td></td>
                    <td>
                        <div style="float: right; margin: 10px;">
                            <div style="margin-top: 5px;">
                                Дата создания: <input type="date" name="DateCreate" value="@Model.DateCreate.ToString("yyyy-MM-dd")" />
                            </div>
                            @*<div style="margin-top: 5px;">
                                Дата отправки:
                                @if (Model.DateOfShipment != null)
                                {
                                <input type="date" name="DateOfShipment" id="DateOfShipment" value="@Model.DateOfShipment.Value.ToString("yyyy-MM-dd")"/>
                                }
                                else
                                {
                                <input type="date" name="DateOfShipment" id="DateOfShipment"/>
                                }
                                </div>*@
                        </div>
                    </td>
                </tr>
            </table>
            <br />

            <div style="float: right">

                @if (@Model.ActCondition.IsRepairCompleted == false && @Model.ActCondition.OnRepair == true)
                {

                    if ((bool)!@Model.ActCondition.ProcessedStorage)
                    {
                        <input type="button" class="btn btn-success" id="ActReadyButton" value="Обработано складом" onclick="location.href = '@Url.Action("SetActReadyStorage", "Acts", new { actID = @Model.ID })'; SetVisible('ActReadyButton', false); SetVisible('ActReadyButtonCancel', true)" />
                    }
                    else
                    {
                        <input type="button" id="ActReadyButtonCancel" class="btn btn-danger" value="Запрос компонентов со склада" onclick="location.href = '@Url.Action("SetActReadyStorageCancel", "Acts", new { actID = @Model.ID })'; SetVisible('ActReadyButton', true); SetVisible('ActReadyButtonCancel', false)" />
                    }

                }


            </div>

            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayName("Заказчик")
                    </dt>
                    <dd>
                        <a href="/Companies/edit?id=@Model.Company1.Id">
                            @Html.DisplayName("Город:")
                            @Html.DisplayFor(model => model.Company1.Cities.Name)
                            @Html.DisplayName(" Организация: ")
                            @Html.DisplayFor(model => model.Company1.Name)
                        </a>
                    </dd>
                    <dt>
                        @Html.DisplayName("ИНН/KPP")
                    </dt>
                    <dd>
                        @{
                            String INN = null;
                            String KPP = null;
                            if (@Model.Company1.INN != null)
                            {
                                INN = Model.Company1.INN.Trim(' ');
                            }
                            if (@Model.Company1.KPP != null)
                            {
                                KPP = Model.Company1.KPP.Trim(' ');
                            }
                        }
                        @INN / @KPP
                    </dd>
                    <dt>
                        @Html.DisplayName("Телефон")
                    </dt>
                    <dd>
                        @{ String Phone = null; }
                        @if (@Model.Company1.Phone != null)
                        {
                            Phone = Model.Company1.Phone.Trim(' ');
                        }
                        @Phone
                    </dd>
                    <dt>
                        @Html.DisplayName("Город заказа")
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Cities.Name)
                    </dd>
                    <dt>
                        @Html.DisplayName("Ремонт проводил")
                    </dt>
                </dl>
            </div>
        </div>
        <div class="card-body" id="Body" style="padding-bottom: 0px;">
            <h3>Проведена замена элементов</h3>
        </div>
        <div class="form-group" style="margin-bottom: 0px;">
            <table width="100%" class="table" id="TableComponent">
                <tr>
                    <th>
                        Код/АБРМ
                    </th>
                    <th>
                        Название
                    </th>
                    <th>
                        Количество
                    </th>
                    <th>
                        Склад
                    </th>
                    <th>
                        Выдано
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                </tr>
                @if (Component != null)
                {
                    foreach (var item in Component)
                    {
                        <tr>
                            <td>
                                @item.CodeOrABRM
                            </td>
                            <td>
                                @{
                                    string linkComponent = "";
                                    switch (@item.Type)
                                    {
                                        case 0:
                                            {
                                                linkComponent = "/Components/Edit?id=" + item.ID;
                                                break;
                                            }
                                        case 1:
                                            {
                                                linkComponent = "/Products/Edit?id=" + item.ID;
                                                break;
                                            }
                                    }
                                }
                                <a href="@linkComponent">
                                    @item.Name
                                </a>
                            </td>
                            <td>
                                @item.Size
                            </td>
                            <td>
                                @item.Storage
                            </td>

                            <td style="width: 60px;">
                                @{
                                    string idIssued = "idIssued_" + item.ID.ToString() + "_" + ((int)item.Type).ToString();
                                }

                                <input type="text" id="@idIssued" name="Issued" onblur='AddIssued(this,  @item.ID,  @((int)(item.Type)))' value="@item.Issued" style="width: 60px;">
                            </td>
                            <td>
                                <button type="button" id="" onclick='AddIssuedFull("@idIssued", @item.ID, @((int)(item.Type)),@item.Size)' class="btn btn-success btn-sm" style="margin-left: 2px;">
                                    <span class="fa fa-check"></span>
                                </button>
                            </td>
                            <td>
                                @* <button type="button" tabindex="-1" id="CityIdButton" onclick="RemoveComponent(@item.ID)" class="btn btn-danger btn-sm" style="margin-left:2px;"> <span class="fa fa-remove"></span></button>*@
                                <a href="" class="btn btn-primary" role="button" style="margin-right: 5px">
                                    <span class="fa fa-pencil"></span> Заменить
                                </a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div class="card-footer">
            <table class="table" id="tableFooter">
                <tr>
                    <th style="width: 300px;">
                        Название
                    </th>
                    <th style="width: 80vw;margin: auto">
                        Номер - Дата продажи
                    </th>
                    <th>
                    </th>
                    <th>
                        Комментарий
                    </th>
                    <th>
                        Дата завершения
                    </th>
                </tr>
                @foreach (var item in journalOfRepair)
                {
                    <tr>
                        <td>
                            @item.TypeProduct
                        </td>
                        <td>
                            @if (item.NumberBlock != null)
                            {
                                if (item.NumberBlock.TrimEnd(' ') != "")
                                {
                                    @(item.NumberBlock + " - ")
                                }
                            }
                            @if (item.DateOfSale != null)
                            {
                                @Html.DisplayName(((DateTime)item.DateOfSale).ToString("dd.MM.yy"))
                            }
                            else
                            {
                                @Html.DisplayName("Неизвестно")
                            }
                        </td>
                        <td>
                            @if (item.Replace)
                            {
                                @Html.DisplayName("Ремонту не подлежит")
                            }
                        </td>
                        <td>
                            @item.WarningCommentsText
                        </td>
                        <td class="td_DateOfDelivery">
                            @if (item.DateOfDelivery != null)
                            {
                                @Html.DisplayName(((DateTime)item.DateOfDelivery).ToString("dd-MM-yy"))
                            }
                            else
                            {
                                @Html.DisplayName("В процессе")
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>


@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $('#inn').blur(function () {
            SetINN(this);
        });
        function SetINN(dateValue) {
            var Data = {
                actId: $("#idText").val(),
                text: $(dateValue).val()
            };
            $.getJSON("/Acts/SetINN", Data, null);
        };
        $('#kpp').blur(function () {
            SetKPP(this);
        });
        function SetKPP(dateValue) {
            var Data = {
                actId: $("#idText").val(),
                text: $(dateValue).val()
            };
            $.getJSON("/Acts/SetKPP", Data, null);
        };
        $('#phone').blur(function () {
            SetPhone(this);
        });
        function SetPhone(dateValue) {
            var Data = {
                actId: $("#idText").val(),
                text: $(dateValue).val()
            };
            $.getJSON("/Acts/SetPhone", Data, null);
        };
        $('#DateOfShipment')
            .change(function () {
                SetDateOfShipment(this);
            });


        function SetDateOfShipment(dateValue) {
            var Data = {
                actId: $("#idText").val(),
                date: $(dateValue).val()
            };
            $.getJSON("/Acts/SetDateOfShipment", Data, null);
        };

        function AddIssuedFull(objectID, idComp, type, count) {
            var ComponentsData = {
                id: idComp,
                type: type,
                actId: $("#idText").val(),
                Issued: count,
                idPar: objectID
            };
            $.getJSON("/Acts/SetIssued", ComponentsData, AddIssuedRequest);
        };

        function AddIssued(object, idComp, type) {

            var ComponentsData =
            {
                id: idComp,
                type: type,
                actId: $("#idText").val(),
                Issued: object.value,
                idPar: object.id
            };
            $.getJSON("/Acts/SetIssued", ComponentsData, AddIssuedRequest);
        };
        function AddIssuedRequest(Issued) {
            var el = document.getElementById(Issued[0]);
            if (el != null) {
                $(el).val(Issued[1]);
            }
        };
        $('#ActName')
            .blur(
                function () {
                    var data = $(this);
                    SetActName(data.val());
                }
            );
        function SetActName(text) {
            if (text != "") {
                var Data = {
                    actId: $("#idText").val(),
                    data: text
                };
                $.getJSON("/Acts/SetActName", Data, null);
            }
        };
    </script>
}
