﻿@using SystemOfProductionControl.Models
@model SystemOfProductionControl.Models.Act

@{
    ViewBag.Title = "Details";

    List<JournalOfRepairModel> journalOfRepair = ViewBag.journalOfRepair;

    List<CompProductModel> Component = ViewBag.Component;
    //Dictionary<int, SelectList> TypeWarningID = ViewBag.TypeWarningID;
    List<string> Prices = ViewBag.Prices;
    String FIO =  ViewBag.FIO;

    String WorkPrice = ViewBag.WorkPrice;
    String WorkPriceMnog = ViewBag.WorkPriceMnog;

    bool RepairRequestClose = false;


    int Status = ViewBag.Status;


    if (Model.ActCondition.IsRepairCompleted==true)
    {
        RepairRequestClose = true;
    }
}


<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">

<input id="idText" type="hidden" value="@Model.ID.ToString()" />

<div>
    <div class="row" style="width: 80vw;margin: auto"">

         <div class="card" style="width: 80vw;margin: auto">

            <div class="panel panel-default">


                <div class="card-header">


                    <table width="100%">

                        <tr> 
                            <td style="width: 400px; margin-top: 5px;">
                           
                                <div style="margin-top: 10px;">

                                    <b>Акт № </b>
                                    <input type="text" id="ActName" value="@Model.Name.Trim(' ')" style="width: 300px;"/>

                                </div>
                                <br/>
                                <div>
                                    @{
                                        String typeAct = "";

                                        if (Model.Warranty != null)
                                        {
                                            if (Model.Warranty.Value)
                                            {
                                                typeAct = "Гарантийный";
                                            }
                                            else
                                            {
                                                typeAct = "Платный";
                                            }
                                        }
                                    }
                                    Тип акта: <b>@typeAct</b>
                                </div>

                            </td>

                            <td style="margin-top: 5px;" colspan ="2" >
                                
                                <div>
                                    
                                    <a href="/Acts/Report4/?id=@Model.ID" target="_blank" class="btn btn-success" role="button" style="margin-left: 2px; width: 130px;">
                                        <span class="fa fa-print"></span> Заявка
                                    </a>
                                    
                                    <a href="/Acts/Report1/?id=@Model.ID" target="_blank" class="btn btn-success" role="button" style="margin-left: 2px; width: 130px;">
                                        <span class="fa fa-print"></span> Акт ремонта
                                    </a>
                                    <a href="/Acts/Report2/?id=@Model.ID" target="_blank" class="btn btn-success" role="button" style="margin-left: 2px; width: 200px;">
                                        <span class="fa fa-print"></span> Акт СДАЧИ-ПРИЕМКИ
                                    </a>
                                    <a href="/Acts/Report6/?id=@Model.ID" target="_blank" class="btn btn-success" role="button" style="margin-left: 2px; width: 160px;">
                                        <span class="fa fa-print"></span> Приложение 1
                                    </a> 
                                </div> 
                            </td>
                        </tr>

                        <tr>

                            <td></td>
                            <td></td>
                            <td>
                                <div style="float: right; margin: 10px;">
                                    <div style="margin-top: 5px;">
                                        Дата создания: <input type="date" name="DateCreate" value="@Model.DateCreate.ToString("yyyy-MM-dd")" />
                                    </div>
                                    <div style="margin-top: 5px;">
                                        Дата отправки:

                                        @if (Model.DateOfShipment != null)
                {
                        <input type="date" name="DateOfShipment" id="DateOfShipment" value="@Model.DateOfShipment.Value.ToString("yyyy-MM-dd")" />
}
else
{
                        <input type="date" name="DateOfShipment" id="DateOfShipment" />
}
                                    </div>




                                </div>
                            </td>

                        </tr>
                    </table>

                    <br />


                 
                @if (RepairRequestClose)
                {
                    
                    <div style="float: right">
                        
                        @if (Model.Paid.GetValueOrDefault(false)&&!Model.Warranty.GetValueOrDefault(false))
                        {
                            <a href="/Acts/PaidCancel?actId=@Model.ID" class="btn btn-danger" role="button" style="margin-right: 5px">
                                Отмена
                            </a>
                        } else if (!@Model.Ready)
                        {
                            @*<input type="button" id="ActReadyButton" class="btn btn-success" value="Акт готов" onclick="SetActReady(@Model.ID);SetVisible('ActReadyButton', false);SetVisible('ActReadyButtonCancel', true);"/>
                            <input type="button" style="display: none;" id="ActReadyButtonCancel" class="btn btn-danger" value="Отмена" onclick="SetActReadyCancel(@Model.ID);SetVisible('ActReadyButton', true);SetVisible('ActReadyButtonCancel', false);"/>*@

                            //   actId
                             
                            <a href="/Acts/SetActReady?actId=@Model.ID" class="btn btn-success" role="button" style="margin-right: 5px">
                                Акт готов
                            </a>


                        }
                        else 
                        {
                            <a href="/Acts/SetActReadyCancel?actId=@Model.ID" class="btn btn-danger" role="button" style="margin-right: 5px">
                                Отмена
                            </a>

                            if (@Model.ReadyStorage && !Model.Warranty.Value)
                            {
                                <a href="/Acts/SetActPaidandPend?actId=@Model.ID" class="btn btn-primary" role="button" style="margin-right: 5px">
                                    Акт оплачен
                                </a>
                            }
                        }

                    </div>

                }


                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayName("Заказчик")
                            </dt>
                            <dd>
                                <a href="/Companies/edit?id=@Model.Company1.Id">
                                    @Html.DisplayName("Город:")
                                    @Html.DisplayFor(model => model.Company1.Cities.Name)
                                    @Html.DisplayName(" Организация: ")
                                    @Html.DisplayFor(model => model.Company1.Name)
                                </a>
                            </dd>

                            <dt>
                                @Html.DisplayName("ИНН")
                            </dt>
                            <dd>


                                @{ String INN = null; }
                                @if (@Model.Company1.INN != null)
                                {

                                    INN = Model.Company1.INN.Trim(' ');
                                }
                                <input type="text" id="inn" value="@INN" style="width: 300px;" />
                            </dd>
                            <dt>
                                @Html.DisplayName("КПП")
                            </dt>
                            <dd>
                                @{ String KPP = null; }
                                @if (@Model.Company1.KPP != null)
                                {

                                    KPP = Model.Company1.KPP.Trim(' ');
                                }
                                <input type="text" id="kpp" value="@KPP" style="width: 300px;" />
                            </dd>

                            <dt>
                                @Html.DisplayName("Телефон")
                            </dt>

                            <dd>
                                @{ String Phone = null; }
                                @if (@Model.Company1.Phone != null)
                                {
                                    Phone = Model.Company1.Phone.Trim(' ');
                                }


                                <input type="text" id="phone" value="@Phone" style="width: 300px;" />

                            </dd>

                            <dt>
                                @Html.DisplayName("Город заказа")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Cities.Name)
                            </dd>


                            <dt>
                                @Html.DisplayName("Ремонт проводил")
                            </dt>
                            <dd>@Html.DisplayName(@FIO)</dd>

                        </dl>
                    </div>


                </div>


                <div class="card-body" id="Body" style="padding-bottom: 0px;">

                    <h3>Проведена замена элементов</h3>
                    @*<div class="form-group" style="margin-bottom: 0px;">
                        <table>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="ui-widget">
                                        <input id="acInput" class="form-control" style="width: 250px;"/>
                                    </div>
                                </td>

                                <td>
                                    @Html.TextBox("ComponentCount", "1", htmlAttributes: new {@class = "form-control", @style = "width: 100px; margin:10px;"})
                                </td>

                                <td>
                                    <button type="button" onclick='AddComponent()' class="btn btn-success btn-sm" style="margin: 2px; margin-right: 10px;"> <span class="fa fa-plus"></span></button>

                                </td>
                            </tr>

                        </table>*@



                </div>

                <div class="form-group" style="margin-bottom: 0px;">
                    <table width="100%" class="table" id="TableComponent">
                        <tr>
                            <th>
                                Код
                            </th>
                            <th>
                                Название
                            </th>
                            <th>
                                Количество
                            </th>

                            <th>
                                Цена
                            </th>

                            <th>
                                Склад
                            </th>

                            <th>
                            </th>
                        </tr>
                        @if (Component != null)
                        {
                            foreach (var item in Component)
                            {
                                <tr>
                                    <td>
                                        @item.CodeOrABRM
                                    </td>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.Size
                                    </td>
                                    <td id="td_@item.ID">


                                        <input type="text" name="Cena" onblur='AddPrice(this, @item.ID, @((int)item.Type))' value="@item.Price" style="width: 60px;">
                                        Всего

                                        @if (item.Price != null)
                                        {
                                            if (item.Price != "")
                                            {
                                                try
                                                {
                                                    float c = float.Parse(item.Price);
                                                    @Html.Raw(((float)c * item.Size).ToString("0.00"))
                                                }
                                                catch
                                                {

                                                }
                                            }

                                        }


                                    </td>


                                    <td>
                                        @item.Storage
                                    </td>
                                    <td>
                                        @* <button type="button" tabindex="-1" id="CityIdButton" onclick="RemoveComponent(@item.ID)" class="btn btn-danger btn-sm" style="margin-left:2px;"> <span class="fa fa-remove"></span></button>*@

                                    </td>



                                </tr>
                            }

                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                Итого
                            </td>

                            <td id="overall">
                                @Prices[0]
                            </td>

                            <td></td>

                            <td></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                Наценка
                            </td>
                            <td>
                                <input type="text" name="Markup" id="Markup" value="@Model.Markup" style="width: 60px;">
                            </td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                Всего
                            </td>

                            <td id="summary">
                                @Prices[2]
                            </td>

                            <td>
                                Стоимость работ: <input type="text" name="PriceWork" id="PriceWork" value="@Model.Price" style="width: 60px;"> Общее с НДС: <n id="AllPrice">@Prices[5] </n>

                            </td>
                            <td> </td>
                        </tr>

                    </table>



                </div>


            </div>


            <div class="card-footer">

                <div  style="float: right;">
                    <table>
                        <tr style="width: 100px;">Сумма за еденицу:</tr>
                        <tr style="width: 100px;"> <input type="text" id="CenaOneWorke" onblur='' value="@WorkPrice" style="width: 60px; margin: 10px;"></tr>
                        <tr style="width: 100px;">Множитель:</tr>
                        <tr style="width: 100px;"> <input type="text" id="CenaOneWorkeMnog"  name="Cena" onblur='' value="@WorkPriceMnog" style="width: 60px; margin: 10px;"></tr> 
                        <tr style="width: 100px;">
                            <input type="button" style="margin: 10px;" id="CalculateWork" class="btn btn-success" value="Проставить цену" onclick="CalculateWork(@Model.ID)"/>
                        </tr>
                    </table>
                </div>
 

                <table class="table" id="tableFooter">
                    <tr>
                        <th>
                            Название
                        </th>
                        <th>
                            Номер
                        </th>
                        <th>
                            Дата продажи
                        </th>
                        <th>
                            Замена
                        </th> 
                        <th>
                            Комментарий
                        </th>
                        <th>
                            Коэффицент
                        </th>
                        <th>
                            Стоимость работ
                        </th>
                        <th>
                          
                        </th>

                    </tr>

                    @foreach (var item in journalOfRepair)
                    {
                        String t = "";
                        if (item.Replace)
                        {
                            t = "bg-danger";
                        }


                        <tr class="@t">


                            <td> 

                                @item.TypeProduct
                            </td>
                            <td>
                                @item.NumberBlock
                            </td>
                            <td>

                                @if (item.DateOfSale != null)
                                {
                                    @Html.DisplayName(((DateTime)item.DateOfSale).ToString("dd-MM-yy"))
                                     
                                }
                                else
                                {
                                    @Html.DisplayName("Неизвестно")
                                    
                                }

                            </td>
                            
                            <td>
                                @if (item.Replace)
                                {
                                    @Html.DisplayName("Замена")
                                } 
                            </td>
                            

                            <td>
                                @item.WarningCommentsText
                            </td>
                            
                            <td class="td">
                               

                                @item.PriceCoeff
                                  
                               
                            </td>

                            <td class="td_Price">
                               

                                <input type="text" name="CenaWork" onblur='AddPriceOfJournalOfRepair(this, @item.ID)' value="@item.Price" style="width: 60px;">
                                  
                               
                            </td>
                            <td width="120px">
                                <a href="/ProductTypes/Edit?id=@item.TypeProductID" class="btn btn-primary" role="button" style="margin-right: 5px">
                                    <span class="fa fa-pencil"></span>
                                </a>
                            </td>

                          
                        </tr>
                    }
                </table>
                

            </div>
        </div>
    </div>

</div>
 



@section scripts{

       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script>


        function CalculateWork(act) { 
            var CenaOneWorke = $("#CenaOneWorke").val();
            var CenaOneWorkeMnog = $("#CenaOneWorkeMnog").val();
            var linc = "/Acts/CalculateWork?id=" + act + "&cena=" + CenaOneWorke + "&mnog="+CenaOneWorkeMnog; 
            GoToLink(linc);
        }


        $('#inn').blur(function() {

            SetINN(this);
        });

        function SetINN(dateValue) {


            var Data = {
                actId: $("#idText").val(),
                text: $(dateValue).val()

            };
            $.getJSON("/Acts/SetINN", Data, null);
        };



        $('#kpp').blur(function () {

            SetKPP(this);
        });

        function SetKPP(dateValue) {


            var Data = {
                actId: $("#idText").val(),
                text: $(dateValue).val()

            };
            $.getJSON("/Acts/SetKPP", Data, null);
        };




        $('#phone').blur(function () {

            SetPhone(this);
        });

        function SetPhone(dateValue) {


            var Data = {
                actId: $("#idText").val(),
                text: $(dateValue).val()

            };
            $.getJSON("/Acts/SetPhone", Data, null);
        };







        $('#DateOfShipment')
            .change(function() {


                SetDateOfShipment(this);

            });

        function SetActReady(idAct) {

            document.getElementById("ActReadyButton").style.display = "none";
            var Data = {
                actId: idAct
            };
            $.getJSON("/Acts/SetActReady", Data, null);
        };

        function SetActReadyCancel(idAct) {

            document.getElementById("ActReadyButton").style.display = "none";
            var Data = {
                actId: idAct
            };
            $.getJSON("/Acts/SetActReadyCancel", Data, null);
        };


        

        function SetActReadyStorage(idAct) {

            document.getElementById("ActReadyButton").style.display = "none";
            var Data = {
                actId: idAct
            };
            $.getJSON("/Acts/SetActReadyStorage", Data, null);
        };


        function SetDateOfShipment(dateValue) {
            var Data = {
                actId: $("#idText").val(),
                date: $(dateValue).val()

            };
            $.getJSON("/Acts/SetDateOfShipment", Data, null);
        };


        $('#Markup')
            .blur(
                function() {

                    var dataText = $(this).val();

                    var Data = {
                        actId: $("#idText").val(),
                        data: dataText
                    };
                    $.getJSON("/Acts/SetMarkup", Data, AddPriceRequest);
                }
            );


        $('#PriceWork')
            .blur(
                function() {

                    var dataText = $(this).val();

                    var Data = {
                        actId: $("#idText").val(),
                        data: dataText
                    };
                    $.getJSON("/Acts/SetPriceWork", Data, AddPriceRequest);
                }
            );

        $(function() {
            $('#ButtonGone')
                .click(function() {
                    var button = $(this);

                    document.getElementById("tableFooter").style.display = "none";
                    document.getElementById("ButtonVisible").style.display = "block";
                    document.getElementById("ButtonGone").style.display = "none";

                });
        });

        function AddComponent() {
            var Components = {
                name: $("#acInput").val(),
                count: $("#ComponentCount").val(),
                actId: $("#idText").val()
            };
            $.getJSON("/Acts/AddComponentStorage", Components, AddComponentRequest);
        };

        $(function() {

            $('#ButtonVisible')
                .click(function() {
                    var button = $(this);

                    document.getElementById("tableFooter").style.display = "table";
                    document.getElementById("ButtonGone").style.display = "block";
                    document.getElementById("ButtonVisible").style.display = "none";

                });
        });

        function RemoveComponent(idComp) {
            var Components = {
                id: idComp,
                actId: $("#idText").val()
            };
            $.getJSON("/Acts/RemoveComponentStorage", Components, AddComponentRequest);
        };


        function AddComponentRequest(Components) {

            $("#TableComponent").empty();
            $("#TableComponent")
                .append('<tr> <th> Код </th> <th> Название </th>  <th> Количество </th> <th> Цена </th> <th> Склад </th> <th> </th>  </tr>');

            $.each(Components,
                function(i) {
                    $("#TableComponent").append(Components[i]);
                });

        };

        $(function() {

            $.getJSON("/Acts/GetComponent", null, SetAutocomplete);
        });

        function SetAutocomplete(flowers) {

            var mas = Array(flowers.length);

            $.each(flowers,
                function(i) {
                    mas[i] = flowers[i].Text;
                });
            $('#acInput')
                .autocomplete({
                    source: mas,
                    minLength: 2
                });
        };


        function   AddPriceOfJournalOfRepair(object, Idjournal)
        {

            var par = object.parentElement;
            var f = object.value;
            var d = f.replace(/\s/g, '');
           
            $(object).val(d);
            var ComponentsData = {
                id: Idjournal,  
                data: object.value  
            };


         


            $.getJSON("/Acts/SetPriceOfJournalOfRepair", ComponentsData, AddPriceRequest);
        }

        function AddPrice(object, idComp, type) {


            var par = object.parentElement;

            var ComponentsData = {
                id: idComp,
                type: type,
                actId: $("#idText").val(),
                data: object.value,
                idParent: par.id
            };
            $.getJSON("/Acts/SetPrice", ComponentsData, AddPriceRequest);

        };


        function AddPriceRequest(data) {
            var el = document.getElementById(data[0]);
            if (el != null) {
                $(el).empty();
                el.id = data[0];
                $(el).append(data[1]);
            }

            $('#overall').empty();
            $('#overall').append(data[2]);


            $('#Markup').val(data[3]);

            $('#summary').empty();
            $('#summary').append(data[4]);
            $('#PriceWork').val(data[5]);
            $('#AllPrice').empty();
            $('#AllPrice').append(data[7]);
        };


        $('#ActName')
            .blur(
                function() {

                    var data = $(this);
                    SetActName(data.val());
                }
            );

        function SetActName(text) {
            if (text != "") {

                var Data = {
                    actId: $("#idText").val(),
                    data: text
                };
                $.getJSON("/Acts/SetActName", Data, null);
            }
        };


    </script>
}




