﻿@using SystemOfProductionControl.Models
@model SystemOfProductionControl.Models.Act

@{
    ViewBag.Title = "Details";

    SelectList TypeProductID = ViewBag.TypeProductID;

    SelectList TypeWarningID1 = ViewBag.TypeWarningID1;
    SelectList City = ViewBag.City;
    SelectList Companies = ViewBag.Companies;
    List<JournalOfRepair> journalOfRepair = ViewBag.journalOfRepair;
    List<CompProductModel> Component = ViewBag.Component;
    Dictionary<int, SelectList> TypeWarningID = ViewBag.TypeWarningID;
    SelectList WarningTypeFromUsers = ViewBag.WarningTypeFromUsers;
    bool? Warranty = ViewBag.Warranty;
    int? IdOther = ViewBag.IdOther;
    int IdOtherToScripts = -1;

    if (IdOther != null)
    {
        IdOtherToScripts = IdOther.Value;
    }
    RepairComments Comments = ViewBag.Comments;
    RepairComments UserProblemComments = ViewBag.UserProblemComments;
}

@section scripts{

    <script>



    $(function () {

    $.getJSON("/Acts/GetComponent", null, SetAutocomplete);
    });



    $('#UserProblemComments').blur(
    function () {
    var data = $(this);
    SetComment(0, data.val());
    }

    );

    $('#Comments').blur(
    function () {

    var data = $(this);
    SetComment(1, data.val());
    }
    );


    function SetComment(type,text) {
    var data = {
    IdAct: $('#idText').val(),
    type: type,
    text: text
    };
    $.getJSON("/Acts/SetComment", data, null);
    };


    function changeWarning(value, id) {
    var Components = {
    name: value,
    Id: id
    };
    $.getJSON("/Acts/AddWarning", Components, null);
    };

    function changeWarningFromUser(value, id) {
    var Components = {
    name: value,
    Id: id
    };
    $.getJSON("/Acts/AddWarningFromUser", Components, null);
    };

    function CloseRepair(id, button) {
    var Components = {
    Id: id
    };
    $.getJSON("/Acts/CloseRepair", Components, null);

    var n = $(button).parent();
    n.empty();
    n.append('Готово');
    };

    function ToOtherType(id, button) {


    var Components = {
    IdAct: @IdOtherToScripts,
    Id: id
    };
    $.getJSON("/Acts/ToOtherType", Components, null);

    var n = $(button).parent().parent();
    n.remove();

    };



    function CloseRepairAll() {
    var Components = {
    Id: $('#idText').val()
    };
    $.getJSON("/Acts/CloseRepairAll", Components, null);

    $('.td_DateOfDelivery').empty();
    $('.td_DateOfDelivery').append('Готово');
    };

    function AddComponent() {

    var dataName = $("#acInput").val();

    if (dataName === "") return;

    if (dataName == null) return;

    var Components = {
    name: dataName,
    count: $("#ComponentCount").val(),
    actId: $("#idText").val()
    };


    $.getJSON("/Acts/AddComponent", Components, AddComponentRequest);
    };

    function RemoveComponent(idComp) {
    var Components = {
    id: idComp,
    actId: $("#idText").val()
    };
    $.getJSON("/Acts/RemoveComponent", Components, AddComponentRequest);
    };


    function AddComponentRequest(Components) {

    $("#TableComponent").empty();
    $("#TableComponent")
    .append('<tr> <th> Код </th> <th> Название </th> <th> Количество </th> <th> </th> </tr>');

    $.each(Components,
    function(i) {
    $("#TableComponent").append(Components[i]);
    });

    };


    function SetAutocomplete(flowers) {

    var mas = Array(flowers.length);

    $.each(flowers,
    function(i) {
    mas[i] = flowers[i].Text;
    });

    $('#acInput')
    .autocomplete({
    source: mas,
    minLength: 2
    });
    };





    function SetChecked(number,object) {

    var data = {
    actId: $("#idText").val(),
    number: number,
    value: object.checked
    };
    $.getJSON("/Acts/SetChecked", data, null);
    }

    $('#Ch_1_')
    .change(function() {
    SetChecked(1, this);
    });
    $('#Ch_2_')
    .change(function () {
    SetChecked(1, this);
    });

    $('#Ch_3_')
    .change(function () {
    SetChecked(1, this);
    });

    $(function() {
    $("#TypeProductID")
    .change(function() {

    var person = { name: $("#TypeProductID").val() };

    $.getJSON("/JournalOfRepairs/AjaxTest", person, getWarning);
    });

    });

    function getWarning(people) {

    $('#TypeWarningIDDiv').empty();
    $("#TypeWarningIDDiv")
    .append('<select name="TypeWarningID1" id="TypeWarningID1" class="form-control" style="width: 200px"> </select>');

    $.each(people,
    function(i) {
    $("#TypeWarningID1")
    .append('<option value="' + people[i].Value + '">' + people[i].Text + '</option>');
    });
    };







    $(function() {

    $('#Count')
    .change(function() {
    var count = $(this).val();


    $('#NumberBlockDiv').empty();
    $('#DateOfSaleDiv').empty();
    var heightSize = 35;

    if (count > 5) {
    heightSize = 30;
    }

    for (var i = 0; i < count; i++) {


    $('#NumberBlockDiv')
    .append('<input type="text" name="NumberBlock[' +
                                i +
                                ']" class="form-control" style="width: 70px; height: ' +
                                heightSize +
                                'px;">');

    }

    var time = @DateTime.Now.Year;

    var data = '';

    for (var i = 0; i < count; i++) {


    data += '<select name="DateOfSaleMM[' +
                            i +
                            ']" class="form-control" style="width: 70px;  float: left;  height: ' +
                            heightSize +
                            'px;">
        ';

        data += '
        <option value="" selected="selected">Нет</option>';
        for (var j = 1; j <= 12; j++) {

        data += '
        <option value="' + j + '">' + j + ' </option>';

        }

        data += '
    </select>';


    data += '<select name="DateOfSaleYY[' +
                            i +
                            ']" class="form-control" style="width: 80px; float: left; height: ' +
                            heightSize +
                            'px;">
        ';

        data += '
        <option value="" selected="selected">Нет</option>';
        for (var j = 1990; j < time + 3; j++) {


        data += '
        <option value="' + j + '">' + j + ' </option>';

        }

        data += '
    </select>';


    }


    $('#DateOfSaleDiv')
    .append(data);

    });
    });


    </script>
    }
    <input id="idText" type="hidden" value="@Model.ID" />
    <br />


    <div>
        <div class="row" style="width: 80vw;margin: auto"">

            <div class="card" style="width: 80vw;margin: auto">

               
                    <div class="card-header">


                          <table class="table table-hover" style="width: 80vw;margin: auto">
                            <tr>


                                <th>
                                    Акт / Дата
                                </th>

                                <th>
                                    <div>
                                        Отправитель
                                    </div>
                                </th>

                                <th>
                                    Причина ремонта
                                </th>
                                <th>
                                    Тип ремонта
                                </th>
                                <th>
                                    Комментарий
                                </th>
                                <th>
                                    Дата отправки
                                </th>


                                <th></th>
                            </tr>


                            <tr>

                                <td width="30px">
                                    <div>@Model.Name</div>
                                    <div>@Model.DateCreate.ToString("dd:MM - hh:mm")</div>

                                </td>

                                <td>
                                    <div>
                                        @Model.Cities.Name
                                    </div>

                                    <div>
                                        @Model.Company1.Name
                                    </div>
                                    <div>
                                        @Model.Company1.Phone
                                    </div>
                                </td>
                                <td>

                                    @if (UserProblemComments?.Text != null)
                                    {
                                        @Html.TextArea("UserProblemComments", @UserProblemComments.Text, 3, 50, new { htmlAttributes = new { } })
                                    }
                                    else
                                    {
                                        @Html.TextArea("UserProblemComments", "", 3, 50, new { htmlAttributes = new { } })
                                    }

                                </td>
                                <td style="width: 140px;">


                                    @{
                                        String text = "";
                                        text = Model.Warranty.Value ? "Гарантийный" : "Платный";
                                    }
                                    <b>@text</b>

                                </td>

                                <td>

                                    @if (Comments?.Text != null)
                                    {

                                        @Html.TextArea("Comments", @Comments.Text, 3, 50, new { htmlAttributes = new { } })
                                    }
                                    else
                                    {
                                        @Html.TextArea("Comments", "", 3, 50, new { htmlAttributes = new { } })
                                    }


                                </td>


                                <td>
                                    @if (Model.DateOfShipment != null)
                                    {
                                        @Model.DateOfShipment.Value.ToString("dd:MM - hh:mm");
                                    }
                                    else
                                    {
                                        //var a = "Не отправлено";
                                        @Html.DisplayName("Не отправлено");
                                    }

                                </td>
                            </tr>


                        </table>


                    </div>
                    <div class="card-body" id="Body" style="padding-bottom: 0px;">

                        <big>
                            <big>
                                <big>
                                    Компоненты
                                </big>
                            </big>
                        </big>

                        <a href="/Acts/Report4/?id=@Model.ID" target="_blank" class="btn btn-success" role="button" style="margin-left: 2px; width: 130px;">
                            <span class="fa fa-print"></span> Заявка
                        </a>
                        <a href="/Acts/Edit?id=@Model.ID" class="btn btn-primary" role="button" style="margin-left: 5px;  float: right;">
                            <span class="fa fa-pencil"></span>
                        </a>
                        <a href="/Acts/Report1/?id=@Model.ID" target="_blank" class="btn btn-success" role="button" style="margin-left: 2px; width: 130px;">
                            <span class="fa fa-print"></span> Акт ремонта
                        </a>
                        <a href="/Acts/Report2/?id=@Model.ID" target="_blank" class="btn btn-success" role="button" style="margin-left: 2px; width: 200px;">
                            <span class="fa fa-print"></span> Акт СДАЧИ-ПРИЕМКИ
                        </a>
                        <a href="/Acts/Report6/?id=@Model.ID" target="_blank" class="btn btn-success" role="button" style="margin-left: 2px; width: 160px;">
                            <span class="fa fa-print"></span> Приложение 1
                        </a>


                        <a href="/Acts/DetailsStorage/@Model.ID.ToString()" class="btn btn-success" role="button" style="margin-left: 2px; float: right;">Склад</a>
                        <a href="/Acts/DetailsBookkeeping/@Model.ID.ToString()" class="btn btn-success" role="button" style="margin-left: 2px; float: right;">Бухгалтерия</a>
                        @if (Warranty != null && IdOther != null)
                        {
                            if (Warranty.Value)
                            {
                                <a href="/Acts/Details/?id=@IdOther" class="btn btn-success" role="button" style="margin-right: 2px; float: right; width: 140px;">Платный</a>
                            }
                            else
                            {
                                <a href="/Acts/Details/?id=@IdOther" class="btn btn-success" role="button" style="margin-right: 2px; float: right; width: 110px;">Гарантийный</a>
                            }
                        }


                        @* @Html.ActionLink("Удалить", "Delete", "JournalOfRepairs", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-primary", @role = "button", @style = "margin: 5px;" })*@<div class="form-group" style="margin-bottom: 0px;">
                            @*<table>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="ui-widget">
                                                <input id="acInput" class="form-control" style="width: 250px;" />
                                            </div>
                                        </td>

                                        <td>
                                            @Html.TextBox("ComponentCount", "1", htmlAttributes: new { @class = "form-control", @style = "width:100px; margin:10px;" })
                                        </td>

                                        <td>
                                            <button type="button" onclick="AddComponent()" class="btn btn-success btn-sm" style="margin: 2px; margin-right: 10px;">
                                                <span class="fa fa-plus"></span>
                                            </button>

                                        </td>
                                    </tr>

                                </table>*@


                        </div>

                        <div class="form-group" style="margin-bottom: 0px;">
                            <table width="100%" class="table" id="TableComponent">
                                <tr>
                                    <th>
                                        Код
                                    </th>
                                    <th>
                                        Название
                                    </th>
                                    <th>
                                        Количество
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                                @if (Component != null)
                                {
                                    foreach (var item in Component)
                                    {
                                        <tr>
                                            <td>
                                                @item.CodeOrABRM
                                            </td>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                @item.Size
                                            </td>
                                            <td>
                                                @*<button type="button" id="CityIdButton" onclick="RemoveComponent(@item.)" class="btn btn-danger btn-sm" style="margin-left: 2px;">
                                                    <span class="fa fa-remove"></span></button>*@
                                            </td>
                                        </tr>
                                    }

                                }
                            </table>


                        </div>


                    </div>



                    <div class="card-footer">
                        <big>
                            <big>
                                <big>
                                    Оборудование
                                </big>
                            </big>
                        </big>
                        <button type="button" onclick='document.getElementById("AddProductContainer").style.display = "none";document.getElementById("RemoveProductContainer").style.display = "inline-block"; document.getElementById("ProductContainer").style.display = "block";' class="btn btn-success btn-sm" style="margin: 2px; margin-right: 10px;" id="AddProductContainer">
                            <span class="fa fa-plus"></span>
                        </button>
                        <button type="button" onclick='document.getElementById("AddProductContainer").style.display = "inline-block";document.getElementById("RemoveProductContainer").style.display = "none"; document.getElementById("ProductContainer").style.display = "none";' class="btn btn-danger" style="margin: 2px; margin-right: 10px; float: right; display: none" id="RemoveProductContainer">
                            <span class="fa fa-remove"></span>
                        </button>

                        <div style="margin: 20px 0; display: none" id="ProductContainer">







                            @using (Html.BeginForm("AddProduct", "Acts", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div style="padding-bottom: 0px;">


                                    <div class="form-group" style="margin-bottom: 0px;">
                                        <input id="idAct" name="idAct" type="hidden" value="@Model.ID" />
                                        <table class="table" style="margin-bottom: 0px;">

                                            <tr>

                                                <th>
                                                    @Html.DisplayName("Тип продукта")
                                                </th>

                                                <th>

                                                    @Html.DisplayName("Кол-во")

                                                </th>

                                                <th>

                                                    @Html.DisplayName("№ блока")

                                                </th>
                                                <th>

                                                    @Html.DisplayName("Дата продажи")



                                                </th>

                                                <th>
                                                    Дата приема
                                                </th>
                                                <th>Комментарий</th>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <div>
                                                        @Html.DropDownList("TypeProductID", TypeProductID, htmlAttributes: new { @class = "form-control", @style = "width:200px;", @id = "TypeProductID" })


                                                    </div>
                                                    <div>
                                                        Причина ремонта
                                                    </div>
                                                    <div id="WarningTypeFromUsersDiv">
                                                        @Html.DropDownList("WarningTypeFromUsers", null, "Нет", htmlAttributes: new { @class = "form-control", @id = "WarningTypeFromUsers", @style = "width: 200px;" })
                                                    </div>
                                                    <div>
                                                        Неисправность
                                                    </div>
                                                    <div id="TypeWarningIDDiv">
                                                        @Html.DropDownList("TypeWarningID1", TypeWarningID1, htmlAttributes: new { @class = "form-control", @id = "TypeWarningID1", @style = "width: 200px;" })
                                                    </div>
                                                </td>






                                                <td>

                                                    <select id="Count" class="form-control" style="width: 60px;">

                                                        @for (int i = 1; i < 100; i++)
                                                        {
                                                            if (i == 1)
                                                            {
                                                                <option value="@i" selected="selected">@i </option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@i">@i </option>
                                                            }
                                                        }

                                                    </select>

                                                </td>


                                                <td>
                                                    <div id="NumberBlockDiv">
                                                        @*  @Html.TextBox("NumberBlock1", "", htmlAttributes: new { @class = "form-control"  , @style = "width: 90px;" })*@
                                                        <input type="text" name="NumberBlock[0]" class="form-control" style="width: 70px;">

                                                    </div>
                                                </td>

                                                <td style="width: 160px;">
                                                    <div id="DateOfSaleDiv" style="width: 160px;">

                                                        <select name="DateOfSaleMM[0]" class="form-control" style="width: 70px; float: left;">
                                                            <option value="" selected="selected">Нет</option>

                                                            @for (int i = 1; i <= 12; i++)
                                                            {
                                                                <option value="@i">@i </option>

                                                            }

                                                        </select>



                                                        <select name="DateOfSaleYY[0]" class="form-control" style="width: 80px; float: left;">

                                                            <option value="" selected="selected">Нет</option>
                                                            @for (int i = 1990; i < DateTime.Now.Year + 3; i++)
                                                            {
                                                                @*if (i == DateTime.Now.Year)
                                                                    {
                                                                        <option value="@i" selected="selected">@i </option>
                                                                    }
                                                                    else
                                                                    {*@
                                                                <option value="@i">@i </option>
                                                                //}
                                                            }

                                                        </select>



                                                    </div>
                                                </td>



                                                <td>

                                                    <div>
                                                        @Html.Editor("DataOfReceipt", new { htmlAttributes = new { @class = "form-control", @type = "date", @id = "DataOfReceipt", @style = "width: 140px; font-size: 12px;" } })

                                                    </div>

                                                </td>

                                                <td>
                                                    @Html.TextArea("WarningComments", "", 5, 50, htmlAttributes: new { @id = "WarningComments", @style = "width: 100%" })
                                                </td>


                                            </tr>

                                        </table>


                                    </div>

                                </div>

                                <div class="card-footer">
                                    <button type="submit" formaction="/Acts/AddProduct" formmethod="post" class="btn btn-primary" style="margin-right: 12px">Добавить</button>
                                </div>
                            }






                        </div>


                        <button type="button" onclick="CloseRepairAll();" id="ButtonGone" class="btn btn-success" style="float: right;">Завершить все</button>


                          <table class="table table-hover" style="width: 80vw;margin: auto">
                            <tr>
                                @*<th>
                                        <input name="ChAll" id="ChAll" type="checkbox" value="All">
                                    </th>*@
                                <th>
                                    Название
                                </th>
                                <th>
                                    Номер
                                </th>
                                <th>
                                    Дата продажи
                                </th>
                                <th>
                                    Причина ремонта
                                </th>
                                <th>
                                    Неисправность
                                </th>
                                <th>
                                    Комментарий
                                </th>
                                <th>
                                    Завершено
                                </th>
                                <th>Тип</th>
                                <th></th>
                            </tr>

                            @foreach (var item in journalOfRepair)
                            {


                                <tr>
                                    @*<td>
                                             <input name="Ch[@item.ID.ToString()]" id="ChBox"  type="checkbox" value=@item.ID.ToString()>
                                        </td>*@

                                    <td>
                                        @item.ProductType.Name
                                    </td>
                                    <td>
                                        @item.NumberBlock
                                    </td>
                                    <td>

                                        @if (item.DateOfSale != null)
                                        {
                                            @Html.DisplayName(((DateTime)item.DateOfSale).ToString("dd-MM-yy"))

                                        }
                                        else
                                        {
                                            @Html.DisplayName("Неизвестно")

                                        }

                                    </td>

                                    <td>
                                        @if (item.WarningTypeFromUser != null)
                                        {
                                            @Html.DisplayName(item.WarningTypeFromUsers.Name)

                                        }
                                        else
                                        {
                                            <div>

                                                @Html.DropDownList("WarningTypeFromUsers", WarningTypeFromUsers, "нет", htmlAttributes: new { @class = "form-control", @style = "width:150px;margin-right:10px;", @onchange = "changeWarningFromUser($( this ).val()," + item.ID.ToString() + ");" })

                                            </div>
                                        }

                                    </td>





                                    <td>
                                        @*@if (item.WarningType1 != null)
                                            {
                                                @Html.DisplayName(item.WarningType1.Name)

                                            }
                                            else
                                            {
                                                <div>

                                                    @Html.DropDownList("TypeWarningID", TypeWarningID[item.TypeProduct], htmlAttributes: new {@class = "form-control", @style = "width:150px;margin-right:10px;", @onchange = "changeWarning($( this ).val()," + item.ID.ToString() + ");"})*@

                                        @*</div>
                                            }*@

                                    </td>
                                    <td>
                                        @if (item.RepairComments != null)
                                        {
                                            @Html.DisplayName(item.RepairComments.Text)

                                        }
                                    </td>

                                    <td class="td_DateOfDelivery">

                                        @if (item.DateOfDelivery != null)
                                        {
                                            @Html.DisplayName(((DateTime)item.DateOfDelivery).ToString("dd-MM-yy"))

                                        }
                                        else
                                        {
                                            @Html.DisplayName("В процессе")

                                            <button type="button" id="CityIdButton" onclick='CloseRepair(@item.ID.ToString(), this);' class="btn btn-success btn-sm" style="margin-left: 2px;">
                                                <span class="fa fa-check"></span>
                                            </button>
                                        }


                                    </td>

                                    <td>

                                        <button type="button" id="CityIdButton" onclick='ToOtherType(@item.ID.ToString(), this);' class="btn btn-success btn-sm" style="margin-left: 2px;">
                                            <span class="fa fa-exchange"></span>
                                        </button>

                                    </td>

                                    <td width="120px">
                                        @*@Html.ActionLink("Изменить", "Edit", "JournalOfRepairs", new {id = item.ID}, htmlAttributes: new {@class = "btn btn-primary", @role = "button", @style = "margin:5px;"})
                                            @Html.ActionLink("Удалить", "Delete", "JournalOfRepairs", new {id = item.ID}, htmlAttributes: new {@class = "btn btn-primary", @role = "button", @style = "margin:5px;"})*@


                                        <a href="/JournalOfRepairs/Edit?id=@item.ID" class="btn btn-primary" role="button" style="margin-right: 5px">
                                            <span class="fa fa-pencil"></span>
                                        </a>

                                        <a href="/JournalOfRepairs/Delete?id=@item.ID" class="btn btn-danger" role="button" style="margin-right: 5px">
                                            <span class="fa fa-remove"></span>
                                        </a>

                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>

        </div>
 
