﻿@model SystemOfProductionControl.Models.Act

@{
    ViewBag.Title = "Edit";

    String CommentT = ViewBag.Comment;
    String UserProblemT = ViewBag.UserProblem;
    List<string> list = new List<string>(){"Платный", "Гарантийный"};
    String selectListTypeValue = "Платный";

    if (Model.Warranty.Value)
    {
        selectListTypeValue = "Гарантийный";
    }
    SelectList selectListType = new SelectList(list, selectListTypeValue);




 

}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.UserProblemComments)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Comment)


    <div class="form-group" style="width: 80vw;margin: auto">
        @Html.Label("Имя", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("Name", @Model.Name.TrimEnd(' '), new { htmlAttributes = new { @class = "form-control" } })
            @*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group" style="width: 80vw;margin: auto">
        @Html.Label("Город", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("City", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="width: 80vw;margin: auto">
        @Html.Label("Компания", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Company", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group" style="width: 80vw;margin: auto">
        @Html.Label("Тип акта", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("selectListType", selectListType, htmlAttributes: new { @class = "form-control", @value = selectListTypeValue })
            @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
        </div>
    </div>
     
  
    <div class="form-group" style="width: 80vw;margin: auto">
        @Html.Label("Дата создания", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <input type="date" name="DateCreate" value="@Model.DateCreate.ToString("yyyy-MM-dd")" class="form-control" />

        </div>
    </div>


    <div class="form-group" style="width: 80vw;margin: auto">
        @Html.Label("Причина ремонта", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextArea("UserProblemText", UserProblemT, 4, 50, new { htmlAttributes = new { @class = "form-control" } })

        </div>
    </div>


    <div class="form-group" style="width: 80vw;margin: auto">
        @Html.Label("Комментарий", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextArea("CommentText", CommentT, 4, 50, new { htmlAttributes = new { @class = "form-control" } })

        </div>
    </div>

    <div class="form-group" style="width: 80vw;margin: auto">
        @Html.Label("Дата отправки", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @if (Model.DateOfShipment != null)
            {
                <input type="date" name="DateOfShipment" value="@Model.DateOfShipment.Value.ToString("yyyy-MM-dd")" class="form-control" />
            }
            else
            {
                <input type="date" name="DateOfShipment" class="form-control" />
            }

        </div>
    </div>


    <div class="form-group" style="width: 80vw;margin: auto">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    <a href="javascript: history.back()">« назад</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}