﻿@model IEnumerable<SystemOfProductionControl.Models.Act>

@{
    ViewBag.Title = "Index";
    Dictionary<int, List<string>> dictionaryPrice = ViewBag.DictionaryPrice;
}

		    <table class="table table-hover" style="width: 80vw;margin: auto">
    <tr>
        <th>
            Акт
        </th>

        <th>
            Создан
        </th>

        <th>
            Тип
        </th>

        <th>
            Город
        </th>
        <th>
            Компания
        </th>

        <th>
            Цена общая
        </th>

        <th>
            Комментарий
        </th>
    </tr>


    @{
        String a = "bg-success";
        String a1 = "bg-warning";
        String a2 = "bg-info";
        String type = "Неуказано";
    }

    @foreach (var item in Model)
    {
        String link = "/Acts/DetailsBookkeeping?id=" + @item.ID.ToString();
        <tr class="@a">

            <td width="30px" onclick="GoToLink('@link');">
                @item.Name

            </td>

            <td width="120px" onclick="GoToLink('@link');">
                @item.DateCreate.ToString("dd-MM:hh:mm")
            </td>

            @if (item.Warranty.Value)
            {
                type = "Гарантийный";
            }
            else
            {
                type = "Платный";
            }

            <td width="150px" onclick="GoToLink('@link');">
                @type
            </td>

            <td onclick="GoToLink('@link');">
                @Html.DisplayFor(modelItem => item.Cities.Name)
            </td>

            <td onclick="GoToLink('@link');">
                @Html.DisplayFor(modelItem => item.Company1.Name)
            </td>


            <td onclick="GoToLink('@link');">

                @if (dictionaryPrice.ContainsKey(item.ID))
                {
                    @Html.DisplayName(dictionaryPrice[item.ID][5])

                }

            </td>

            <td onclick="GoToLink('@link');">
                @Html.DisplayFor(modelItem => item.RepairComments.Text)
            </td>
            <td width="50px">
                <a href="/Acts/Edit?id=@item.ID" class="btn btn-primary" role="button" style="margin-right: 5px">
                    <span class="fa fa-pencil"></span>
                </a>
            </td>

        </tr>
    }

</table>