﻿@model IEnumerable<SystemOfProductionControl.Models.Act>

@{
    ViewBag.Title = "Index";
}



<br />
<br />
<table class="table table-hover" style="width: 80vw;margin: auto">
    <tr>
        <th>
            Акт
        </th>

        <th>
            Создан
        </th>

        <th>
            Город
        </th>
        <th>
            Компания
        </th>

        <th>
            Статус
        </th>


        <th>
            Комментарий
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {


        String a = "#ffffff";


        if (!item.Name.Contains("Новый"))
        {
            a = "#20B2AA";
        }

        if (item.Ready)
        {
            a = "#c5e384";
        }


        <tr style="background:  @a;">

            <td width="30px">



                @item.Name



            </td>



            <td width="120px">
                @item.DateCreate.ToString("dd-MM:hh:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cities.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company1.Name)
            </td>
            <td>
                @{
                    String statusAct = "Ремонт";

                    if (item.Ready)
                    {
                        statusAct = "Готов к отправке";
                    }
                    else if (item.ReadyStorage)
                    {
                        statusAct = "Ожидает обработки: Бухгалтерия";
                    }
                    else
                    {
                        var s = item.JournalOfRepair.FirstOrDefault(t => t.DateOfDelivery == null);
                        if (s == null)
                        {
                            statusAct = "Ожидает обработки: Склад";
                        }
                    }
                }

                @Html.DisplayName(statusAct)

            </td>


            <td>
                @Html.DisplayFor(modelItem => item.RepairComments.Text)
            </td>
            <td>



                <a href="/Acts/Edit?id=@item.ID" class="btn btn-primary" role="button" style="margin-right: 5px">
                    <span class="fa fa-pencil"></span>
                </a>
            </td>
            <td>
                <a href="/Acts/Details?id=@item.ID" class="btn btn-success" role="button" style="margin-right: 5px;">
                    <span class="fa fa-info-circle"></span>
                </a>
            </td>
            <td>

                @if (!@item.Ready || User.IsInRole("Admin"))
                {
                    <a href="/Acts/Delete?id=@item.ID" class="btn btn-danger" role="button" style="margin-right: 5px">
                        <span class="fa fa-remove"></span>
                    </a>
                }

            </td>
        </tr>
    }

</table>


@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    </script>

}