﻿@model IEnumerable<SystemOfProductionControl.Models.Act>

@{
    ViewBag.Title = "Index";
}



 
<br/>
<br/>
<table class="table" style="min-width: 900px;">
    <tr>
        <th>
            Акт
        </th>
        
        <th>
           Создан
        </th>

        <th>
            Город
        </th>
        <th>
            Компания
        </th>

        <th>
            Отправлен
        </th>


        <th>
            Комментарий
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {


        String a = "#ffffff";


        if (!item.Name.Contains("Новый"))
        {
            a = "#20B2AA"; 
        }

        if (item.Ready)
        {
            a = "#c5e384";
        }


          <tr style="background:  @a;">
           
            <td width="30px" >

 
                    @item.Name
                 


            </td>

             

            <td  width="120px">
              @item.DateCreate.ToString("dd-MM:hh:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cities.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company1.Name)
            </td>
            <td>
                @if (item.DateOfShipment != null)
                {
                    @item.DateOfShipment.Value.ToString("dd-MM-yy");
                }
                else
                {
                    @Html.DisplayName("Нет")
                }

            </td>


            <td>
                @Html.DisplayFor(modelItem => item.RepairComments.Text)
            </td>
            <td  width="160px"> 
              <a href="/Acts/Edit?id=@item.ID" class="btn btn-primary" role="button" style="margin-right: 5px">
                        <span class="fa fa-pencil"></span>
                    </a>
                 
                    <a href="/Acts/DetailsStorage?id=@item.ID" class="btn btn-success" role="button" style="margin-right: 5px;">
                        <span class="fa fa-info-circle"></span>
                    </a>  
</td>
        </tr>
    }

</table>