﻿@model IEnumerable<SystemOfProductionControl.Models.Act>
@{
    ViewBag.Title = "Index";
}
<body>
    <form>
        <table class="table table-hover" style="width: 80vw;margin: auto">
            <tr>
                <th>
                    Акт
                </th>
                <th>
                    Создан
                </th>
                <th>
                    Город
                </th>
                <th>
                    Компания
                </th>
                <th>
                    Отправлен
                </th>
                <th>
                    Комментарий
                </th>
            </tr>
            @{
                String a = "bg-success";
                String a1 = "bg-warning";
                String a2 = "bg-info";
            }
            @foreach (var item in Model)
            {
                string link = "/Acts/DetailsStorage?id=" + @item.ID.ToString();
        <div>
         
                       @if ((bool) !item.ActCondition.ProcessedStorage)
                {
                    a = a2;
                }
            </div>
                <tr class="@a">
                    <td onclick="GoToLink('@link');">
                        @item.Name
                    </td>
                    <td onclick="GoToLink('@link');">
                        @item.DateCreate.ToString("dd-MM:hh:mm")
                    </td>
                    <td onclick="GoToLink('@link');">
                        @Html.DisplayFor(modelItem => item.Cities.Name)
                    </td>
                    <td onclick="GoToLink('@link');">
                        @Html.DisplayFor(modelItem => item.Company1.Name)
                    </td>
                    <td onclick="GoToLink('@link');">
                        @if (item.DateOfShipment != null)
                        {
                            item.DateOfShipment.Value.ToString("dd-MM-yy");
                        }
                        else
                        {
                            Html.DisplayName("Нет");
                        }
                    </td>
                    <td onclick="GoToLink('@link');">
                        @Html.DisplayFor(modelItem => item.RepairComments.Text)
                    </td>
                </tr>
            }
        </table>
    </form>
</body>


