﻿@using SystemOfProductionControl.Models
@model SystemOfProductionControl.Models.Act

@{
    ViewBag.Title = "Report";
    Layout = null;
    String Count = ViewBag.Count;
    String NumberAndData = ViewBag.NumberAndData;
    String TypeName = ViewBag.TypeName;
    String Comments = ViewBag.Comments;
    String FIO = ViewBag.FIO;
    List<string> Prices = ViewBag.Prices;
    List<CompProductModel> Component = ViewBag.Component;
}



@*<head>

</head>*@

<style type="text/css">


    .underlined-container {
        border-bottom: 1px solid black; /* */
    }

    .underlined-content {
        border-bottom: 1px solid black;
        position: relative;
        bottom: -1px;
    }

    .lable {
        float: left;
        padding: 0 10px 0 0;
        font-weight: 600;
        position: relative;
        bottom: -1;
        background-color: white;
    }

    div {
        text-align: justify;
    }

    .text {
        font-family: Times New Roman;
        font-weight: 100;
        border-bottom: 1px solid black;
    }

    TABLE {
        border-collapse: collapse; /* Убираем двойные линии между ячейками */
        width: 100%; /* Ширина таблицы */
    }

    TH {
        /* Цвет фона ячейки */
        text-align: left; /* Выравнивание по левому краю */
        font-size: 14px;
    }

    TD {
        /* Цвет фона ячеек */
        font-size: 12px;
        height: 2vh;
        text-align: center; /* Выравнивание по центру */
    }

    TH, TD {
        border: 1px solid black; /* Параметры рамки */
        padding: 4px; /* Поля вокруг текста */
    }
</style>



<body>
<div>
<div style="width: 70vh; height: 100vh;  margin: 0 auto;">
<div style="margin-left:20px; margin-right:30px;">
<div style="margin:5px; height: 1vh; "></div>

<div style="text-align:center; height: 1vh;">Акт № @Model.Name</div>
<div style="margin:10px;"></div>
<div style="margin:5px; height: 1vh; "></div>
<div style="margin:5px; height: 1vh; "></div>
<div style="float:right; margin:10px;"> "___" ___________20__г</div>
<div style="margin:5px; height: 1vh; "></div>
<div style="margin:5px; height: 1vh; "></div>
<div style="margin:5px; height: 1vh; "></div>
<div style="margin:5px; height: 1vh; "></div>



<div class="underlined-container">

    <span class="underlined-content">
        Заказчик:  @Model.Company1.Name КПП:@Model.Company1.KPP ИНН:@Model.Company1.INN
    </span>


    <div class="clear"></div>
</div>


<div class="underlined-container">


    <span class="underlined-content">
        Наименование изделия: @TypeName
    </span>

    <div class="clear"></div>
</div>
@*<div class="underlined-container">


                        <span class="underlined-content">
                            Количество изделий: @Count
                        </span>

                        <div class="clear"></div>
                    </div>*@


<div class="underlined-container">
    <span class="underlined-content">
        Заводской номер, дата продажи: @NumberAndData
    </span>
    <div class="clear"></div>
</div>
<div class="underlined-container" style="height: 2vh;">
    @*<span class="underlined-content">

                        </span>*@
    @*<div class="clear"></div>*@
</div>

<div class="underlined-container">
    <span class="underlined-content">
        Ф.И.О проводившего ремонт: @FIO
    </span>
    <div class="clear"></div>
</div>

<div style="margin:5px; height: 1vh;">Произведена замена элементов</div>
<div style="margin:5px; margin:10px;">

    <table width="100%">
        <tr>
            <th>Код</th>
            <th>Наименование</th>
            <th>Кол-во</th>
            <th>Цена</th>
            <th>Сумма</th>
            <th>Склад</th>
        </tr>

        @{
            int count = 0;
        }
        @foreach (var item in Component)
        {
            count++;
            <tr>
                <td>@item.CodeOrABRM</td>
                <td>@item.Name</td>
                <td>@item.Size</td>
                <td>
                    @item.Price
                </td>
                <td>
                    @{
                        String d = "";

                        try
                        {
                            float a = float.Parse(item.Price);
                            float b = item.Size;
                            d = (a * b).ToString("0.00");
                        }
                        catch
                        {

                        }


                    }
                    @d
                </td>
                <td>
                    @item.Storage
                </td>
            </tr>
        }

        @for (int i = count; i < 15; i++)
        {


            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
        <tr style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;">
            <td style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;"></td>
            <td style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;"> </td>
            <td style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;"></td>
            <td>Итого</td>
            <td>@Prices[0]</td>
            <td style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;"></td>
        </tr>
        <tr style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;">
            <td style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;"></td>
            <td style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;"> </td>
            <td style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;"></td>
            <td>Наценка</td>
            <td>@Prices[1]</td>
            <td style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;"></td>
        </tr>
        <tr style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;">
            <td style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;"></td>
            <td style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;"> </td>
            <td style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;"></td>
            <td>Всего</td>
            <td>@Prices[2]</td>
            <td style="border-right: 0px; border-left: 0px; border-top: 0px; border-bottom: 0px;"></td>
        </tr>
    </table>
</div>

<div class="underlined-container">


    <span class="underlined-content">
        Выполнено работ:
        @if (Component.Count != 0)
        {
            @Html.Raw(" Замена элементов ");

        }

        @Html.Raw(" Ремонт ")
        @Html.Raw(" Диагностика ")
    </span>

    <div class="clear"></div>
</div>


<div style="margin-top: 5px; margin-top: 5px; float:right;" class="underlined-container">
    <span class="underlined-content" style="margin-right: 15px; min-width: 250px;"> Итого стоимость работ: @Prices[3]</span>
    <div class="clear"></div>
</div>

@*<div class="underlined-container">


                        <span class="underlined-content">
                            Наименование изделия: @TypeName
                        </span>

                        <div class="clear"></div>
                    </div>*@


<div style="height: 2vh; margin:5px;"></div>

<div class="underlined-container">
    <span class="underlined-content">
        Заключение: @Comments
    </span>
    <div class="clear"></div>
</div>


<div style="height: 1vh; margin-top:5px; float:right; ">Исполнитель___________________________________________________</div>
<div style="height: 2vh; margin:5px; "></div>
<div style="height: 1vh; margin-top:5px; float:right; ">Начальник ОТК_________________________________________________</div>
<div style="height: 1vh; margin:5px;"></div>
<div style="height: 1vh; margin:5px;"></div>
</div>
</div>
</div>
</body>


 
    <script>


        $(function() {
            window.print();

        });
    </script>
 
 