﻿@model SystemOfProductionControl.Models.Act

@{
    ViewBag.Title = "Report";
    Layout = null;
    String Count = ViewBag.Count;
    String TypeAndNumber = ViewBag.TypeAndNumber;
    String TypeName = ViewBag.TypeName;
    String Comments = ViewBag.Comments;
    List<string> Prices = ViewBag.Prices;
    String Summa = ViewBag.Summa;
    String applicationId = ViewBag.applicationId;
    DateTime dateCreate = ViewBag.dateCreate;
    //UserInfo userInfo = ViewBag.userInfo;


    String userFull = "_________________________________________________________";
    String user = "____________________"; 

    if (userInfo != null)
    {
        if ((userInfo?.LastName != "") && (userInfo?.FirstName != "") && (userInfo?.MiddleName != ""))
        {
            userFull  = userInfo.LastName + " " + userInfo.FirstName + " " + userInfo.MiddleName;
            user = userInfo.LastName + " " + userInfo.FirstName.Substring(0,1) + ". " + userInfo.MiddleName.Substring(0,1) + ".";
        }

    }
}

<head>

</head>

<style type="text/css">

 
.underlined-container{
  border-bottom: 1px solid black;/* */
 
}

.underlined-content{
  border-bottom: 1px  solid  black;
  position: relative;
  bottom: -1px;
  
}

.lable{
  float: left;
  padding: 0 10px 0 0;
  font-weight: 600;
  position: relative;
  bottom: -1;
  background-color: white;
  
}

.lable-right{
  float: right;
  padding: 0 10px 0 0;
  font-weight: 600;
  position: relative;
  bottom: -1;
  background-color: white;
  
}

.lable_easy{
  float: left;
  padding: 0 10px 0 0;
  font-weight: 300;
  position: relative;
  bottom: -1;
  background-color: white;
  
}

.lable_easy-right{
  float: right;
  padding: 0 10px 0 0;
  font-weight: 300;
  position: relative;
  bottom: -1;
  background-color: white;
  
}

div{
  text-align: justify;
}
   
    .text {
    
    font-family: Times New Roman;
    font-weight: 100;
     
    border-bottom: 1px solid black;
}

   TABLE {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    width: 100%; /* Ширина таблицы */
   }
   TH {
     /* Цвет фона ячейки */
    text-align: left; /* Выравнивание по левому краю */
    font-size: 14px;
   }
   TD {
      /* Цвет фона ячеек */
      font-size: 12px;
    height: 2vh;
    text-align: center; /* Выравнивание по центру */
   }
   TH, TD {
    border: 0px solid black; /* Параметры рамки */
    padding: 4px; /* Поля вокруг текста */
   }
    </style>



<body>
    <div>
        <div style="width: 90vw; height: 60vw;   margin: 0 auto;">
            <div style="margin-left:20px; margin-right:30px;">
                <div style="margin:5px; height: 1vh; "></div>

                <div style="text-align:center; height: 2vh;">АКТ</div>
                <div style="text-align:center; height: 2vh;">СДАЧИ-ПРИЕМКИ РЕМОНТНЫХ РАБОТ № @Model.Name</div>
                <div style="margin:10px;"></div>

                <div>
                    <div style="float:left;">г.Новосибирск</div>
                    <div style="float:right; margin:10px;"> "___" ___________201_г</div>
                </div>
                <div style="margin:5px; height: 2vh; "></div>
                <div style="margin:5px; height: 2vh; "></div>

                <div class="lable_easy">Заказчик:</div>
                <div class="underlined-container">

                    <span class="underlined-content">
                        @Model.Company1.Name КПП:@Model.Company1.KPP ИНН:@Model.Company1.INN
                    </span>
                    <div class="clear"></div>
                </div>
                <div style="margin:5px; height: 1vh; "></div>

                <div class="lable">Исполнитель:  ООО ППК "Эссан-Лифтэк"</div>
                <div class="clear"></div>

                <div style="margin:5px; height: 3vh; "></div>

                <div class="lable_easy">Мы, ниже подписавшиеся, представитель Заказчика</div>
                <div class="underlined-container">
                    <span class="underlined-content">
                        &nbsp;
                    </span>
                    <div class="lable_easy-right"> ,</div>
                    <div class="clear"></div>

                </div>


                <div class="lable_easy">с одной стороны, и представитель Исполнителя <u> <b>@userFull </b> </u>с другой стороны, составили настояший Акт о нижеследующем: </div>

                @*<div class="underlined-container">
            <span class="underlined-content">
               Бутакова Ольга Александровна
            </span>
            <div class="lable_easy-right">с другой стороны составили настояший Акт о нижеследующем:</div>
            <div class="clear"></div>

        </div>*@

                <div style="margin:5px; height: 2vh; "></div>



                <div class="lable_easy">1. Исполнитель оказал Заказчику услуги по ремонту:  </div>
                <div class="underlined-container">


                    <span class="underlined-content">
                        @TypeAndNumber
                    </span>
                    <div class="clear"></div>
                </div>

                <div class="lable_easy">Согласно заявке № @applicationId от @dateCreate.ToString("dd.MM.yyyy г.") в объемах, приведенных в техническом акте № @Model.Name от @Model.DateCreate.ToString("dd.MM.yyyy г.")</div>



                <div style="margin:5px; height: 2vh;"></div>




                @if (Model.Warranty.Value)
    {
            <div>
                <div class="lable_easy">2.</div>
                <div class="lable_easy">
                    <div>Стоимость расходных материалов составила: 0.00 рублей</div>
                    <div>Стоимость работ: 0.00 рублей</div>
                    <div>Налог на добавочную стоимость: 0.00 рублей</div>
                </div>
            </div>
}
else
{

            <div>
                <div class="lable_easy">2.</div>
                <div class="lable_easy">
                    <div>Стоимость расходных материалов составила: @Prices[2] рублей</div>
                    <div>Стоимость работ: @Prices[3] рублей</div>
                    <div>Налог на добавочную стоимость: @Prices[4] рублей</div>
                </div>
            </div>
}

                <div class="clear"></div>

                <div style="margin:5px; height: 8vh; "></div>

                <div class="lable_easy">Всего подлежит к оплате: </div>

                @if (Model.Warranty.Value)
    {
            <div class="underlined-container">
                <span class="underlined-content">
                    0,00 ( ноль рублей 00 копеек ) Гарантийный ремонт
                </span>
                <div class="clear"></div>
            </div>
}
else
{
            <div class="underlined-container">
                <span class="underlined-content">
                    @Prices[5] ( @Summa )
                </span>
                <div class="clear"></div>
            </div>
}



                <div style="margin:5px; height: 2vh; "></div>
                <div>

                    <div class="lable_easy">
                        <div>
                            Заказчик:
                        </div>
                        <div style="margin:5px; height: 1vh; "></div>
                        <div>
                            ____________/____________________/
                        </div>
                        <div>
                            &nbsp; (подпись)  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (Ф.И.О)
                        </div>
                        <div>
                            &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; М.П.
                        </div>
                    </div>
                    <div class="lable_easy-right">
                        <div class="lable_easy">
                            <div>
                                Исполнитель:
                            </div>
                            <div style="margin:5px; height: 1vh; "></div>
                            <div>
                                ____________/<u> @user </u>/
                            </div>
                            <div>
                                &nbsp; (подпись) &nbsp; &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; (Ф.И.О)
                            </div>

                            <div>
                                &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; М.П.
                            </div>

                        </div>

                    </div>
                </div>
                <div style="margin:5px; height:15vh; "></div>
                <div> Товарно-материальные ценности, вышедшие из ремонта, переданы заказчику на основании: </div>
                <div> доверенности №____ от "___"___________201__г. </div>
                <div> или квитанции №____ от "___"___________201__г. о передаче груза органам транспорта. </div>


                <div>


                </div>
            </div>
        </div>
    </div>
</body>

