﻿@model SystemOfProductionControl.Models.Act

@{
    ViewBag.Title = "Report";
    Layout = null;
    List<string[]> TypeAndNumber = ViewBag.TypeAndNumber;
    String boolWarranty = "";
    bool Type = false;

    if (Model.Warranty != null)
    {
        if (Model.Warranty.Value)
        {
            boolWarranty = "ГАРАНТИЙНЫХ ";
            Type = true;
        }
    }

}

<head>

</head>

<style type="text/css">

 
.underlined-container{
  border-bottom: 1px solid black;/* */
 
}

.underlined-content{
  border-bottom: 1px  solid  black;
  position: relative;
  bottom: -1px;
  
}

.lable{
  float: left;
  padding: 0 10px 0 0;
  font-weight: 600;
  position: relative;
  bottom: -1;
  background-color: white;
  
}

.lable-right{
  float: right;
  padding: 0 10px 0 0;
  font-weight: 600;
  position: relative;
  bottom: -1;
  background-color: white;
  
}

.lable_easy{
  float: left;
  padding: 0 10px 0 0;
  font-weight: 300;
  position: relative;
  bottom: -1;
  background-color: white;
  
}

.lable_easy-right{
  float: right;
  padding: 0 10px 0 0;
  font-weight: 300;
  position: relative;
  bottom: -1;
  background-color: white;
  
}

div{
  text-align: justify;
}
   
    .text {
    
    font-family: Times New Roman;
    font-weight: 100;
     
    border-bottom: 1px solid black;
}

   TABLE {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    width: 100%; /* Ширина таблицы */
   }
   TH {
     /* Цвет фона ячейки */
    text-align: center; /* Выравнивание по левому краю */
    font-size: 14px;
   }
   TD {
      /* Цвет фона ячеек */
   font-size: 12px;
    height: 2vh;
    text-align: center; /* Выравнивание по центру */
   }
   TH, TD {
    border: 1px solid black; /* Параметры рамки */
    padding: 4px; /* Поля вокруг текста */
   }
    </style>



<body>
    <div>
        <div style="width: 90vw; height: 60vw;   margin: 0 auto;">
            <div style="margin-left:20px; margin-right:30px;">
                <div style="margin:5px; height: 1vh; "></div>


                <div style="text-align:center; height: 2vh;">ЗАЯВКА № @Model.Name</div>
                <div style="text-align:center; height: 2vh;">НА ПРОВЕДЕНИЕ @boolWarranty РЕМОНТНЫХ РАБОТ</div>
                <div style="margin:20px;"></div>

                <div>
                    <div class="lable">Исполнитель:  ООО ППК "Эссан-Лифтэк"</div>
                    <div class="clear"></div>
                    <div style="float:right; margin:10px;"> "___" ___________201_г</div>
                </div>
                <div style="margin:5px; height: 2vh; "></div>
                <div style="margin:5px; height: 2vh; "></div>

                <div class="lable_easy">Заказчик:</div>
                <div class="underlined-container">

                    <span class="underlined-content">
                        @Model.Company1.Name КПП:@Model.Company1.KPP ИНН:@Model.Company1.INN
                    </span>
                    <div class="clear"></div>
                </div>
                <div style="margin:5px; height: 1vh; "></div> 

                <div style="margin:5px; height: 3vh; "></div>
                <div>
                    Просим произвести диагностику и ремонт следующих изделий:
                </div>
                
                
                <div style="margin:5px; margin:10px;">

                    <table width="100%">
                        <tr>
                            <th style="width: 150px;">Наименование</th>
                            <th style="width: 250px;">Серийный номер-дата продажи</th>
                            <th>Неисправность</th>
                            
                            
                        </tr>

                        @{
                            int count = 0;
                        }
                        @foreach (var item in TypeAndNumber)
                        {
                            count++;
                            <tr>
                                <td>@item[0]</td>
                                <td>@item[1]</td>  
                                <td>@item[2]</td>
                            </tr>
                                        }
  
                    </table>
                </div>
                <div style="margin:5px; height: 1vh; "></div>
              @if (Type)
              {
                  <div>
                      @*Гарантийный срок, установленный заводом-изготовителем:________месяцев.*@
                  </div>

              }
              else
              {

                <div>
                    Оплату согласно действующим тарифам гарантируем. Расходы на транспортировку до станции назначения включается в тариф.
                </div>
              }
                <div style="margin:5px; height: 1vh; "></div>
               <div>
                   <div>Заказчик:__________________________ _______________ ________________________</div>
                   <div>   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (должность)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (подпись)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (Ф.И.О.)</div>
               </div>


            </div>
        </div>
    </div>
    </body>

