﻿@using SystemOfProductionControl.Models
@model  List<CompProductModel>

@{
    ViewBag.Title = "Report";
    Layout = null;
    String name = ViewBag.name;
}



@*<head>

    </head>*@

<style type="text/css">


    .underlined-container {
        border-bottom: 1px solid black; /* */
    }

    .underlined-content {
        border-bottom: 1px solid black;
        position: relative;
        bottom: -1px;
    }

    .lable {
        float: left;
        padding: 0 10px 0 0;
        font-weight: 600;
        position: relative;
        bottom: -1;
        background-color: white;
    }

    div {
        text-align: justify;
    }

    .text {
        font-family: Times New Roman;
        font-weight: 100;
        border-bottom: 1px solid black;
    }

    TABLE {
        border-collapse: collapse; /* Убираем двойные линии между ячейками */
        width: 100%; /* Ширина таблицы */
    }

    TH {
        /* Цвет фона ячейки */
        text-align: left; /* Выравнивание по левому краю */
        font-size: 14px;
    }

    TD {
        /* Цвет фона ячеек */
        font-size: 12px;
        height: 2vh;
        text-align: center; /* Выравнивание по центру */
    }

    TH, TD {
        border: 1px solid black; /* Параметры рамки */
        padding: 4px; /* Поля вокруг текста */
    }
</style>



<body>
    <div>
        <div style="width: 70vh; height: 100vh;  margin: 0 auto;">
            <div style="margin-left:20px; margin-right:30px;">
                <div style="margin:5px; height: 1vh; "></div>

                <div style="text-align:center; height: 1vh;">@name</div>
               
 
              
             
                <div style="margin:5px; height: 1vh;">Произведена замена элементов</div>
                <div style="margin:5px; margin:10px;">

                    <table width="100%">
                        <tr>
                            <th>Код</th>
                            <th>Наименование</th>
                            <th>Кол-во</th>
                            <th>Склад</th>
                            <th>Выдано</th>
                            <th style="width: 30px;"></th>
                           
                        </tr>

                        @{
                            int count = 0;
                        }
                        @foreach (var item in Model)
                        {
                            count++;
                        <tr>
                            <td>@item.CodeOrABRM</td>
                            <td>@item.Name</td>
                            <td>@item.Size</td>
                            <td>
                                @item.Storage
                            </td>

                            <td></td>



                            <td></td>
                        </tr>
                        }

                        @for (int i = count; i < 15; i++)
                        {


                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                       
                    </table>
                </div> 
                <div style="height: 1vh; margin:5px;"></div>
                <div style="height: 1vh; margin:5px;"></div>
            </div>
        </div>
    </div>
</body>



 