﻿@model SystemOfProductionControl.Models.Cities
@using SystemOfProductionControl.Models
@{
    ViewBag.Title = "Delete";
}


<h3>Уверены что хотите удалить?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("К списку", "Index", "Reference")
        </div>
    }
</div>
