﻿@model SystemOfProductionControl.Models.Cities
@using SystemOfProductionControl.Models

@{
    ViewBag.Title = "Подробно";
}


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("К списку", "Index", "Reference")
</p>
