﻿

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

td.youridhere {
    background-color: yellow;
}





ul.my-class {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.my-class {
    float: left;
    display: block;
    padding: 0px;
    color: darkred;
}

a.my-class {
    display: block;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 14px;
    color: black;
    font-weight: 500;
}




.navbar-custom {
    background-color: #bcd7cf
}
    /* change the brand and text color */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: red
    }
    /* change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color: red;
    }
    /* change the color of active or hovered links */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: red;
    }


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #35aa88;
    border-color: #35aa88
}

.display-name {
    font-weight: 600
}

.outquerycss {
    display: block;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 15px;
    color: #2a312c
}


.Equipment {
    display: block;
    padding: 8px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-size: 15px;
    color: #2a312c;
    font-weight: 600
}
